<footer class="py-6 bg-main">
      <div class="grid grid-cols-3 w-[1100px] mx-auto items-start justify-between">
            <a href="/" class="font-medium text-xl text-background">INTERNSHITS</a>
            <a href="https://x.com/internshit_id" target="_blank" class="justify-self-center">
                  <i class="uil uil-twitter text-xl text-background"></i>
            </a>
            <div class="justify-self-end text-sm text-background flex flex-col gap-2">
                  <a target="_blank" href="/terms-of-service">Terms Of Service</a>
                  <a target="_blank" href="/privacy-policy">Privacy Policy</a>
            </div>
      </div>
      <p class="text-sm text-background justify-self-end mt-2 text-center">Copyright by Internshits 2024, All right reserved</p>
</footer>


<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>
</html>