<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta name="description" content="Temukan kumpulan loker-loker untuk mahasiswa atau freshgraduate di Hup! Kami adalah platform job portal yang menyediakan loker magang maupun loker untuk freshgraduate.">
    <meta name="keywords" content="magang, internship, lowongan magang, pekerjaan, karir, pengalaman kerja, pelatihan, portal magang, peluang karir, kesempatan kerja, belajar kerja, mahasiswa, universitas, Hup, HUP, Hup Indonesia">
    <meta name="og:title" content="Hup Indonesia!">
    <meta name="og:description" content="Kita memberikan ruang yang aman untuk anak muda belajar masuk ke dunia dewasa melalui pengalaman kerja, canda, dan have fun.">
    <meta name="og:image" content="https://hup.co.id/favicon/hup-favicon.png"> -->

    <title>Internshit</title>
    <link rel="icon" type="image/x-icon" href="/img/Logo.png">

    <!-- <link rel="shortcut icon" href="/favicon/hup-favicon.png" type="image/x-icon"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"/>
    <link href="/css/output.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="/js/utils.js"></script>
    <script src="https://accounts.google.com/gsi/client" async></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  </head>
  <body class="bg-gradient-to-b from-slate-50 to-slate-100">
