<nav class="backdrop-blur-md bg-white/70 sticky top-0 z-20 noise">
    <div class="w-[1100px] mx-auto flex items-center justify-between">
        <div class="flex gap-20 items-center">
            <a href="/" class="font-bold text-2xl text-main flex items-center gap-2 tracking-wide">INSHIT</a>
            <div class="flex items-center gap-10">
                <a href="/community" class="text-sm font-medium text-thrid">Community</a>
                <a href="/market" class="text-sm font-medium text-thrid">Talent Market</a>
                <a target="_blank" href="https://saweria.co/internshits" class="text-sm font-medium text-thrid">Donate us</a>
            </div>
        </div>
    
        <div class="flex gap-4">
            <a id="nav-profile" href="/profile/me" class="my-4 flex items-center gap-4 bg-white shadow-md py-2 noise rounded-lg px-4">
                <div class="rounded-full w-9 h-9 bg-main flex items-center justify-center"><i class="uil uil-user-md text-xl text-white"></i></div>
                <div class="">
                    <p class="text-sm font-medium">Assami Muzaki</p>
                    <p class="text-xs">Visit Profile</p>
                </div>
            </a>
            <button id="button-login" class="my-6 hover:shadow-md duration-300 py-1 px-6 text-main text-lg rounded-md font-medium hover:bg-main hover:text-background">Login</button>
        </div>
    </div>
</nav>

<script>
    $.ajax({
        url: "/api/v1/users/verify-token",
        type: "GET",
        headers: {
            "Authorization": window.USER_TOKEN,
        },
        success: (isVerified) => {
            if(isVerified){
                $("#nav-profile").removeClass("hidden")
                $("#button-login").addClass("hidden")
            }else{
                $("#nav-profile").addClass("hidden")
                $("#button-login").removeClass("hidden")
            }
        },
        error: function (request, status, error) {
            return request
        },
    })
</script>