<style>
    .google-signin-button {
        width: 100%;
        display: flex;
        justify-content: center;
    }
</style>

<nav class="backdrop-blur-md bg-white/70 sticky top-0 z-20 noise py-2.5 lg:py-6 px-[5%] lg:p-0">
    <div class="lg:w-[1100px] mx-auto flex items-center justify-between">
        <div class="flex gap-14 items-center">
            <a href="/" class="font-bold text-2xl text-main flex items-center gap-2 tracking-wide flex items-center"><img src="/img/Logo.png" class="w-[50px] border-2 border-main rounded-full" alt=""></a>
            <div class="hidden lg:flex items-center gap-10">
                <a href="/community" class="text-sm font-medium text-thrid hover:text-main">Community</a>
                <a href="/market" class="text-sm font-medium text-thrid hover:text-main">Talent Hunt</a>
                <a target="_blank" href="https://saweria.co/internshits" class="text-sm font-medium text-thrid hover:text-main">Donate us</a>
            </div>
        </div>
    
        <!-- ON DESKTOP -->
        <div class="hidden lg:flex gap-4">
            <div id="nav-profile" class="hidden flex items-center gap-8">
                <a href="/profile/bookmark" title="Bookmark" class="group rounded-full flex items-center justify-center"><i class="group-hover:text-main uil uil-bookmark text-black/80 text-2xl"></i></a>
                <a id="add-post" href="/posts/create" title="Add Post" class="hidden group rounded-full flex items-center justify-center"><i class="group-hover:text-main uil uil-file-plus-alt text-black/80 text-2xl"></i></a>
                <a href="/profile/me" class="my-4 flex items-center gap-4 bg-white shadow-md py-2 noise rounded-lg px-4">
                    <div class="rounded-full w-9 h-9 bg-main flex items-center justify-center"><i class="uil uil-user-md text-xl text-white"></i></div>
                    <div class="">
                        <p class="navbar-fullname text-sm font-medium">Assami Muzaki</p>
                        <p class="text-xs">Visit Profile</p>
                    </div>
                </a>
            </div>
            <button id="button-login" class="my-6 hover:shadow-md duration-300 py-1 px-6 text-main text-lg rounded-md font-medium hover:bg-main hover:text-background">Login</button>
        </div>

        <!-- ON MOBILE -->
        <i id="navbar-burger" class="uil uil-bars font-bold text-2xl lg:hidden cursor-pointer"></i>
    </div>
</nav>

<div id="popup-navbar" class="hidden w-full bg-white/70 border-b-2 shadow-md noise rounded-b-2xl pb-12 px-[5%] fixed z-[999] backdrop-blur-md">
    <div class="">
        <a id="navbar-profile-mobile" href="/profile/me" class="my-4 w-full border flex text-center items-center gap-4 bg-white shadow-md py-4 noise rounded-lg px-4">
            <div class="rounded-full w-9 h-9 bg-main flex items-center justify-center"><i class="uil uil-user-md text-xl text-white"></i></div>
            <div class="">
                <p class="navbar-fullname font-medium">Assami Muzaki</p>
                <p class="text-sm text-left">Visit Profile</p>
            </div>
        </a>

        <hr class="my-4">

        <div class="flex flex-col gap-3 items-center">
            <a href="/market" class="font-medium hover:text-main border w-full py-4 shadow bg-white border rounded-lg px-4 flex justify-between items-center">Talent Hunt <i class="uil uil-angle-right"></i></a>
            <div class="grid grid-cols-2 gap-4 w-full">
                <a href="/community" class="font-medium hover:text-main border w-full py-4 shadow bg-white border rounded-lg px-4 flex justify-between items-center">Community <i class="uil uil-angle-right"></i></a>
                <a target="_blank" href="https://saweria.co/internshits" class="font-medium hover:text-main border w-full py-4 shadow bg-white border rounded-lg px-4 flex justify-between items-center">Donate Us <i class="uil uil-angle-right"></i></a>
            </div>
            <form id="navbar-logout" action="/api/v1/users/logout" method="post" class="w-full">
                <button type="submit" class="w-full px-4 py-4 text-white rounded-lg shadow-md mt-4 hover:bg-red-600 font-bold text-sm bg-red-500"><i class="uil uil-signout"></i> Logout from this account</button>
            </form>
        </div>


        <div id="navbar-login-mobile" class="w-full">
            <hr class="my-4">
            <div class="w-full google-signin-button" id="login-with-google-mobile"></div>
        </div>
    </div>
</div>

<div id="popup-layer-navbar" class="hidden fixed top-0 bottom-0 right-0 left-0 bg-black/60 z-30 flex items-end lg:items-center justify-center">
    <div id="popup-login" class="hidden w-1/3 bg-background noise rounded-md py-8 px-12 relative">
        <div class="text-center ">
            <p class="text-4xl font-bold text-main">Internshits</p>
        </div>
        <hr class="my-4">
        <div id="no-authorized" class="">
            <p class="text-sm text-black/70 text-center">Dengan bergabung, kamu dapat mengakses lebih banyak fitur, dan membuka personalisasi post</p>
            
            <div class="w-full flex justify-center">
                <button id="button-google" class="mx-auto mt-4"></button>
            </div>

            <p class="text-xs mt-4 text-center">Dengan melanjutkan, anda menyetujui <a target="_blank" href="/terms-of-service" class="text-main">Terms of Service</a> dan <a target="_blank" class="text-main" href="/privacy-policy">Privacy Policy</a> kami</p>
        </div>

        <button id="close-login" class="rounded-full w-10 h-10 flex items-center justify-center absolute top-0 right-0">
            <i class="uil uil-times text-xl"></i>
        </button>
    </div>
</div>





<script>
    $(document).ready(function() {
        var verifyTokenRequest = $.ajax({
            url: "/api/v1/users/verify-token",
            type: "GET",
            headers: {
                "Authorization": window.USER_TOKEN,
            }
        });

        var userInfoRequest = verifyTokenRequest.then(function(isVerified) {
            if (!isVerified) {
                $("#navbar-profile-mobile").addClass("hidden")
                $("#navbar-logout").addClass("hidden")
                $("#navbar-login-mobile").removeClass("hidden")
                $("#nav-profile").addClass("hidden");
                $("#button-login").removeClass("hidden");
                google.accounts.id.initialize({
                    client_id: "698401836212-gi5ntasmqfae7hiu2q0qu8i2h2gco82h.apps.googleusercontent.com",
                    callback: handleCredentialResponse
                });
                google.accounts.id.renderButton(
                    document.getElementById("button-google"),
                    { theme: "outline", size: "large", text: "continue_with", shape: "pill" }  // customization attributes
                );
                google.accounts.id.renderButton(
                    document.getElementById("login-with-google-mobile"),
                    { theme: "outline", size: "large", text: "continue_with", shape: "pill" }  // customization attributes
                );

                google.accounts.id.prompt(); // also display the One Tap dialog
                return $.Deferred().resolve(); // Return a resolved deferred object to continue the chain
            } else {
                $("#navbar-profile-mobile").removeClass("hidden")
                $("#navbar-logout").removeClass("hidden")
                $("#navbar-login-mobile").addClass("hidden")
                $("#nav-profile").removeClass("hidden");
                $("#button-login").addClass("hidden");
                return $.ajax({
                    url: '/api/v1/users/info',
                    type: 'get',
                    dataType: 'json',
                    headers: {
                        "Authorization": window.USER_TOKEN,
                    }
                });
            }
        });

        $.when(userInfoRequest).done(function(userData) {
            userData = decrypt(userData.r);
            $(".navbar-fullname").text(`${userData.firstname} ${userData?.lastname}`)
            
            if (userData && userData.role < 2) {
                $("#add-post").removeClass("hidden");
            }
        }).fail(function(xhr) {
            if (xhr.responseText !== "undefined") {
                window.location.href = "/";
            }
        });

        function handleCredentialResponse(response) {
            $.ajax({
                url: '/api/v1/users/auth/google',
                method: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({ token: response.credential }),
                success: function(data) {
                    window.location.href = "/profile/me";
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        $("#button-login").click(function() {
            $("#popup-layer-navbar").fadeIn(function() {
                $("#popup-login").slideToggle();
                $("body").css("overflow", "hidden");
            }).css("display", "flex");
        });

        $("#navbar-burger").click(function(){
            $("#popup-navbar").slideToggle();
        })

        $("#close-login").click(function() {
            $("#popup-login").slideToggle(function() {
                $("#popup-layer-navbar").fadeOut(function() {
                    $("body").css("overflow", "auto");
                });
            });
        });
    });
</script>