
<section id="navbar" class="text-white py-3 w-full overlay px-5 lg:px-0">
    <div id="navbar-recruiter-seeker" class="hidden">
        <div class="flex justify-between items-center w-full lg:w-[1036px] m-auto">
            <div class="left flex items-center gap-10">
                <div class="brand flex gap-2 self-auto items-center">
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="33" viewBox="0 0 70 33" fill="none">
                        <g clip-path="url(#clip0_14_24)">
                            <path d="M42.3998 9.84899L41.1918 27.203L35.9716 26.8363L35.4603 23.8813C33.5053 25.9427 31.276 26.8855 28.7723 26.7097C27.8709 26.6464 27.0284 26.4608 26.2448 26.153C25.4861 25.847 24.9231 25.441 24.5558 24.935C24.3497 24.6425 24.2226 23.9385 24.1745 22.8231C24.1514 21.7095 24.2186 20.0208 24.3762 17.7573L25.0117 8.62757L31.4336 9.07868L30.8034 18.1329C30.7684 18.6359 30.7397 19.2279 30.7175 19.9087C30.6953 20.5895 30.7406 21.0224 30.8536 21.2072C31.0113 21.471 31.5033 21.632 32.3295 21.69L32.933 21.6945C33.6358 21.7186 34.3732 21.6061 35.1454 21.357L35.9778 9.39788L42.3998 9.84899Z" fill="white"/>
                            <path d="M55.8706 10.4161C57.6733 10.5428 59.0583 11.2466 60.0259 12.5277C61.0202 13.7854 61.414 15.8982 61.2074 18.866C61.0534 21.0792 60.7145 22.8751 60.1908 24.2537C59.6689 25.6071 59.1168 26.4908 58.5345 26.9048C57.9521 27.3188 56.9628 27.6158 55.5665 27.7957C54.1953 27.9774 52.7836 28.0172 51.3314 27.9152C50.9058 27.8853 50.194 27.8101 49.196 27.6894L48.8231 33.0465L42.3828 32.8595L43.9768 9.95977L49.2346 10.3291L49.6866 13.0525C50.4023 12.1676 51.2802 11.4837 52.3202 11.0008C53.3852 10.5196 54.5687 10.3247 55.8706 10.4161ZM53.4545 23.4393C53.7439 23.2574 53.9836 22.7056 54.1736 21.7838C54.3653 20.8369 54.4909 19.9359 54.5504 19.0807C54.6485 17.6723 54.5459 16.6162 54.2426 15.9125C53.9394 15.2088 53.262 14.8201 52.2104 14.7462C51.4593 14.6934 50.753 14.7196 50.0916 14.8248L49.5086 23.2L50.5522 23.3871C50.876 23.4351 51.3383 23.4802 51.9391 23.5224C52.7904 23.5822 53.2955 23.5545 53.4545 23.4393Z" fill="white"/>
                            <path d="M63.1179 20.1754C63.2114 18.1095 63.3268 13.9222 63.464 7.61341L63.5326 5.00239L69.6402 5.09023C69.6302 5.595 69.591 6.33782 69.5228 7.3187C69.3407 9.93438 69.0002 13.0191 68.5012 16.5729C68.289 18.1755 68.1546 19.2023 68.0981 19.6533C66.849 20.2479 65.2472 20.4892 63.2926 20.3772L63.1179 20.1754ZM64.8746 29.094C64.0484 29.036 63.3783 28.7236 62.8642 28.1567C62.377 27.5664 62.1657 26.806 62.2305 25.8755C62.2865 25.0706 62.6092 24.4109 63.1986 23.8963C63.8129 23.3834 64.5332 23.156 65.3594 23.214C66.1606 23.2703 66.8048 23.5936 67.2921 24.1838C67.8044 24.7758 68.0325 25.4743 67.9765 26.2791C67.9117 27.2097 67.5972 27.9331 67.0329 28.4495C66.4704 28.9408 65.7509 29.1556 64.8746 29.094Z" fill="white"/>
                            <path d="M2.31979 0.837579L9.75458 1.35983L9.15426 9.98378L8.82395 14.729L8.11735 24.8797L0.682567 24.3574L2.31979 0.837579Z" fill="white"/>
                            <path d="M15.5211 10.431L16.1214 1.80707L23.5562 2.32932L21.9189 25.8492L14.4842 25.3269L15.1908 15.1762L15.5211 10.431Z" fill="white"/>
                            <path d="M14.7714 12.7728C14.7714 14.2413 13.5863 15.7273 12.1244 15.7273C10.6624 15.7273 9.47729 14.2413 9.47729 12.7728C9.47729 11.3042 10.6624 9.96594 12.1244 9.96594C13.5863 9.96594 14.7714 11.3042 14.7714 12.7728Z" fill="white"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_14_24">
                            <rect width="70" height="33" fill="white"/>
                            </clipPath>
                        </defs>
                        </svg>
                    </a>
                </div>
                <div class="hidden lg:block list">
                    <ul class="flex gap-x-10 text-white-60">
                        <li class="list-none navbar-home"><a href="/">HOME</a></li>
                        <li class="list-none navbar-internship"><a href="/jobs">JOBS</a></li>
                        <!-- <li class="list-none navbar-activesearch"><a href="#">ORGS</a></li>
                        <li class="list-none navbar-activesearch"><a href="#">EVENT</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="hidden lg:flex items-center gap-3 py-[2px] px-5 divide-x divide-white/30">
                <a href="/seeker/profile" class="flex gap-3 items-center px-2">
                    <div class="w-9 h-9 rounded-full overflow-hidden bg-gray-200 object-cover">
                        <img id="navbar-seeker-logo" src="/img/Ellipse 3.svg" alt="" class="w-full h-full object-cover">
                    </div>
                    <div id="navbar-seeker" class="hidden">
                        <p id="navbar-seeker-name" class="font-semibold text-base text-white">Startup Keren</p>
                        <p class="text-xs text-teal-100 font-second cursor-pointer">View Profile</p>
                    </div>
                </a>
                <a href="/recruiter/profile" class="flex gap-3 items-center px-5">
                    <div class="w-9 h-9 rounded-lg overflow-hidden bg-gray-200 object-cover">
                        <img id="navbar-org-logo" src="/img/Ellipse 3.svg" alt="" class="w-full h-full object-cover">
                    </div>
                    <div id="navbar-recruiter" class="hidden">
                        <p id="navbar-org-name" class="font-semibold text-base text-white">Startup Keren</p>
                        <p class="text-xs text-teal-100 font-second cursor-pointer">View Profile</p>
                    </div>
                </a>
            </div>
            <div id="burger" class="lg:hidden">
                <svg class="burger-button" width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.66667 14C1.33611 14 1.05903 13.8882 0.835417 13.6646C0.611806 13.441 0.5 13.1639 0.5 12.8333C0.5 12.5028 0.611806 12.2257 0.835417 12.0021C1.05903 11.7785 1.33611 11.6667 1.66667 11.6667H20.3333C20.6639 11.6667 20.941 11.7785 21.1646 12.0021C21.3882 12.2257 21.5 12.5028 21.5 12.8333C21.5 13.1639 21.3882 13.441 21.1646 13.6646C20.941 13.8882 20.6639 14 20.3333 14H1.66667ZM1.66667 8.16667C1.33611 8.16667 1.05903 8.05486 0.835417 7.83125C0.611806 7.60764 0.5 7.33056 0.5 7C0.5 6.66944 0.611806 6.39236 0.835417 6.16875C1.05903 5.94514 1.33611 5.83333 1.66667 5.83333H20.3333C20.6639 5.83333 20.941 5.94514 21.1646 6.16875C21.3882 6.39236 21.5 6.66944 21.5 7C21.5 7.33056 21.3882 7.60764 21.1646 7.83125C20.941 8.05486 20.6639 8.16667 20.3333 8.16667H1.66667ZM1.66667 2.33333C1.33611 2.33333 1.05903 2.22153 0.835417 1.99792C0.611806 1.77431 0.5 1.49722 0.5 1.16667C0.5 0.836111 0.611806 0.559028 0.835417 0.335417C1.05903 0.111806 1.33611 0 1.66667 0H20.3333C20.6639 0 20.941 0.111806 21.1646 0.335417C21.3882 0.559028 21.5 0.836111 21.5 1.16667C21.5 1.49722 21.3882 1.77431 21.1646 1.99792C20.941 2.22153 20.6639 2.33333 20.3333 2.33333H1.66667Z" fill="white"/>
                </svg>
                <svg class="burger-button hidden" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 9.63339L2.28333 15.3501C2.06944 15.5639 1.79722 15.6709 1.46666 15.6709C1.13611 15.6709 0.863885 15.5639 0.649996 15.3501C0.436107 15.1362 0.329163 14.8639 0.329163 14.5334C0.329163 14.2028 0.436107 13.9306 0.649996 13.7167L6.36666 8.00006L0.649996 2.28339C0.436107 2.0695 0.329163 1.79728 0.329163 1.46672C0.329163 1.13617 0.436107 0.863946 0.649996 0.650057C0.863885 0.436168 1.13611 0.329224 1.46666 0.329224C1.79722 0.329224 2.06944 0.436168 2.28333 0.650057L8 6.36672L13.7167 0.650057C13.9306 0.436168 14.2028 0.329224 14.5333 0.329224C14.8639 0.329224 15.1361 0.436168 15.35 0.650057C15.5639 0.863946 15.6708 1.13617 15.6708 1.46672C15.6708 1.79728 15.5639 2.0695 15.35 2.28339L9.63333 8.00006L15.35 13.7167C15.5639 13.9306 15.6708 14.2028 15.6708 14.5334C15.6708 14.8639 15.5639 15.1362 15.35 15.3501C15.1361 15.5639 14.8639 15.6709 14.5333 15.6709C14.2028 15.6709 13.9306 15.5639 13.7167 15.3501L8 9.63339Z" fill="white"/>
                </svg>                                      
            </div>
        </div>
    </div>
    <div id="navbar-recruiter-recruiter" class="hidden">
        <div class="flex justify-between items-center w-full lg:w-[1036px] m-auto">
            <div class="left flex items-center gap-8">
                <div class="brand flex gap-2 self-auto items-center">
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="33" viewBox="0 0 70 33" fill="none">
                        <g clip-path="url(#clip0_14_24)">
                            <path d="M42.3998 9.84899L41.1918 27.203L35.9716 26.8363L35.4603 23.8813C33.5053 25.9427 31.276 26.8855 28.7723 26.7097C27.8709 26.6464 27.0284 26.4608 26.2448 26.153C25.4861 25.847 24.9231 25.441 24.5558 24.935C24.3497 24.6425 24.2226 23.9385 24.1745 22.8231C24.1514 21.7095 24.2186 20.0208 24.3762 17.7573L25.0117 8.62757L31.4336 9.07868L30.8034 18.1329C30.7684 18.6359 30.7397 19.2279 30.7175 19.9087C30.6953 20.5895 30.7406 21.0224 30.8536 21.2072C31.0113 21.471 31.5033 21.632 32.3295 21.69L32.933 21.6945C33.6358 21.7186 34.3732 21.6061 35.1454 21.357L35.9778 9.39788L42.3998 9.84899Z" fill="white"/>
                            <path d="M55.8706 10.4161C57.6733 10.5428 59.0583 11.2466 60.0259 12.5277C61.0202 13.7854 61.414 15.8982 61.2074 18.866C61.0534 21.0792 60.7145 22.8751 60.1908 24.2537C59.6689 25.6071 59.1168 26.4908 58.5345 26.9048C57.9521 27.3188 56.9628 27.6158 55.5665 27.7957C54.1953 27.9774 52.7836 28.0172 51.3314 27.9152C50.9058 27.8853 50.194 27.8101 49.196 27.6894L48.8231 33.0465L42.3828 32.8595L43.9768 9.95977L49.2346 10.3291L49.6866 13.0525C50.4023 12.1676 51.2802 11.4837 52.3202 11.0008C53.3852 10.5196 54.5687 10.3247 55.8706 10.4161ZM53.4545 23.4393C53.7439 23.2574 53.9836 22.7056 54.1736 21.7838C54.3653 20.8369 54.4909 19.9359 54.5504 19.0807C54.6485 17.6723 54.5459 16.6162 54.2426 15.9125C53.9394 15.2088 53.262 14.8201 52.2104 14.7462C51.4593 14.6934 50.753 14.7196 50.0916 14.8248L49.5086 23.2L50.5522 23.3871C50.876 23.4351 51.3383 23.4802 51.9391 23.5224C52.7904 23.5822 53.2955 23.5545 53.4545 23.4393Z" fill="white"/>
                            <path d="M63.1179 20.1754C63.2114 18.1095 63.3268 13.9222 63.464 7.61341L63.5326 5.00239L69.6402 5.09023C69.6302 5.595 69.591 6.33782 69.5228 7.3187C69.3407 9.93438 69.0002 13.0191 68.5012 16.5729C68.289 18.1755 68.1546 19.2023 68.0981 19.6533C66.849 20.2479 65.2472 20.4892 63.2926 20.3772L63.1179 20.1754ZM64.8746 29.094C64.0484 29.036 63.3783 28.7236 62.8642 28.1567C62.377 27.5664 62.1657 26.806 62.2305 25.8755C62.2865 25.0706 62.6092 24.4109 63.1986 23.8963C63.8129 23.3834 64.5332 23.156 65.3594 23.214C66.1606 23.2703 66.8048 23.5936 67.2921 24.1838C67.8044 24.7758 68.0325 25.4743 67.9765 26.2791C67.9117 27.2097 67.5972 27.9331 67.0329 28.4495C66.4704 28.9408 65.7509 29.1556 64.8746 29.094Z" fill="white"/>
                            <path d="M2.31979 0.837579L9.75458 1.35983L9.15426 9.98378L8.82395 14.729L8.11735 24.8797L0.682567 24.3574L2.31979 0.837579Z" fill="white"/>
                            <path d="M15.5211 10.431L16.1214 1.80707L23.5562 2.32932L21.9189 25.8492L14.4842 25.3269L15.1908 15.1762L15.5211 10.431Z" fill="white"/>
                            <path d="M14.7714 12.7728C14.7714 14.2413 13.5863 15.7273 12.1244 15.7273C10.6624 15.7273 9.47729 14.2413 9.47729 12.7728C9.47729 11.3042 10.6624 9.96594 12.1244 9.96594C13.5863 9.96594 14.7714 11.3042 14.7714 12.7728Z" fill="white"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_14_24">
                            <rect width="70" height="33" fill="white"/>
                            </clipPath>
                        </defs>
                        </svg>
                    </a>
                    <div class="flex items-center gap-1 bg-teal-8 rounded-lg h-[21px] py-0 px-1.5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                            <path d="M2.66668 14.1429C2.30001 14.1429 1.98612 14.0123 1.72501 13.7512C1.4639 13.4901 1.33334 13.1762 1.33334 12.8095V5.4762C1.33334 5.10953 1.4639 4.79564 1.72501 4.53453C1.98612 4.27342 2.30001 4.14286 2.66668 4.14286H5.33334V2.80953C5.33334 2.44286 5.4639 2.12897 5.72501 1.86786C5.98612 1.60675 6.30001 1.4762 6.66668 1.4762H9.33334C9.70001 1.4762 10.0139 1.60675 10.275 1.86786C10.5361 2.12897 10.6667 2.44286 10.6667 2.80953V4.14286H13.3333C13.7 4.14286 14.0139 4.27342 14.275 4.53453C14.5361 4.79564 14.6667 5.10953 14.6667 5.4762V12.8095C14.6667 13.1762 14.5361 13.4901 14.275 13.7512C14.0139 14.0123 13.7 14.1429 13.3333 14.1429H2.66668ZM6.66668 4.14286H9.33334V2.80953H6.66668V4.14286Z" fill="#3DD1DB"/>
                            </svg>
                        <p class="text-teal-100 text-base font-normal tracking-[1.6px]">RECRUITER</p>
                    </div>
                </div>
                <div class="list">
                    <ul class="flex gap-x-10 text-white-60">
                        <li class="list-none navbar-dashboard"><a href="/recruiter/dashboard">DASHBOARD</a></li>
                        <li class="list-none navbar-post"><a href="/recruiter/post">POST</a></li>
                        <li class="list-none navbar-tokens"><a href="/recruiter/tokens">TOKEN</a></li>
                    </ul>
                </div>
            </div>
            <div class="hidden lg:flex items-center gap-3 py-[2px] px-5 divide-x divide-white/30">
                <a href="/seeker/profile" class="flex gap-3 items-center px-2">
                    <div class="w-9 h-9 rounded-full overflow-hidden bg-gray-200 object-cover">
                        <img id="navbar-seeker-logo" src="/img/Ellipse 3.svg" alt="" class="w-full h-full object-cover">
                    </div>
                    <div id="navbar-seeker" class="hidden">
                        <p id="navbar-seeker-name" class="font-semibold text-base text-white">Startup Keren</p>
                        <p class="text-xs text-teal-100 font-second cursor-pointer">View Profile</p>
                    </div>
                </a>
                <a href="/recruiter/profile" class="flex gap-3 items-center px-5">
                    <div class="w-9 h-9 rounded-lg overflow-hidden bg-gray-200 object-cover">
                        <img id="navbar-org-logo" src="/img/Ellipse 3.svg" alt="" class="w-full h-full object-cover">
                    </div>
                    <div id="navbar-recruiter" class="hidden">
                        <p id="navbar-org-name" class="font-semibold text-base text-white">Startup Keren</p>
                        <p class="text-xs text-teal-100 font-second cursor-pointer">View Profile</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="navbar-seeker-only" class="hidden flex justify-between items-center w-full lg:w-[1036px] m-auto">
        <div class="left flex items-center">
            <div class="brand">
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="33" viewBox="0 0 70 33" fill="none">
                    <g clip-path="url(#clip0_14_24)">
                      <path d="M42.3998 9.84899L41.1918 27.203L35.9716 26.8363L35.4603 23.8813C33.5053 25.9427 31.276 26.8855 28.7723 26.7097C27.8709 26.6464 27.0284 26.4608 26.2448 26.153C25.4861 25.847 24.9231 25.441 24.5558 24.935C24.3497 24.6425 24.2226 23.9385 24.1745 22.8231C24.1514 21.7095 24.2186 20.0208 24.3762 17.7573L25.0117 8.62757L31.4336 9.07868L30.8034 18.1329C30.7684 18.6359 30.7397 19.2279 30.7175 19.9087C30.6953 20.5895 30.7406 21.0224 30.8536 21.2072C31.0113 21.471 31.5033 21.632 32.3295 21.69L32.933 21.6945C33.6358 21.7186 34.3732 21.6061 35.1454 21.357L35.9778 9.39788L42.3998 9.84899Z" fill="white"/>
                      <path d="M55.8706 10.4161C57.6733 10.5428 59.0583 11.2466 60.0259 12.5277C61.0202 13.7854 61.414 15.8982 61.2074 18.866C61.0534 21.0792 60.7145 22.8751 60.1908 24.2537C59.6689 25.6071 59.1168 26.4908 58.5345 26.9048C57.9521 27.3188 56.9628 27.6158 55.5665 27.7957C54.1953 27.9774 52.7836 28.0172 51.3314 27.9152C50.9058 27.8853 50.194 27.8101 49.196 27.6894L48.8231 33.0465L42.3828 32.8595L43.9768 9.95977L49.2346 10.3291L49.6866 13.0525C50.4023 12.1676 51.2802 11.4837 52.3202 11.0008C53.3852 10.5196 54.5687 10.3247 55.8706 10.4161ZM53.4545 23.4393C53.7439 23.2574 53.9836 22.7056 54.1736 21.7838C54.3653 20.8369 54.4909 19.9359 54.5504 19.0807C54.6485 17.6723 54.5459 16.6162 54.2426 15.9125C53.9394 15.2088 53.262 14.8201 52.2104 14.7462C51.4593 14.6934 50.753 14.7196 50.0916 14.8248L49.5086 23.2L50.5522 23.3871C50.876 23.4351 51.3383 23.4802 51.9391 23.5224C52.7904 23.5822 53.2955 23.5545 53.4545 23.4393Z" fill="white"/>
                      <path d="M63.1179 20.1754C63.2114 18.1095 63.3268 13.9222 63.464 7.61341L63.5326 5.00239L69.6402 5.09023C69.6302 5.595 69.591 6.33782 69.5228 7.3187C69.3407 9.93438 69.0002 13.0191 68.5012 16.5729C68.289 18.1755 68.1546 19.2023 68.0981 19.6533C66.849 20.2479 65.2472 20.4892 63.2926 20.3772L63.1179 20.1754ZM64.8746 29.094C64.0484 29.036 63.3783 28.7236 62.8642 28.1567C62.377 27.5664 62.1657 26.806 62.2305 25.8755C62.2865 25.0706 62.6092 24.4109 63.1986 23.8963C63.8129 23.3834 64.5332 23.156 65.3594 23.214C66.1606 23.2703 66.8048 23.5936 67.2921 24.1838C67.8044 24.7758 68.0325 25.4743 67.9765 26.2791C67.9117 27.2097 67.5972 27.9331 67.0329 28.4495C66.4704 28.9408 65.7509 29.1556 64.8746 29.094Z" fill="white"/>
                      <path d="M2.31979 0.837579L9.75458 1.35983L9.15426 9.98378L8.82395 14.729L8.11735 24.8797L0.682567 24.3574L2.31979 0.837579Z" fill="white"/>
                      <path d="M15.5211 10.431L16.1214 1.80707L23.5562 2.32932L21.9189 25.8492L14.4842 25.3269L15.1908 15.1762L15.5211 10.431Z" fill="white"/>
                      <path d="M14.7714 12.7728C14.7714 14.2413 13.5863 15.7273 12.1244 15.7273C10.6624 15.7273 9.47729 14.2413 9.47729 12.7728C9.47729 11.3042 10.6624 9.96594 12.1244 9.96594C13.5863 9.96594 14.7714 11.3042 14.7714 12.7728Z" fill="white"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_14_24">
                        <rect width="70" height="33" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                </a>
            </div>
            <div class="hidden lg:block list">
                <ul class="flex gap-x-10 ml-32 text-white-60">
                    <li class="list-none navbar-home"><a href="/">HOME</a></li>
                    <li class="list-none navbar-internship"><a href="/jobs">JOBS</a></li>
                    <!-- <li class="list-none navbar-orgs"><a href="#">ORGS</a></li>
                    <li class="list-none navbar-events"><a href="#">EVENTS</a></li> -->
                </ul>
            </div>
        </div>
        <div class="utils hidden lg:flex items-center gap-4 py-[2px] px-5 bg-[#2d2d2d] rounded-2xl">
            <div class="info text-right">
                <p id="navbar-seeker-name" class="font-semibold text-base text-white">Jarwo Slebew</p>
                <p class="text-xs text-teal-100 font-second cursor-pointer"><a href="/seeker/profile">View Profile</a></p>
            </div>
            <div class="w-[56px] h-[56px] rounded-full overflow-hidden border-4 border-[#3d3d3d]">
                <img id="navbar-seeker-logo" src="/img/Ellipse 3.svg" alt="profile-picture" class="w-full h-full object-cover">
            </div>
        </div>
        <div id="burger" class="lg:hidden">
            <svg class="burger-button" width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.66667 14C1.33611 14 1.05903 13.8882 0.835417 13.6646C0.611806 13.441 0.5 13.1639 0.5 12.8333C0.5 12.5028 0.611806 12.2257 0.835417 12.0021C1.05903 11.7785 1.33611 11.6667 1.66667 11.6667H20.3333C20.6639 11.6667 20.941 11.7785 21.1646 12.0021C21.3882 12.2257 21.5 12.5028 21.5 12.8333C21.5 13.1639 21.3882 13.441 21.1646 13.6646C20.941 13.8882 20.6639 14 20.3333 14H1.66667ZM1.66667 8.16667C1.33611 8.16667 1.05903 8.05486 0.835417 7.83125C0.611806 7.60764 0.5 7.33056 0.5 7C0.5 6.66944 0.611806 6.39236 0.835417 6.16875C1.05903 5.94514 1.33611 5.83333 1.66667 5.83333H20.3333C20.6639 5.83333 20.941 5.94514 21.1646 6.16875C21.3882 6.39236 21.5 6.66944 21.5 7C21.5 7.33056 21.3882 7.60764 21.1646 7.83125C20.941 8.05486 20.6639 8.16667 20.3333 8.16667H1.66667ZM1.66667 2.33333C1.33611 2.33333 1.05903 2.22153 0.835417 1.99792C0.611806 1.77431 0.5 1.49722 0.5 1.16667C0.5 0.836111 0.611806 0.559028 0.835417 0.335417C1.05903 0.111806 1.33611 0 1.66667 0H20.3333C20.6639 0 20.941 0.111806 21.1646 0.335417C21.3882 0.559028 21.5 0.836111 21.5 1.16667C21.5 1.49722 21.3882 1.77431 21.1646 1.99792C20.941 2.22153 20.6639 2.33333 20.3333 2.33333H1.66667Z" fill="white"/>
            </svg>
            <svg class="burger-button hidden" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 9.63339L2.28333 15.3501C2.06944 15.5639 1.79722 15.6709 1.46666 15.6709C1.13611 15.6709 0.863885 15.5639 0.649996 15.3501C0.436107 15.1362 0.329163 14.8639 0.329163 14.5334C0.329163 14.2028 0.436107 13.9306 0.649996 13.7167L6.36666 8.00006L0.649996 2.28339C0.436107 2.0695 0.329163 1.79728 0.329163 1.46672C0.329163 1.13617 0.436107 0.863946 0.649996 0.650057C0.863885 0.436168 1.13611 0.329224 1.46666 0.329224C1.79722 0.329224 2.06944 0.436168 2.28333 0.650057L8 6.36672L13.7167 0.650057C13.9306 0.436168 14.2028 0.329224 14.5333 0.329224C14.8639 0.329224 15.1361 0.436168 15.35 0.650057C15.5639 0.863946 15.6708 1.13617 15.6708 1.46672C15.6708 1.79728 15.5639 2.0695 15.35 2.28339L9.63333 8.00006L15.35 13.7167C15.5639 13.9306 15.6708 14.2028 15.6708 14.5334C15.6708 14.8639 15.5639 15.1362 15.35 15.3501C15.1361 15.5639 14.8639 15.6709 14.5333 15.6709C14.2028 15.6709 13.9306 15.5639 13.7167 15.3501L8 9.63339Z" fill="white"/>
            </svg>                                      
        </div>
    </div>
    <div id="burger-nav" class="hidden bg-[#303030] w-full absolute top-[3.5rem] left-0 right-0 pt-5 pb-8 px-5 rounded-b-2xl">
        <a href="/seeker/profile">
            <div id="view-profile" class="flex items-center gap-4 rounded-2xl bg-[#343434] py-5 px-4">
                <div class="w-[50px] h-[50px] rounded-full overflow-hidden border-4 border-[#3d3d3d]">
                    <img id="navbar-seeker-logo-mobile" src="/img/Ellipse 3.svg" alt="profile-picture" class="w-full h-full object-cover">
                </div>
                <div class="info">
                    <p id="navbar-seeker-name-mobile" class="font-semibold text-xl text-white-80">Jarwo Slebew</p>
                    <p class="text-sm text-white-60 font-second cursor-pointer">View Profile</p>
                </div>
            </div>
        </a>
        <div class="flex justify-between lg:block py-4 px-4 w-full font-second rounded-lg bg-[#343434] mt-4 items-center">
            <p class="text-base font-bold text-white-60">Jobs</p>
            <a href="/jobs" class="text-sm text-white-60 flex items-center gap-2">Browse and apply to jobs <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.06251 8.00004L0.937505 1.87504C0.729172 1.66671 0.628478 1.42018 0.635422 1.13546C0.642367 0.850735 0.750005 0.604207 0.958339 0.395874C1.16667 0.187541 1.4132 0.083374 1.69792 0.083374C1.98264 0.083374 2.22917 0.187541 2.43751 0.395874L8.83334 6.81254C9 6.97921 9.125 7.16671 9.20834 7.37504C9.29167 7.58337 9.33334 7.79171 9.33334 8.00004C9.33334 8.20837 9.29167 8.41671 9.20834 8.62504C9.125 8.83337 9 9.02087 8.83334 9.18754L2.41667 15.6042C2.20834 15.8125 1.96528 15.9132 1.68751 15.9063C1.40973 15.8993 1.16667 15.7917 0.958339 15.5834C0.750005 15.375 0.645839 15.1285 0.645839 14.8438C0.645839 14.5591 0.750005 14.3125 0.958339 14.1042L7.06251 8.00004Z" fill="white" fill-opacity="0.6"/>
                </svg>
            </a>
        </div>
        <form action="/api/v1/seeker/logout" method="post">
            <button class="bg-[#2A2A2A] w-full py-4 flex items-center gap-2 text-red-500 font-bold mt-10 rounded-lg justify-center font-second text-sm">
                <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.66667 15.5C1.20833 15.5 0.815972 15.3368 0.489583 15.0104C0.163194 14.684 0 14.2917 0 13.8333V2.16667C0 1.70833 0.163194 1.31597 0.489583 0.989583C0.815972 0.663194 1.20833 0.5 1.66667 0.5H6.66667C6.90278 0.5 7.10069 0.579861 7.26042 0.739583C7.42014 0.899306 7.5 1.09722 7.5 1.33333C7.5 1.56944 7.42014 1.76736 7.26042 1.92708C7.10069 2.08681 6.90278 2.16667 6.66667 2.16667H1.66667V13.8333H6.66667C6.90278 13.8333 7.10069 13.9132 7.26042 14.0729C7.42014 14.2326 7.5 14.4306 7.5 14.6667C7.5 14.9028 7.42014 15.1007 7.26042 15.2604C7.10069 15.4201 6.90278 15.5 6.66667 15.5H1.66667ZM11.8125 8.83333H5.83333C5.59722 8.83333 5.39931 8.75347 5.23958 8.59375C5.07986 8.43403 5 8.23611 5 8C5 7.76389 5.07986 7.56597 5.23958 7.40625C5.39931 7.24653 5.59722 7.16667 5.83333 7.16667H11.8125L10.25 5.60417C10.0972 5.45139 10.0208 5.26389 10.0208 5.04167C10.0208 4.81944 10.0972 4.625 10.25 4.45833C10.4028 4.29167 10.5972 4.20486 10.8333 4.19792C11.0694 4.19097 11.2708 4.27083 11.4375 4.4375L14.4167 7.41667C14.5833 7.58333 14.6667 7.77778 14.6667 8C14.6667 8.22222 14.5833 8.41667 14.4167 8.58333L11.4375 11.5625C11.2708 11.7292 11.0729 11.809 10.8438 11.8021C10.6146 11.7951 10.4167 11.7083 10.25 11.5417C10.0972 11.375 10.0243 11.1771 10.0312 10.9479C10.0382 10.7188 10.1181 10.5278 10.2708 10.375L11.8125 8.83333Z" fill="#FC4545"/>
                </svg>
                 Logout from this account
            </button>
        </form>
    </div>
</section>