<%- include('./layouts/header'); -%>

<main class="bg-body lg:w-[720px] h-screen min-h-screen max-h-screen m-auto overflow-y-scroll shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)] relative">
    <div class="px-4 lg:px-10 py-8">
        <a href="/" class="material-symbols-outlined text-[30px]">
            arrow_back
        </a>

        <p class="text-2xl mt-4 font-bold text-second mb-8">Post internship</p>


        <form id="form-add-post" class="pb-20">
            <div class="flex flex-col gap-4 mt-4">
                <input type="text" id="" name="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Nama Pekerjaan" required />
                <input type="url" id="" name="link" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Link" required />
                <div class="w-full grid grid-cols-2 gap-4">
                    <input type="text" name="company" id="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Perusahaan" required />
                    <input type="text" name="location" id="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Lokasi" required />
                </div>
                <input type="text" id="" name="tags" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Bidang" required />
                <div class="">
                    <label for="date-picker" class="block text-sm font-medium text-second">Tanggal Job di Post</label>
                    <input type="date" name="post_date" id="date-picker" class="w-full mt-2 text-sm bg-gray-50 rounded-lg border-gray-300 p-2.5">
                </div>
                <div class="">
                    <label for="date-picker" class="block text-sm font-medium text-second">Dimana post ditemukan</label>
                    <select name="platform" id="" class="w-full mt-2 text-sm bg-gray-50 rounded-lg border-gray-300 p-2.5">
                        <option value="Linkedin">Linkedin</option>
                        <option value="Kalibrr">Kalibrr</option>
                        <option value="Jobstreet">Jobstreet</option>
                        <option value="Glints">Glints</option>
                        <option value="Indeed">Indeed</option>
                        <option value="Lainnya...">Lainnya...</option>
                    </select>
                </div>
                
                <button type="submit" class="w-full rounded-full bg-second font-bold text-sm py-2.5 text-white mt-8">Posting !</button>
            </div>
        </form>
    </div>



    


    <div class="lg:sticky fixed bottom-0 flex justify-around divide-x divide-second/60 left-0 right-0 bg-body rounded-t-2xl shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)] py-4 lg:py-3">
        <a href="/" class="material-symbols-outlined text-[30px] cursor-pointer text-black/60 w-full text-center">
            home
        </a>
    </div>
</main>

<%- include('./layouts/footer'); -%>

<script>
    const form_update = document.getElementById("form-add-post");
    $(`#form-add-post`).submit(function(e){
        e.preventDefault();
        let formData = new FormData(form_update)
        $.ajax({
            url: "/api/v1/posts",
            type: "POST",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            encrypt: "multipart/form-data",
            processData: false,
            success: (response, _, xhr) => {
                if(xhr.status == 201) {
                    location.reload()
                }
            },
            error: function (request, status, error) {
                alert("Error!")
            },
        });
    })
</script>