<%- include('./layouts/header'); -%>

<main class="bg-body shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)] lg:w-[1000px] h-screen max-h-screen m-auto overflow-y-scroll relative">
    <div class="flex justify-center items-center px-10 py-6 shadow-lg sticky top-0 bg-body z-50">
        <p class="font-second font-bold text-2xl text-second cursor-pointer tracking-wide">- INTERNSHIT -</p>
    </div>
    
    <hr>
    
    <!-- LINK DONASI, WARNING, TOTAL USER, TOTAL POST -->
    <div class="px-4 lg:px-10 pt-10">
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
            <div id="user-count-body" class="hidden p-4 bg-white shadow-md rounded-lg">
                <p class="font-bold text-second text-sm lg:text-base">User Mendaftar</p>
                <p id="user-count" class="text-lg font-bold text-second">0</p>
            </div>
            <div class="p-4 bg-white shadow-md rounded-lg">
                <p class="font-bold text-second flex items-center gap-2 text-sm lg:text-base"><img width="25px" src="/img/Logo.png" alt=""> Loker dipost</p>
                <p id="post-count" class="text-lg font-bold text-second">0</p>
            </div>
            <div class="p-4 bg-white shadow-md rounded-lg">
                <p class="font-bold text-second flex gap-2 items-center text-sm lg:text-base"><img width="25px" src="/img/Kalibrr.png" alt=""> Post Kalibrr</p>
                <p id="post-kalibrr-count" class="text-lg font-bold text-second">0</p>
            </div>
            <div class="p-4 bg-white shadow-md rounded-lg">
                <p class="font-bold text-second flex gap-2 items-center text-sm lg:text-base"><img width="25px" src="/img/Linkedin.png" alt=""> Post Linkedin</p>
                <p id="post-linkedin-count" class="text-lg font-bold text-second">0</p>
            </div>
            <div class="p-4 bg-white shadow-md rounded-lg">
                <p class="font-bold text-second flex gap-2 items-center text-sm lg:text-base"><img width="25px" src="/img/Jobstreet.png" alt=""> Post Jobstreet</p>
                <p id="post-jobstreet-count" class="text-lg font-bold text-second">0</p>
            </div>
            <div class="p-4 bg-white shadow-md rounded-lg">
                <p class="font-bold text-second flex gap-2 items-center text-sm lg:text-base"><img width="25px" src="/img/Glints.png" alt=""> Post Glints</p>
                <p id="post-glints-count" class="text-lg font-bold text-second">0</p>
            </div>
            <div class="p-4 bg-white shadow-md rounded-lg">
                <p class="font-bold text-second flex gap-2 items-center text-sm lg:text-base"><img width="25px" src="/img/Indeed.png" alt=""> Post Indeed</p>
                <p id="post-indeed-count" class="text-lg font-bold text-second">0</p>
            </div>
            <div class="p-4 bg-white shadow-md rounded-lg">
                <p class="font-bold text-second text-sm lg:text-base">Post platform lain</p>
                <p id="post-other-count" class="text-lg font-bold text-second">0</p>
            </div>
        </div>

        <div class="px-5 py-4 text-center bg-white shadow-md rounded-lg flex items-center justify-center w-[250px] mt-10 m-auto">
            <a id="post-other-count" class="w-full"><button class="text-lg font-bold w-full py-2 bg-second text-sm rounded-2xl text-body">Link Donasi</button></a>
        </div>
        <p class="text-sm text-red-500 mt-4 font-semibold">Note: Website ini tidak menarik biaya sama sekali, kalian bisa melakukan donasi, agar website ini tetap hidup dan mimin semangat upload.</p>

    </div>

    <!-- MAIN CONTENT, CARDS, SEARCHBAR -->
    <div class="px-4 lg:px-10 pt-14 pb-20">

        <!-- SAERCH BAR -->
        <div class="flex gap-4 items-center items-center">
            <div class="relative w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="search-bar" class="focus:outline-second block w-full py-2.5 px-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-gray-200 focus:border-gray-200" title="Login untuk menggunakan search bar" placeholder="Login dibutuhkan untuk menggunakan search bar" required />
            </div>
            <button type="button" id="button-setting" class="disabled:opacity-70 text-second rounded-lg">
                <span class="material-symbols-outlined">
                    settings
                </span>
            </button>
        </div>

        <!-- CARDS -->
        <div id="cards" class="grid lg:grid-cols-2 gap-4 mt-4">
            
        </div>

        <!-- BUTTON APABILA USER BELUM LOGIN HANYA MENAMPILKAN X JPOSTINGAN -->
        <div id="login" class="flex items-center justify-center w-full flex-col mt-8">
            <button class="text-sm font-bold text-white bg-second px-20 py-2.5 mt-8 rounded-lg mb-3 flex items-center gap-2"><span class="material-symbols-outlined">
                login
                </span> Login</button>
            <p class="text-lg font-semibold">untuk melihat lebih banyak posting</p>
        </div>
    </div>

    <!-- BUTTON FOOTER BAWAH, HOME, USER LOGIN -->
    <div class="lg:sticky fixed bottom-0 flex justify-around divide-x divide-second/60 left-0 right-0 bg-body rounded-t-2xl shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)] py-4 lg:py-3">
        <a href="/" class="material-symbols-outlined text-[30px] cursor-pointer text-black/60 w-full text-center">
            home
        </a>
        <a id="link-create-post" href="/create" class="hidden material-symbols-outlined text-[30px] cursor-pointer text-black/60 w-full text-center">
            add_circle
        </a>
        <button id="button-login" class="material-symbols-outlined text-[30px] cursor-pointer text-black/60 w-full text-center">
            person
        </button>
    </div> 

    <!-- LAYER APABILA LOGIN DIPENCET -->
    <div id="layer-login" class="hidden sticky h-screen bottom-0 right-0 left-0 top-0 bg-black/50">
        <div id="layer-login-panel" class="hidden w-full text-center flex flex-col items-center bg-white absolute bottom-0 py-8 px-6 lg:px-[15%] rounded-t-2xl">
            <div id="no-authorized" class="">
                <p class="text-lg font-bold mb-2">Bergabung dengan Link Magang</p>
                <p class="text-sm text-black/70 text-center">Dengan bergabung kamu dapat melihat lebih banyak post yang telah dipajang setiap harinya</p>
                <a href="/api/google" class="hover:bg-gray-200 hover:shadow-sm duration-300 my-4 flex gap-4 items-center py-2.5 w-full rounded-full border border-grey-200 justify-center"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="23" height="23" viewBox="0 0 48 48">
                    <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                    </svg> Login dengan Google</a>
                <p class="text-xs mt-2">Dengan melanjutkan, anda menyetujui <a target="_blank" href="/terms-of-service" class="text-second">Terms of Service</a> dan <a target="_blank" class="text-second" href="/privacy-policy">Privacy Policy</a> kami</p>
            </div>
            <div id="authorized" class="hidden">
                <p class="text-lg font-bold mb-2">Kamu sudah bergabung dengan Link Magang</p>
                <p class="text-sm text-black/70 text-center mb-6">Haloo! Terimakasih kamu sudah menjadi bagian dari website ini, dukungan sekecil apapun sangat berarti untukku</p>

                <button id="button-logout" class="hover:bg-red-600 hover:shadow-sm bg-red-500 text-white font-medium duration-300 my-4 flex gap-4 items-center py-2.5 w-full rounded-full border border-red-500 justify-center">
                    <span class="material-symbols-outlined">
                        logout
                    </span> 
                    Keluar dari Website
                </button>
            </div>
        </div>
    </div>

    <!-- LAYER APABILA TOMBOL SETTING DIPENCET -->
    <div id="layer-setting" class="hidden sticky h-screen bottom-0 right-0 left-0 top-0 bg-black/50">
        <div id="layer-setting-panel" class="hidden w-full text-center flex flex-col bg-white absolute bottom-0 py-8 px-6 lg:px-[15%] rounded-t-2xl">
            <p class="text-lg font-bold mb-1">Filter Postingan</p>
            <p class="text-sm text-black/70 text-center">Filter postingan yang ditampilkan berdasarkan:</p>
            <div class="mt-6">
                <div class="">
                    <p class="mt-4 font-bold text-sm text-left">Waktu di posting:</p>
                    <div class="flex items-center gap-4 mt-2">
                        <div class="flex items-center gap-1">
                            <input type="radio" name="post_date" id="DESC" checked>
                            <label for="DESC" class="text-sm">Postingan Terbaru</label>
                        </div>
                        <div class="flex items-center gap-1">
                            <input type="radio" name="post_date" id="ASC">
                            <label for="ASC" class="text-sm">Postingan Terlama</label>
                        </div>
                    </div>
                </div>
                <div class="mt-10">
                    <p class="mt-4 font-bold text-sm text-left">Platform:</p>
                    <div class="grid grid-cols-3 items-center gap-4 mt-2">
                        <div class="flex items-center gap-1">
                            <input type="checkbox" name="platform" value="glints" id="glints" checked>
                            <label for="glints" class="text-sm">Glints</label>
                        </div>
                        <div class="flex items-center gap-1">
                            <input type="checkbox" name="platform" value="indeed" id="indeed" checked>
                            <label for="indeed" class="text-sm">Indeed</label>
                        </div>
                        <div class="flex items-center gap-1">
                            <input type="checkbox" name="platform" value="jobstreet" id="jobstreer" checked>
                            <label for="jobstreer" class="text-sm">Jobstreet</label>
                        </div>
                        <div class="flex items-center gap-1">
                            <input type="checkbox" name="platform" value="kalibrr" id="kalibrr" checked>
                            <label for="kalibrr" class="text-sm">Kalibrr</label>
                        </div>
                        <div class="flex items-center gap-1">
                            <input type="checkbox" name="platform" value="linkedin" id="linkedin" checked>
                            <label for="linkedin" class="text-sm">Linkedin</label>
                        </div>
                        <div class="flex items-center gap-1">
                            <input type="checkbox" name="platform" value="other" id="other" checked>
                            <label for="other" class="text-sm">Other</label>
                        </div>
                    </div>
                </div>
                <button disabled id="button-apply-filter" class="disabled:bg-second/50 py-2 px-8 rounded-lg bg-second text-white font-bold text-sm mt-14">Terapkan Filter</button>
                <p id="warning-button-setting" class="text-xs text-red-500">Login dibutuhkan untuk menggunakan filter</p>
            </div>
        </div>
    </div>
</main>


<%- include('./layouts/footer'); -%>

<script>

    $("#button-login, #login").click(function(){
        $("main").toggleClass("overflow-y-scroll overflow-hidden")
        $("#layer-login").toggle()
        $("#layer-login-panel").slideToggle()
    })
    
    $("#button-setting").click(function(){
        $("main").toggleClass("overflow-y-scroll overflow-hidden")
        $("#layer-setting").toggle()
        $("#layer-setting-panel").slideToggle()
    })

    $("#layer-login").click(function(event){
        if($(event.target).is("#layer-login")){
            $("#layer-login-panel").slideToggle()
            setTimeout(() => {
                $("main").toggleClass("overflow-y-scroll overflow-hidden")
                $("#layer-login").toggle()
            }, 400)
        }
    })
    
    $("#layer-setting").click(function(event){
        if($(event.target).is("#layer-setting")){
            $("#layer-setting-panel").slideToggle()
            setTimeout(() => {
                $("main").toggleClass("overflow-y-scroll overflow-hidden")
                $("#layer-setting").toggle()
            }, 400)
        }
    })

    // CHECK IS USER LOGIN OR NOT?
    $.get("/api/v1/users/verify-token", function(isVerified){
        if(isVerified){
            GetPosts("", "DESC", "", "999")
            $("#login").remove()
            $("#authorized").show()
            $("#no-authorized").hide()
            $("#button-apply-filter").prop("disabled", false)
            $("#warning-button-setting").hide()
            $("#search-bar").prop("disabled", false).prop("placeholder", "Cari Pekerjaan, Nama Perusahaan, Lokasi, Atau Bidang...")
            const decoded = JSON.parse(atob(isVerified.accessToken.split('.')[1]));
            
            if(decoded.role == 1) {
                $("#link-create-post").show()
                $("#user-count-body").show()
            }
        }
    }).fail(function(xhr, status, error) {
        $("#search-bar, #search-button").prop("disabled", true)
        GetPosts("", "DESC", "", "8")
    });


    CountAllPlatform()


    $("#search-bar").change(function(){
        let keyword = $(this).val()
        $("#cards").html("")
        
        GetPosts(keyword)
    })

    $("#button-logout").click(function(){
        document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
        location.reload()
    })

    $("#button-apply-filter").click(function(){
        let FILTER_PLATFORM = []
        let FILTER_POST_DATE = $("input[name=post_date]:checked").prop("id")
        $("input[type=checkbox]:checked").each(function(_, item){
            FILTER_PLATFORM.push($(this).val())
        })

        $("main").toggleClass("overflow-y-scroll overflow-hidden")
        $("#layer-setting-panel").toggle()
        $("#layer-setting").toggle()

        $("#cards").html("")
        GetPosts("", FILTER_POST_DATE, FILTER_PLATFORM)
    })

    function decrypt(data, keys='<%= process.env.AES_KEYS %>'){
        let bytes = CryptoJS.AES.decrypt(data, keys)
        return JSON.parse(bytes.toString(CryptoJS.enc.Utf8))
    }

    function GetPosts(keyword="", post_date_order="DESC", platform="", limit='999'){
        const url = `/api/v1/posts?search=${keyword}&post_date=${post_date_order}&platform=${platform}&limit=${limit}`
        $.get(url, function(postsData){

            postsData = decrypt(postsData.r)

            if (postsData.datas.length !== 0){
                postsData.datas.forEach(post => {
                    GetCard(post)
                });
            }else{
                $("#cards").append(`
                    <div class="mt-4 flex flex-col justify-center items-center">
                        <p class="text-xl font-bold text-center">Tidak ada postingan ditemukan</p>
                        <p class="text-black/60 text-center text-sm mt-1">postingan yang kamu cari tidak di temukan di database :( Coba cari menggunakan keyword lain</p>
                        <img src="/img/NotFound.webp" width="50%" alt="">
                    </div>
                `)
            }
        })
    }

    function GetCard(post){
        let logo;
        switch (post.platform) {
            case "Linkedin":
                logo = "/img/Linkedin.png"
                break;
            case "Kalibrr":
                logo = "/img/Kalibrr.png"
                break;
            case "Jobstreet":
                logo = "/img/Jobstreet.png"
                break;
            case "Indeed":
                logo = "/img/Indeed.png"
                break;
            case "Glints":
                logo = "/img/Glints.png"
                break;
            default:
                logo = "/img/Other.png"
                break;
        }
        $("#cards").append(`
            <a href="${post.link}" target="_blank" class="card cursor-pointer hover:-translate-y-1 duration-300 rounded-2xl shadow-lg overflow-hidden">
                <div class="p-4 bg-white">
                    <p class="font-bold text-second text-sm">${timeAgo(post.post_date)}</p>
                    <b class="text-lg font-bold mt-3">${post.title.length > 38 ? `${post.title.substring(0,38)}..` : post.title}</b>
                    <p class="text-xs mb-2 text-black/80">${post.tags}</p>
                    <div class="flex gap-2 mb-3 text-sm items-center">
                        <p class="font-medium">${post.company}</p>
                        <p>•</p>
                        <p class="text-black/70">${post.location}</p>
                    </div>
                    <div class="text-sm flex gap-2 items-center mt-2">
                        <div class="flex -space-x-2 rtl:space-x-reverse">
                            <img class="w-6 h-6 border border-white rounded-full dark:border-gray-800 object-cover bg-center" src="${logo}" alt="">
                        </div>
                        <p class="text-black/60">Post ditemukan di <span class="font-semibold text-black/70">${post.platform}</span></p>
                    </div>
                </div>
            </a>
        `)
    }

    function CountAllPlatform(){
        // GET TOTAL POSTS IN DATABASES
        $.get("/api/v1/posts/count-all", postsCount => $("#post-count").text(postsCount))
        // GET TOTAL USERS IN DATABASES
        $.get("/api/v1/users/total-user", userCount => $("#user-count").text(userCount))

        // GET TOTAL POSTS IN DATABASES
        $.get("/api/v1/posts/count?platform=Kalibrr", postsCount => $("#post-kalibrr-count").text(postsCount))
        // GET TOTAL USERS IN DATABASES
        $.get("/api/v1/posts/count?platform=Linkedin", postsCount => $("#post-linkedin-count").text(postsCount))
        // GET TOTAL USERS IN DATABASES
        $.get("/api/v1/posts/count?platform=Glints", postsCount => $("#post-glints-count").text(postsCount))
        // GET TOTAL POSTS IN DATABASES
        $.get("/api/v1/posts/count?platform=Jobstreet", postsCount => $("#post-jobstreet-count").text(postsCount))
        // GET TOTAL USERS IN DATABASES
        $.get("/api/v1/posts/count?platform=Indeed", postsCount => $("#post-indeed-count").text(postsCount))
        // GET TOTAL USERS IN DATABASES
        $.get("/api/v1/posts/count?platform=Lainnya...", postsCount => $("#post-indeed-count").text(postsCount))

    }

    function timeAgo(dateString) {
        const date = new Date(dateString);
        const now = new Date();
        
        // Menghilangkan perbedaan waktu agar hanya tanggal yang dibandingkan
        date.setHours(0, 0, 0, 0);
        now.setHours(0, 0, 0, 0);

        const diffInMilliseconds = now - date;
        const diffInDays = Math.floor(diffInMilliseconds / (1000 * 60 * 60 * 24));

        if (diffInDays === 0) {
            return "Postingan hari ini";
        } else if (diffInDays === 1) {
            return "Postingan 1 hari lalu";
        } else if (diffInDays < 7) {
            return `Postingan ${diffInDays} hari lalu`;
        } else if (diffInDays < 30) {
            const weeks = Math.floor(diffInDays / 7);
            return `Postingan ${weeks} minggu lalu`;
        } else if (diffInDays < 365) {
            const months = Math.floor(diffInDays / 30);
            return `Postingan ${months} bulan lalu`;
        } else {
            const years = Math.floor(diffInDays / 365);
            return `Postingan ${years} tahun lalu`;
        }
    }
</script>