<%- include('./layouts/header'); -%>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DJ4YFB14B3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DJ4YFB14B3');
</script>
<%- include('./layouts/navbar-all'); -%>

<main class="noise">
    <div class="min-h-screen lg:w-[1100px] mx-auto py-6 lg:py-10 pb-20 px-[5%] lg:px-0">

        <!-- HERO -->
        <div class="my-6 grid items-center justify-center text-center">
            <div class="">
                <p class="text-thrid leading-tight text-[40px] text-center lg:text-[55px] font-bold">Cari <span class="text-main">Internshit</span></p>
                <p class="font-medium text-second/80 lg:text-lg text-center pt-2 lg:pt-4">dari semua penjuru platform</p>
                <div class="flex items-center mx-auto gap-4 mt-3 py-2 rounded-lg w-max">
                    <p class="font-medium text-xl"><i class="uil uil-arrow-left"></i></p>
                    <a href="https://glints.com/id/en"><img src="/img/Glints.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://id.indeed.com/"><img src="/img/Indeed.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://www.jobstreet.co.id/"><img src="/img/Jobstreet.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://www.kalibrr.com/home"><img src="/img/Kalibrr.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://www.linkedin.com/jobs/"><img src="/img/Linkedin.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <p class="font-medium text-xl"><i class="uil uil-arrow-right"></i></p>
                </div>
            </div>
        </div>


        <!-- SEARCH BAR -->
        <div id="search-bar" class="mt-12">
            <form id="form-search-job" class="flex items-center gap-4">   
                <div class="w-full relative">
                    <input type="text" id="input-search" value="" class="hover:shadow-lg focus:shadow-lg block w-full p-4 py-3 ps-6 font-medium text-gray-900 border border-gray-300 rounded-2xl bg-gray-50 focus:ring-main focus:border-main" placeholder="Super search, cari lowongan.." />
                    <button type="submit" class="text-main absolute end-2.5 bottom-2 focus:outline-none focus:ring-main font-medium rounded-full text-sm px-5 py-2"><i class="uil uil-search"></i></button>
                </div>
            </form>
        </div>

        <!-- Kalau post lebih dari 0, AKA ada post di list -->
        <div id="cards" class="grid lg:grid-cols-3 mt-8 gap-4">
            <!-- CARD HERE -->
        </div>

        <!-- Kalau post length == 0 -->
        <div id="cards-notfound" class="hidden mt-8 h-[60vh] flex items-center justify-center flex-col">
            <img src="/img/magnify.png" width="10%" alt="">
            <p class="font-medium text-base text-center mt-8">post tidak ditemukan..</p>
        </div>

        <!-- PAGINATION -->
        <div id="paginations" class="flex flex-col items-center mt-12">
            <span class="text-sm text-gray-700 dark:text-gray-400">
                Menampilkan <span id="limit-start" class="font-semibold text-gray-900 dark:text-white">0</span> sampai <span id="limit-end" class="font-semibold text-gray-900 dark:text-white">9</span> dari <span class="total-post font-semibold text-gray-900 dark:text-white"></span> Post
            </span>
            <div class="inline-flex mt-2 xs:mt-0 gap-4">
                <button id="pagination-back" class="disabled:bg-main/60 flex items-center justify-center px-6 py-1.5 text-base font-medium text-white bg-main rounded-lg hover:bg-main/90">
                    <i class="uil uil-angle-left text-xl"></i>
                </button>
                <button id="pagination-forward" class="disabled:bg-main/60 flex items-center justify-center px-6 py-1.5 text-base font-medium text-white bg-main border-gray-700 rounded-lg hover:bg-main/90">
                    <i class="uil uil-angle-right text-xl"></i>
                </button>
            </div>
        </div>

    </div>

    <div class="min-h-[30vh] lg:w-[1100px] mx-auto lg:py-14 pb-14 px-[5%] lg:px-0 flex flex-col items-center lg:items-start">
        <p class="text-3xl font-bold text-main">Talent Hunt</p>
        <p class="text-black/80 mt-2 flex items-center gap-2"><i class="uil uil-info-circle"></i> Tempat pamer kebolehan kamu</p>

        <div class="w-full grid lg:grid-cols-3 mt-6 overflow-hidden noise">
            <div class="lg:col-span-2">
                <img class="rounded-xl border-2 border-main" src="/img/Talent-hunt.png" alt="">
            </div>
            <div class="lg:py-12 lg:px-6 lg:p-5 mt-4 lg:mt-0 text-main">
                <p class="text-2xl font-semibold">Bergabung di Talent Hunt Internshit!</p>
                <p class="text-black/70 mt-3">Tempat para recruiter keren bisa nemuin kamu. Daftar sekarang, dan tunjukin semua keahlian kamu!</p>
                <a href="/talent" class="flex font-medium items-center justify-center py-3 rounded-md w-full bg-main text-white mt-8 lg:mt-6 flex items-center gap-2"><i class="uil uil-arrow-left"></i> Gabung jadi talent</a>
            </div>
        </div>
    </div>
</main>



<div class="hidden fixed top-0 bottom-0 right-0 left-0 bg-black/50 flex items-end lg:items-center justify-end lg:justify-center z-30" id="popup-home">
    
    <div id="popup-detail-job" class="hidden popup lg:w-1/2 bg-background noise rounded-t-2xl lg:rounded-3xl overflow-hidden">
        <div class="h-[85vh] lg:h-[500px] overflow-y-scroll lg:px-8 p-5 pb-20 py-8 relative">
            <button type="button" class="lg:hidden my-4 mb-6 flex items-center gap-2 close-x text-main font-medium text-base">
                <i class="uil uil-arrow-left"></i> Kembali ke Beranda
            </button>

            <!-- MAIN INFO -->
            <div class="w-full">
                <div class="grid lg:grid-cols-3 items-start">
                    <p id="popup-title" class="col-span-2 text-2xl font-bold text-main mb-4">Backend Developer</p>
                    <button id="close-detail-job" class="hidden lg:block justify-self-end font-medium text-2xl"><i class="uil uil-multiply"></i></button>
                </div>
                <p class="flex gap-2 items-center text-black/70"><i class="uil uil-building"></i><span id="popup-company">PT Enviromate Technology International</span></p>
                <p class="flex gap-2 items-center text-black/70 mt-1"><i class="uil uil-map-marker-alt"></i> <span id="popup-location">Surabaya</span></p>
                <div class="flex gap-4 items-center mt-4 ">
                    <a id="popup-link" href="#" target="_blank" class="w-max px-8 block py-2.5 self-start rounded-lg text-sm font-medium bg-main text-white shadow-md hover:scale-[1.01]"><i class="uil uil-external-link-alt"></i> Buka di <span id="popup-platform">Jobstreet</span></a>
                    <!-- <button id="close-detail-job" class="px-8 hidden lg:block text-main font-medium">Close</button> -->
                </div>
            </div>

            
            <div id="skills-need" class="hidden justify-self-start">
                <hr class="my-4">
                <p class="font-medium text-black/70">Keahlian yang dibutuhkan</p>
                <div id="skills" class="flex gap-3 mt-4 flex-wrap flex-row">
                    <!-- HERE -->
                </div>
            </div>
            
            <hr class="my-4">

            <div class="">
                <p class="text-black/60 font-bold mt-4 text-xl">Ringkasan Pekerjaan</p>
                <p id="popup-overview" class="mt-4 text-black/70 no-tailwind">Tidak ada overview ditampilkan ~</p>
            </div>

        </div>
    </div>

    <div id="popup-filter" class="popup hidden w-full rounded-t-2xl bg-background h-[85vh] p-5 overflow-y-scroll">
        <button type="button" class="lg:hidden my-4 mb-6 flex items-center gap-2 close-x text-main font-medium text-base">
            <i class="uil uil-arrow-left"></i> Kembali ke Beranda
        </button>
        <p class="text-main font-bold text-2xl mt-4">Filter Postingan</p>

        <div class="flex flex-col gap-4 mt-6">
            <div class="flex flex-col">
                <button id="dropdown-type-mobile" data-dropdown-toggle="dropdown-type-dd-mobile" class="bg-white border border-gray-300 focus:ring-1 focus:outline-none focus:ring-main font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center justify-between" type="button">Filter Tipe <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                    
                <!-- Dropdown menu -->
                <div id="dropdown-type-dd-mobile" class="z-10 border hidden w-[88%] bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-type-mobile">
                        <li>
                            <div class="flex items-center">
                                <input id="type-internship" type="checkbox" value="internship" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="type-internship" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Internship</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center">
                                <input id="type-parttime" type="checkbox" value="parttime" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="type-parttime" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Part-Time</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center">
                                <input id="type-fulltime" type="checkbox" value="fulltime" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="type-fulltime" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Full-Time</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="flex flex-col">
                <button type="button" id="dropdown-location-mobile" data-dropdown-toggle="dropdown-location-dd-mobile" data-dropdown-placement="bottom" class=" justify-between bg-white border border-gray-300 focus:ring-1 focus:outline-none focus:ring-main font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">Filter Lokasi <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdown-location-dd-mobile" class="w-[88%] border z-10 hidden bg-white rounded-lg shadow w-1/4 dark:bg-gray-700">
                    <div class="p-3">
                        <label for="input-group-search" class="sr-only">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input type="text" class="locations-input block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cari lokasi">
                        </div>
                    </div>
                    <ul class="list-locations h-28 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-location-mobile">
                        <!-- HERE -->
                    </ul>
                </div>
            </div>

            <div class="flex flex-col">
                
                <button type="button" id="dropdown-skills-mobile" data-dropdown-toggle="dropdown-skills-dd-mobile" data-dropdown-placement="bottom" class="justify-between bg-white border border-gray-300 focus:ring-1 focus:outline-none focus:ring-main font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">Filter Keahlian <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdown-skills-dd-mobile" class="w-[88%] border z-10 hidden bg-white rounded-lg shadow w-1/4 dark:bg-gray-700">
                    <div class="p-3">
                        <label for="input-group-search" class="sr-only">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input type="text" class="skills-input block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cari keahilan">
                        </div>
                    </div>
                    <ul class="list-skills h-28 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-skills-mobile">
                        <!-- HERE -->
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>

<%- include('./layouts/footer'); -%>

<script>


    const html = `<section class="flex w-full flex-col xl:max-w-[765px]"><div class="rounded-lg lg:border lg:border-b-0 lg:border-x-[#ECEDF0] lg:border-t-[#ECEDF0]"><div class="flex flex-col md:flex-row lg:mt-0"><div class="mx-auto flex w-full max-w-[1162px] flex-col gap-3 md:gap-0 lg:p-5" id="job-header"><div class="flex flex-col gap-y-[7px] lg:flex-row lg:gap-4"><img class="relative top-1.5 h-[58px] max-h-[44px] w-[58px] max-w-[44px] rounded-full border-2 object-contain p-[3px] md:static md:top-0 lg:max-h-[56px] lg:max-w-[56px]" src="https://cdn.sejutacita.id/6360884d82722200133ec57b/JobPortalCompanyLogo/1bd1a7c7-ee57-48fa-b8fb-41c0c06f5d89.png" alt="company logo" loading="lazy" width="56" height="56" style="box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px, rgba(0, 0, 0, 0.08) 0px 2px 12px;"><div class="flex flex-col"><div class="flex flex-col-reverse lg:flex-col"><h1 class="break-words text-xl font-bold text-neutral-100"><tspan>Female Personal Trainer - Pluit<tspan class="inline-flex"><div class="hidden lg:block"><img src="/images/job-detail/urgently-hiring-fire.png" width="20" height="24" alt="Urgently Needed" class="h-auto rotate-90"></div></tspan></tspan></h1><a class="text-sm font-medium text-tertiary-violet-50 md:text-base hover:font-semibold hover:text-tertiary-violet-50 hover:underline transition-all" href="/karir/fit-hub"><h2 class="text-tertiary-violet-50">FIT HUB <tspan class="relative -left-2 top-0.5"><svg class="ml-2 inline-flex h-[12px] w-[12px] shrink-0 md:h-[16px] md:w-[16px]" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.91986 0.858693C8.44186 0.282617 7.55801 0.282617 7.08 0.858693C6.73416 1.27549 6.15131 1.40769 5.65949 1.18089L5.62124 1.16325C4.95177 0.854526 4.16707 1.23435 3.9939 1.95095C3.86768 2.47329 3.40188 2.8425 2.86452 2.84616L2.80744 2.84655C2.07618 2.85152 1.53693 3.53137 1.69853 4.24456C1.81672 4.76615 1.5581 5.30008 1.07556 5.53069L1.0493 5.54324C0.386108 5.86019 0.192518 6.71311 0.653898 7.2853C0.99024 7.70243 0.99024 8.29762 0.653898 8.71474C0.192518 9.28693 0.386108 10.1399 1.0493 10.4568L1.07556 10.4694C1.5581 10.7 1.81672 11.2339 1.69853 11.7555C1.53693 12.4687 2.07618 13.1485 2.80744 13.1535L2.86452 13.1539C3.40188 13.1575 3.86768 13.5268 3.9939 14.0491C4.16707 14.7657 4.95177 15.1455 5.62124 14.8368L5.65949 14.8192C6.15131 14.5924 6.73416 14.7246 7.08 15.1414C7.55801 15.7174 8.44186 15.7174 8.91986 15.1414C9.2657 14.7246 9.84855 14.5924 10.3404 14.8192L10.3786 14.8368C11.0481 15.1455 11.8328 14.7657 12.006 14.0491C12.1322 13.5268 12.598 13.1575 13.1353 13.1539L13.1924 13.1535C13.9237 13.1485 14.4629 12.4687 14.3013 11.7555C14.1831 11.2339 14.4418 10.7 14.9243 10.4694L14.9506 10.4568C15.6138 10.1399 15.8073 9.28694 15.346 8.71474C15.0096 8.29762 15.0096 7.70243 15.346 7.2853C15.8073 6.71311 15.6138 5.86019 14.9506 5.54324L14.9243 5.53069C14.4418 5.30008 14.1831 4.76615 14.3013 4.24456C14.4629 3.53137 13.9237 2.85152 13.1924 2.84655L13.1353 2.84616C12.598 2.8425 12.1322 2.47329 12.006 1.95095C11.8328 1.23435 11.0481 0.854526 10.3786 1.16325L10.3404 1.18089C9.84855 1.40769 9.2657 1.27549 8.91986 0.858693ZM12.457 6.45713C12.8476 6.06661 12.8476 5.43344 12.457 5.04292C12.0665 4.65239 11.4333 4.65239 11.0428 5.04292L7.24993 8.83581L5.70704 7.29292C5.31651 6.90239 4.68335 6.90239 4.29282 7.29292C3.9023 7.68344 3.9023 8.31661 4.29282 8.70713L6.54283 10.9571C6.93335 11.3477 7.56651 11.3477 7.95704 10.9571L12.457 6.45713Z" fill="#009C9A"></path></svg></tspan></h2></a></div><div class="flex shrink-0 flex-wrap gap-1.5 md:flex-col lg:items-end lg:gap-2 mb-4 mt-[5px] lg:hidden"><div class="flex w-fit items-center rounded-md px-1.5 py-1 text-3xs font-medium leading-[1.3] lg:rounded-lg lg:px-2 lg:py-[7px] lg:text-2xs lg:font-semibold gap-[2px] bg-tertiary-wild-strawberry-0 text-tertiary-wild-strawberry-70 md:gap-1"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="shrink-0"><path d="M4 14V12.6667C4 11.9594 4.28095 11.2811 4.78105 10.781C5.28115 10.281 5.95942 10 6.66667 10H9.33333C9.512 10 9.68556 10.0169 9.854 10.0507M12.6667 10.6667L11.3333 12.6667H14L12.6667 14.6667M5.33333 4.66667C5.33333 5.37391 5.61428 6.05219 6.11438 6.55229C6.61448 7.05238 7.29276 7.33333 8 7.33333C8.70724 7.33333 9.38552 7.05238 9.88562 6.55229C10.3857 6.05219 10.6667 5.37391 10.6667 4.66667C10.6667 3.95942 10.3857 3.28115 9.88562 2.78105C9.38552 2.28095 8.70724 2 8 2C7.29276 2 6.61448 2.28095 6.11438 2.78105C5.61428 3.28115 5.33333 3.95942 5.33333 4.66667Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>Rekruter aktif 1 menit lalu</div></div><ul class="mt-0 flex flex-col gap-1 lg:mt-2"><li class="flex items-center gap-2 text-2sm md:text-sm"> <div class="flex h-3.5 w-3.5 items-center justify-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none" class="h-3 w-3" color="#27125C"><path d="M1.5625 12.3375V12.4375H1.6625H12.3375H12.4375V12.3375V11.375C12.4375 11.2669 12.3736 11.162 12.289 11.0682C12.2014 10.9713 12.0769 10.8702 11.9245 10.7685C11.6191 10.5646 11.1884 10.3493 10.6793 10.1529C9.66087 9.76015 8.3142 9.4375 7 9.4375C5.6858 9.4375 4.33913 9.76015 3.32073 10.1529C2.81156 10.3493 2.38085 10.5646 2.07551 10.7685C1.92313 10.8702 1.79863 10.9713 1.71105 11.0682C1.62637 11.162 1.5625 11.2669 1.5625 11.375V12.3375ZM7 0.1C7.90174 0.1 8.76654 0.458213 9.40416 1.09584C10.0418 1.73346 10.4 2.59826 10.4 3.5C10.4 4.40174 10.0418 5.26654 9.40416 5.90416C8.76654 6.54179 7.90174 6.9 7 6.9C6.09826 6.9 5.23346 6.54179 4.59584 5.90416C3.95821 5.26654 3.6 4.40174 3.6 3.5C3.6 2.59826 3.95821 1.73346 4.59584 1.09584C5.23346 0.458213 6.09826 0.1 7 0.1ZM7 1.65C6.50935 1.65 6.03879 1.84491 5.69185 2.19185C5.34491 2.53879 5.15 3.00935 5.15 3.5C5.15 3.99065 5.34491 4.46121 5.69185 4.80815C6.03879 5.15509 6.50935 5.35 7 5.35C7.49065 5.35 7.96121 5.15509 8.30815 4.80815C8.65509 4.46121 8.85 3.99065 8.85 3.5C8.85 3.00935 8.65509 2.53879 8.30815 2.19185C7.96121 1.84491 7.49065 1.65 7 1.65ZM7 7.975C8.15572 7.975 9.89309 8.26363 11.339 8.84176C12.0618 9.13079 12.7055 9.48973 13.1669 9.91597C13.6276 10.3415 13.9 10.8276 13.9 11.375V13.9H0.1V11.375C0.1 10.8276 0.372398 10.3415 0.833072 9.91597C1.29446 9.48973 1.93817 9.13079 2.66103 8.84176C4.10691 8.26363 5.84428 7.975 7 7.975Z" fill="currentColor" stroke="#FBFAFA" stroke-width="0.2"></path></svg></div><span> <a class="text-tertiary-violet-50" href="/?employment=contract">Kontrak</a></span></li><li class="flex items-center gap-2 text-2sm text-neutral-100 md:text-sm"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.35 12.6533L7.34993 12.6532L7.34732 12.6554C7.25071 12.738 7.12777 12.7835 7.00065 12.7835C6.87353 12.7835 6.75059 12.738 6.65398 12.6554L6.65327 12.6548C6.55995 12.5739 5.49459 11.6507 4.4511 10.3507C3.40203 9.04369 2.38409 7.36682 2.38398 5.787C2.39621 4.57069 2.88797 3.40835 3.75239 2.55258C4.61686 1.69674 5.78419 1.21669 7.00065 1.21675C8.21711 1.21669 9.38444 1.69674 10.2489 2.55258C11.1133 3.40834 11.6051 4.57067 11.6173 5.78696C11.6172 7.3669 10.6065 9.04383 9.56108 10.3507C8.51699 11.656 7.44813 12.5804 7.35 12.6533ZM6.96617 11.4988L7.00065 11.5316L7.03513 11.4988C7.52313 11.0342 8.40058 10.1524 9.15636 9.11568C9.91067 8.08097 10.5506 6.88278 10.5506 5.78675C10.5506 4.84523 10.1766 3.94227 9.51088 3.27652C8.84512 2.61076 7.94217 2.23675 7.00065 2.23675C6.05913 2.23675 5.15618 2.61076 4.49042 3.27652C3.82467 3.94227 3.45065 4.84523 3.45065 5.78675C3.45065 6.8915 4.09059 8.08967 4.84496 9.12229C5.60078 10.1569 6.47826 11.0343 6.96617 11.4988Z" fill="#27125C" stroke="white" stroke-width="0.1"></path><path d="M5.89414 3.88566C6.22167 3.66681 6.60674 3.55 7.00065 3.55C7.52887 3.55 8.03546 3.75984 8.40897 4.13335C8.78248 4.50686 8.99232 5.01344 8.99232 5.54167C8.99232 5.93558 8.87551 6.32065 8.65666 6.64818C8.43782 6.97571 8.12676 7.23098 7.76283 7.38173C7.3989 7.53247 6.99844 7.57191 6.6121 7.49506C6.22575 7.41822 5.87087 7.22853 5.59233 6.94999C5.31379 6.67145 5.1241 6.31657 5.04725 5.93022C4.97041 5.54388 5.00985 5.14342 5.16059 4.77949C5.31134 4.41556 5.56661 4.1045 5.89414 3.88566ZM6.48675 6.31078C6.63887 6.41242 6.8177 6.46667 7.00065 6.46667C7.24598 6.46667 7.48125 6.36921 7.65473 6.19574C7.8282 6.02227 7.92565 5.78699 7.92565 5.54167C7.92565 5.35872 7.8714 5.17988 7.76976 5.02776C7.66812 4.87565 7.52366 4.75709 7.35463 4.68708C7.18561 4.61707 6.99963 4.59875 6.82019 4.63444C6.64076 4.67013 6.47594 4.75823 6.34658 4.88759C6.21721 5.01696 6.12912 5.18178 6.09343 5.36121C6.05773 5.54064 6.07605 5.72663 6.14606 5.89565C6.21607 6.06467 6.33463 6.20914 6.48675 6.31078Z" fill="#27125C" stroke="white" stroke-width="0.1"></path></svg> <span><a class="text-tertiary-violet-50" href="/?location=onSite">On-site</a> • <a class="text-tertiary-violet-50" href="/?cityIds=160&amp;city=Jakarta+Utara">Jakarta Utara</a></span></li><div class="flex items-center gap-2 text-2sm text-neutral-100 md:text-sm"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.25 7.73217C10.582 8.40663 8.79925 8.75228 7 8.75008C5.14325 8.75008 3.37167 8.38842 1.75 7.73217M7 7.00008H7.00583M9.33333 3.50008V2.33342C9.33333 2.024 9.21042 1.72725 8.99162 1.50846C8.77283 1.28966 8.47609 1.16675 8.16667 1.16675H5.83333C5.52391 1.16675 5.22717 1.28966 5.00838 1.50846C4.78958 1.72725 4.66667 2.024 4.66667 2.33342V3.50008H9.33333ZM2.91667 11.6668H11.0833C11.3928 11.6668 11.6895 11.5438 11.9083 11.325C12.1271 11.1062 12.25 10.8095 12.25 10.5001V4.66675C12.25 4.35733 12.1271 4.06058 11.9083 3.84179C11.6895 3.623 11.3928 3.50008 11.0833 3.50008H2.91667C2.60725 3.50008 2.3105 3.623 2.09171 3.84179C1.87292 4.06058 1.75 4.35733 1.75 4.66675V10.5001C1.75 10.8095 1.87292 11.1062 2.09171 11.325C2.3105 11.5438 2.60725 11.6668 2.91667 11.6668Z" stroke="#27125C" stroke-linecap="round" stroke-linejoin="round"></path></svg><span>Min. Freshgrad</span></div><li class="flex items-center gap-2 text-2sm text-neutral-100 md:text-sm"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.16602 4.08341C1.16602 3.774 1.28893 3.47725 1.50772 3.25846C1.72652 3.03966 2.02326 2.91675 2.33268 2.91675H11.666C11.9754 2.91675 12.2722 3.03966 12.491 3.25846C12.7098 3.47725 12.8327 3.774 12.8327 4.08341V9.91675C12.8327 10.2262 12.7098 10.5229 12.491 10.7417C12.2722 10.9605 11.9754 11.0834 11.666 11.0834H2.33268C2.02326 11.0834 1.72652 10.9605 1.50772 10.7417C1.28893 10.5229 1.16602 10.2262 1.16602 9.91675V4.08341Z" stroke="#27125C" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7 8.75C7.9665 8.75 8.75 7.9665 8.75 7C8.75 6.0335 7.9665 5.25 7 5.25C6.0335 5.25 5.25 6.0335 5.25 7C5.25 7.9665 6.0335 8.75 7 8.75Z" stroke="#27125C" stroke-linecap="round" stroke-linejoin="round"></path><path d="M1.16602 5.25008C1.78485 5.25008 2.37835 5.00425 2.81593 4.56666C3.25352 4.12908 3.49935 3.53559 3.49935 2.91675" stroke="#27125C" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10.5 11.0833C10.5 10.4645 10.7458 9.871 11.1834 9.43342C11.621 8.99583 12.2145 8.75 12.8333 8.75" stroke="#27125C" stroke-linecap="round" stroke-linejoin="round"></path></svg><span>Rp5.000.000 – 15.000.000</span></li></ul><div class="mt-3 flex w-full gap-3"><div class="flex flex-col items-center"><button type="button" class="flex h-9 w-full items-center justify-center rounded-[61px] bg-tertiary-violet-50 px-12 text-xs font-bold text-white lg:max-w-[160px] disabled:cursor-not-allowed disabled:bg-neutral-30 whitespace-nowrap" id="easy-apply-button">Lamar Cepat</button><p class="mt-1 text-2xs font-medium text-tertiary-violet-50">Tidak Perlu Sign Up!</p></div><button class="flex h-9 min-w-[36px] items-center justify-center rounded-full border border-neutral-20" type="button"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.804 4.61532C14.804 2.55217 13.3935 1.7251 11.3627 1.7251H6.59351C4.62509 1.7251 3.1499 2.49577 3.1499 4.47773V15.5206C3.1499 16.0649 3.73562 16.4078 4.21005 16.1416L8.99652 13.4567L13.7416 16.1371C14.2168 16.4048 14.804 16.0619 14.804 15.5168V4.61532Z" stroke="#484848" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></button><button class="flex h-9 min-w-[36px] items-center justify-center rounded-full border border-neutral-20" type="button"> <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 6C14.7426 6 15.75 4.99264 15.75 3.75C15.75 2.50736 14.7426 1.5 13.5 1.5C12.2574 1.5 11.25 2.50736 11.25 3.75C11.25 4.99264 12.2574 6 13.5 6Z" stroke="#313131" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M4.5 11.25C5.74264 11.25 6.75 10.2426 6.75 9C6.75 7.75736 5.74264 6.75 4.5 6.75C3.25736 6.75 2.25 7.75736 2.25 9C2.25 10.2426 3.25736 11.25 4.5 11.25Z" stroke="#313131" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M13.5 16.5C14.7426 16.5 15.75 15.4926 15.75 14.25C15.75 13.0074 14.7426 12 13.5 12C12.2574 12 11.25 13.0074 11.25 14.25C11.25 15.4926 12.2574 16.5 13.5 16.5Z" stroke="#313131" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M6.44263 10.1326L11.5651 13.1176" stroke="#313131" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11.5576 4.88257L6.44263 7.86757" stroke="#313131" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></button></div></div><div class="shrink-0 flex-wrap gap-1.5 md:flex-col lg:items-end lg:gap-2 ml-auto hidden lg:flex"><div class="flex w-fit items-center rounded-md px-1.5 py-1 text-3xs font-medium leading-[1.3] lg:rounded-lg lg:px-2 lg:py-[7px] lg:text-2xs lg:font-semibold gap-[2px] bg-tertiary-wild-strawberry-0 text-tertiary-wild-strawberry-70 md:gap-1"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="shrink-0"><path d="M4 14V12.6667C4 11.9594 4.28095 11.2811 4.78105 10.781C5.28115 10.281 5.95942 10 6.66667 10H9.33333C9.512 10 9.68556 10.0169 9.854 10.0507M12.6667 10.6667L11.3333 12.6667H14L12.6667 14.6667M5.33333 4.66667C5.33333 5.37391 5.61428 6.05219 6.11438 6.55229C6.61448 7.05238 7.29276 7.33333 8 7.33333C8.70724 7.33333 9.38552 7.05238 9.88562 6.55229C10.3857 6.05219 10.6667 5.37391 10.6667 4.66667C10.6667 3.95942 10.3857 3.28115 9.88562 2.78105C9.38552 2.28095 8.70724 2 8 2C7.29276 2 6.61448 2.28095 6.11438 2.78105C5.61428 3.28115 5.33333 3.95942 5.33333 4.66667Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>Rekruter aktif 1 menit lalu</div></div></div></div><div></div></div><div class="flex h-fit flex-col rounded-md border border-neutral-15 bg-[#F4F4F480] p-3 lg:p-5 SectionWrapper_job_description__b5mOx mt-6 rounded-b-none border-b-0 lg:mt-0 lg:rounded-none lg:border-x-0"><h3 class="mb-3 text-sm font-bold text-neutral-100 lg:text-base">Deskripsi Pekerjaan</h3><ol><li>Membuat program training untuk&nbsp;<em>members</em></li><li>Memastikan&nbsp;<em>members</em>&nbsp;untuk bisa menjalankan program training</li><li>Mencapai target yang sudah ditentukan perusahaan</li></ol></div><div class="flex h-fit flex-col rounded-md border border-neutral-15 bg-[#F4F4F480] p-3 lg:mt-0 lg:p-5 SectionWrapper_job_description__b5mOx rounded-t-none border-t-0 !pt-0 lg:rounded-none lg:border-x-0"><h3 class="mb-3 text-sm font-bold text-neutral-100 lg:text-base">Kualifikasi</h3><ol><li>Memiliki minat di bidang olahraga</li><li>Memiliki kemampuan komunikasi yang baik</li><li>Bersedia mengikuti program training selama 3 minggu</li><li>Bersedia ditempatkan di seluruh club FIT HUB area Pluit</li><li>Memiliki kemampuan membina hubungan baik dengan&nbsp;<em>members</em></li><li>Terbuka untuk&nbsp;<em>fresh graduate</em></li></ol></div></div><div class="flex gap-2 rounded-md border px-4 py-3 border-semantic-warning-10 bg-semantic-warning-5 mt-4 md:mt-6"><div class="flex-shrink-0">💙</div><div class="flex flex-col gap-1 text-neutral-90"><p class="font-bold">Tips Menjaga Diri</p><p class="text-xs">Perusahaan dan Lowongan di Dealls tidak meminta data pribadi, informasi rekening, atau pungutan ketika melamar. Hindari juga lowongan Google Form / Grup Telegram tanpa keabsahan yang jelas.</p></div></div><div class="rounded-lg bg-tertiary-violet-0 mt-4 p-2.5 lg:mt-6 lg:p-5"><div class="flex justify-between gap-4 text-2sm font-bold text-neutral-100 lg:text-base"><div class="line-clamp-1 flex items-center gap-1"><span>Tentang FIT HUB</span><span class="relative mr-[3.14px] inline-flex h-[12px] w-[12px] shrink-0 md:h-[16px] md:w-[16px]"><svg class="absolute -bottom-[2px] h-full w-full" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.91986 0.858693C8.44186 0.282617 7.55801 0.282617 7.08 0.858693C6.73416 1.27549 6.15131 1.40769 5.65949 1.18089L5.62124 1.16325C4.95177 0.854526 4.16707 1.23435 3.9939 1.95095C3.86768 2.47329 3.40188 2.8425 2.86452 2.84616L2.80744 2.84655C2.07618 2.85152 1.53693 3.53137 1.69853 4.24456C1.81672 4.76615 1.5581 5.30008 1.07556 5.53069L1.0493 5.54324C0.386108 5.86019 0.192518 6.71311 0.653898 7.2853C0.99024 7.70243 0.99024 8.29762 0.653898 8.71474C0.192518 9.28693 0.386108 10.1399 1.0493 10.4568L1.07556 10.4694C1.5581 10.7 1.81672 11.2339 1.69853 11.7555C1.53693 12.4687 2.07618 13.1485 2.80744 13.1535L2.86452 13.1539C3.40188 13.1575 3.86768 13.5268 3.9939 14.0491C4.16707 14.7657 4.95177 15.1455 5.62124 14.8368L5.65949 14.8192C6.15131 14.5924 6.73416 14.7246 7.08 15.1414C7.55801 15.7174 8.44186 15.7174 8.91986 15.1414C9.2657 14.7246 9.84855 14.5924 10.3404 14.8192L10.3786 14.8368C11.0481 15.1455 11.8328 14.7657 12.006 14.0491C12.1322 13.5268 12.598 13.1575 13.1353 13.1539L13.1924 13.1535C13.9237 13.1485 14.4629 12.4687 14.3013 11.7555C14.1831 11.2339 14.4418 10.7 14.9243 10.4694L14.9506 10.4568C15.6138 10.1399 15.8073 9.28694 15.346 8.71474C15.0096 8.29762 15.0096 7.70243 15.346 7.2853C15.8073 6.71311 15.6138 5.86019 14.9506 5.54324L14.9243 5.53069C14.4418 5.30008 14.1831 4.76615 14.3013 4.24456C14.4629 3.53137 13.9237 2.85152 13.1924 2.84655L13.1353 2.84616C12.598 2.8425 12.1322 2.47329 12.006 1.95095C11.8328 1.23435 11.0481 0.854526 10.3786 1.16325L10.3404 1.18089C9.84855 1.40769 9.2657 1.27549 8.91986 0.858693ZM12.457 6.45713C12.8476 6.06661 12.8476 5.43344 12.457 5.04292C12.0665 4.65239 11.4333 4.65239 11.0428 5.04292L7.24993 8.83581L5.70704 7.29292C5.31651 6.90239 4.68335 6.90239 4.29282 7.29292C3.9023 7.68344 3.9023 8.31661 4.29282 8.70713L6.54283 10.9571C6.93335 11.3477 7.56651 11.3477 7.95704 10.9571L12.457 6.45713Z" fill="#009C9A"></path></svg></span></div><a target="_blank" class="flex items-center whitespace-nowrap text-tertiary-violet-50" href="/karir/fit-hub"><span class="text-2sm font-bold lg:text-[15px]">Selengkapnya</span><svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotate-180"><path d="M13.7504 16.4014C14.1072 16.0445 14.1075 15.4661 13.7511 15.1089L10.9027 12.2543C10.5132 11.864 10.5132 11.232 10.9027 10.8416L13.7511 7.98707C14.1075 7.62985 14.1072 7.05141 13.7504 6.69458C13.3932 6.33747 12.8143 6.33747 12.4572 6.69457L8.31086 10.8409C7.92034 11.2314 7.92034 11.8646 8.31086 12.2551L12.4572 16.4014C12.8143 16.7585 13.3932 16.7585 13.7504 16.4014Z" fill="currentColor"></path></svg></a></div><div class="break-words text-neutral-100 mt-[13px] text-2sm lg:text-sm AboutTheCompany_about_the_company__bPVta"><p>Health and Wellness for Indonesia - enhancing people's</p><p>lives with an affordable and premium one-stop solution.</p><p>FIT HUB is a venture-backed Health &amp; Wellness Startup in Indonesia with the mission to democratize access to Health &amp; Wellness for all Indonesians. Through our digital innovation in integrating wellness services and products into an easily accessible platform, FIT HUB is able to enhance people's lives with an affordable and premium one- stop solution.</p><p><a target="_blank" rel="noopener noreferrer" href="https://www.fithub.id/">https://www.fithub.id/</a></p></div><div class="flex flex-col gap-y-2 mt-3 sm:flex-row lg:mt-[13px]"><div class="mr-5 flex w-full max-w-[180px] justify-between"><div class="flex w-fit flex-col gap-1.5"><div class="font-medium text-neutral-100 text-2sm lg:mt-[13px]">Industri</div><div class="font-semibold text-neutral-100 text-2sm lg:text-sm">Gym</div></div><div class="mt-2 hidden h-6 w-[1px] bg-neutral-20 sm:block"></div></div><div class="mr-5 flex w-full justify-between sm:max-w-[180px]"><div class=" flex flex-col gap-1.5"><div class="font-medium text-neutral-100 text-2sm lg:mt-[13px]">Lokasi</div><div class="font-semibold text-neutral-100 text-2sm lg:text-sm">Jakarta Selatan, Indonesia</div></div><div class="mt-2 hidden h-6 w-[1px] bg-neutral-20 sm:block"></div></div><div class="mr-5 flex w-full max-w-[137px] justify-between"><div class=" flex flex-col gap-1.5"><div class="font-medium text-neutral-100 text-2sm lg:mt-[13px]">Ukuran Perusahaan</div><div class="font-semibold text-neutral-100 text-2sm lg:text-sm">&gt;100 employees</div></div><div class="hidden h-6 w-[0.5px] bg-neutral-20 sm:block"></div></div></div><hr class="my-4"><h4 class="font-bold text-neutral-100 text-sm sm:mb-4 lg:text-base">Budaya</h4><div class="grid grid-cols-2 gap-x-5 lg:flex"><div class="relative flex max-w-[180px] flex-col"><div class="flex h-6 w-6 sm:h-10 sm:w-10"><svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1594_6621)"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.5769 2.54748C23.8722 2.27223 24.3324 2.28013 24.6181 2.56537C29.3921 7.33152 35.5312 14.0944 35.5312 22.9688C35.5312 26.8227 34.0003 30.5188 31.2751 33.2439C28.55 35.9691 24.8539 37.5 21 37.5C17.1461 37.5 13.45 35.9691 10.7249 33.2439C7.99972 30.5188 6.46875 26.8227 6.46875 22.9688C6.46875 18.676 8.63785 14.1607 11.1934 10.3081C11.4174 9.97047 11.8691 9.87176 12.2135 10.0852L12.2136 10.0853C12.2207 10.0897 12.2277 10.0942 12.2346 10.0988L18.0703 13.9892L23.411 2.77381C23.4515 2.68866 23.5078 2.61192 23.5767 2.54761L23.5769 2.54748ZM24.3071 4.38089L19.0521 15.4162C18.9586 15.6127 18.7843 15.7589 18.5745 15.8168C18.3647 15.8746 18.1401 15.8385 17.959 15.7178L12.0332 11.7673C9.72251 15.3844 7.96875 19.3408 7.96875 22.9688C7.96875 26.4249 9.34168 29.7394 11.7855 32.1833C14.2293 34.6271 17.5439 36 21 36C24.4561 36 27.7707 34.6271 30.2145 32.1833C32.6583 29.7394 34.0312 26.4249 34.0312 22.9688C34.0312 15.203 28.928 9.07967 24.3071 4.38089ZM29.5466 23.5403C29.9559 23.6042 30.2358 23.9877 30.1719 24.397C29.8683 26.3417 28.9547 28.1398 27.5629 29.5316C26.171 30.9234 24.373 31.8371 22.4283 32.1407C22.019 32.2046 21.6354 31.9246 21.5715 31.5154C21.5076 31.1061 21.7876 30.7226 22.1969 30.6587C23.8275 30.4041 25.3352 29.638 26.5022 28.4709C27.6692 27.3039 28.4353 25.7963 28.6899 24.1656C28.7538 23.7563 29.1373 23.4764 29.5466 23.5403Z" fill="url(#paint0_linear_1594_6621)"></path></g><defs><linearGradient id="paint0_linear_1594_6621" x1="21" y1="2.34613" x2="21" y2="37.5" gradientUnits="userSpaceOnUse"><stop stop-color="#7767E4"></stop><stop offset="1" stop-color="#5C48E5"></stop></linearGradient><clipPath id="clip0_1594_6621"><rect width="42" height="42" fill="white"></rect></clipPath></defs></svg></div><div class="font-semibold text-neutral-100 mt-4 text-2sm lg:text-sm">Passionate</div><div class="text-neutral-100 mt-1.5 text-sm">Strong belief and efforts are the base to achieve long term success </div></div><div class="relative flex max-w-[180px] flex-col"><div class="flex h-6 w-6 sm:h-10 sm:w-10"><svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1594_6656)"><path fill-rule="evenodd" clip-rule="evenodd" d="M26.5925 1.95643C26.8908 2.10952 27.0512 2.442 26.9854 2.77077L24.4855 15.2704L34.3884 18.9839C34.6228 19.0719 34.7979 19.271 34.8552 19.5148C34.9124 19.7586 34.8442 20.0149 34.6733 20.1979L16.2983 39.8854C16.0695 40.1305 15.7059 40.194 15.4076 40.0409C15.1093 39.8879 14.9488 39.5554 15.0146 39.2266L17.5145 26.727L7.61167 23.0134C7.3772 22.9255 7.20208 22.7264 7.14486 22.4826C7.08763 22.2388 7.15586 21.9825 7.32672 21.7994L25.7017 2.11195C25.9305 1.86683 26.2942 1.80334 26.5925 1.95643ZM9.18873 22.0028L18.6384 25.5464C18.9826 25.6755 19.1826 26.0352 19.1104 26.3958L17.0033 36.9317L32.8113 19.9945L23.3617 16.4509C23.0174 16.3218 22.8175 15.9622 22.8896 15.6016L24.9968 5.06564L9.18873 22.0028Z" fill="url(#paint0_linear_1594_6656)"></path></g><defs><linearGradient id="paint0_linear_1594_6656" x1="21" y1="1.87366" x2="21" y2="40.1237" gradientUnits="userSpaceOnUse"><stop stop-color="#7767E4"></stop><stop offset="1" stop-color="#5C48E5"></stop></linearGradient><clipPath id="clip0_1594_6656"><rect width="42" height="42" fill="white"></rect></clipPath></defs></svg></div><div class="font-semibold text-neutral-100 mt-4 text-2sm lg:text-sm">Energetic</div><div class="text-neutral-100 mt-1.5 text-sm">Here, we work together to make the dream work</div></div><div class="relative flex max-w-[180px] flex-col"><div class="flex h-6 w-6 sm:h-10 sm:w-10"><svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36.315 27.6892C34.1507 26.2736 29.7131 24.7387 23.6251 29.5227V25.013C27.1852 24.9375 29.7781 22.6144 31.0092 19.051C32.283 15.3536 30.6903 7.97542 29.6271 3.90667C29.5423 3.59523 29.3827 3.30925 29.162 3.07364C28.9414 2.83802 28.6665 2.65992 28.3613 2.55484C28.0561 2.44977 27.7299 2.4209 27.411 2.47076C27.0921 2.52063 26.7902 2.6477 26.5316 2.84092C25.7496 3.43793 24.9789 4.04945 24.2196 4.67514C23.3232 3.52605 22.7674 1.34664 21.0001 1.31055C19.2072 1.40242 18.8469 3.25042 17.7766 4.67448C17.0176 4.04785 16.2468 3.43568 15.4646 2.8383C15.2057 2.646 14.9037 2.51984 14.585 2.47078C14.2662 2.42173 13.9403 2.45126 13.6355 2.55681C13.3308 2.66236 13.0564 2.84074 12.8363 3.07645C12.6161 3.31215 12.4569 3.59805 12.3724 3.9093C11.3092 7.97805 9.71586 15.3563 10.989 19.0483C12.2208 22.6137 14.8136 24.9395 18.3751 25.015V29.5234C12.2851 24.738 7.84883 26.2743 5.68321 27.6905C5.43335 27.8577 5.24822 28.1053 5.15856 28.3923C5.06891 28.6793 5.08012 28.9883 5.19035 29.268C5.30058 29.5477 5.50318 29.7813 5.7645 29.9299C6.02583 30.0786 6.33014 30.1333 6.62689 30.0851C13.7498 28.7989 17.7608 35.1986 18.3751 36.2644V38.0625C18.3751 38.7587 18.6516 39.4264 19.1439 39.9187C19.6362 40.411 20.3039 40.6875 21.0001 40.6875C21.6963 40.6875 22.364 40.411 22.8562 39.9187C23.3485 39.4264 23.6251 38.7587 23.6251 38.0625V36.2644C24.238 35.198 28.2418 28.7995 35.3766 30.0858C35.6734 30.1333 35.9775 30.0778 36.2385 29.9286C36.4994 29.7794 36.7015 29.5454 36.8111 29.2655C36.9207 28.9856 36.9313 28.6766 36.841 28.3898C36.7508 28.1031 36.5652 27.8559 36.315 27.6892ZM27.3276 3.88436C27.4135 3.81983 27.5139 3.77733 27.62 3.7606C27.7261 3.74387 27.8347 3.75341 27.9362 3.78838C28.0378 3.82336 28.1292 3.8827 28.2025 3.96121C28.2758 4.03973 28.3287 4.13502 28.3566 4.23873C29.1829 7.39858 30.9725 15.1266 29.7682 18.6237C26.9267 27.6879 14.0136 23.5456 17.3586 14.3509C18.5634 10.8511 24.7322 5.86558 27.327 3.88436H27.3276ZM20.4567 2.91573C20.5185 2.82943 20.6001 2.75911 20.6945 2.7106C20.7889 2.66209 20.8936 2.63678 20.9998 2.63678C21.1059 2.63678 21.2106 2.66209 21.305 2.7106C21.3994 2.75911 21.481 2.82943 21.5428 2.91573C22.1326 3.80386 22.6864 4.67492 23.2044 5.52892C22.4512 6.17329 21.7153 6.83765 20.9975 7.5213C20.2802 6.83847 19.5452 6.17455 18.7931 5.53023C19.3296 4.64724 19.8845 3.77555 20.4574 2.91573H20.4567ZM15.8065 23.0869C9.35886 19.7925 12.4222 9.51564 13.6429 4.24136C13.6707 4.13776 13.7234 4.04252 13.7965 3.96393C13.8695 3.88534 13.9606 3.82577 14.0619 3.79039C14.1632 3.75501 14.2715 3.7449 14.3776 3.76093C14.4837 3.77697 14.5843 3.81866 14.6706 3.88239C16.5447 5.30912 18.3441 6.83145 20.0616 8.44333C18.2451 10.2887 16.7036 12.2253 16.1189 13.9237C14.7053 18.0292 15.8603 21.7271 18.9782 23.686C17.8862 23.777 16.7901 23.5699 15.8065 23.0869ZM6.40311 28.7877C8.78858 27.2265 12.795 26.4121 18.3751 31.229V33.9754C16.4746 31.5604 12.4117 27.7043 6.40311 28.7877ZM21.0001 39.375C20.6521 39.3747 20.3185 39.2363 20.0724 38.9902C19.8263 38.7441 19.6879 38.4105 19.6876 38.0625V24.9257C20.1334 24.8577 20.5731 24.7545 21.0027 24.6173C21.4306 24.7538 21.8686 24.8565 22.3126 24.9244V38.0625C22.3122 38.4105 22.1738 38.7441 21.9278 38.9902C21.6817 39.2363 21.3481 39.3747 21.0001 39.375ZM23.6251 33.9754V31.229C29.2052 26.4128 33.2109 27.2278 35.6069 28.7936C29.5891 27.7062 25.5256 31.5604 23.6251 33.9754Z" fill="url(#paint0_linear_1594_6628)"></path><defs><linearGradient id="paint0_linear_1594_6628" x1="21.0002" y1="1.31055" x2="21.0002" y2="40.6875" gradientUnits="userSpaceOnUse"><stop stop-color="#7767E4"></stop><stop offset="1" stop-color="#5C48E5"></stop></linearGradient></defs></svg></div><div class="font-semibold text-neutral-100 mt-4 text-2sm lg:text-sm">Vibrant</div><div class="text-neutral-100 mt-1.5 text-sm">Our company is comprised of enthusiastic and positive-spirited people</div></div></div></div></section>`
    console.log($(html).find("h1.break-words").text());
    console.log($(html).find("a[href*='cityIds=']").text());
    console.log($(html).find("a[href*='?employment']").text());
    










    let urlParams = new URLSearchParams(new URL(window.location.href).search);
    let pageParam = urlParams.get('page');
    let PAGE = pageParam ? parseInt(pageParam, 10) : 1;
    let LIMIT = 9

    let INPUT = ""
    let TYPE = []
    let LOCATIONS = []
    let SKILLS = []

    let SELECTED_LOCATION = []
    let checkedStatusLocations = {}
    let checkedStatusSkills = {}


    CountAllPlatform()
    GetPosts("", LIMIT, PAGE)

    $("#pagination-back").click(function(){ 
        PAGE -= 1
        GetPosts(INPUT, LIMIT, PAGE)
        CountAllPlatform()
    })
    $("#pagination-forward").click(function(){ 
        PAGE += 1
        GetPosts(INPUT, LIMIT, PAGE)
        CountAllPlatform()
    })
    $("#cards").on("click", ".job-detail", function(){
        const CARD_ID = $(this).find(".id").text()
        $("#popup-home").fadeIn(function(){
            $("#popup-detail-job").slideToggle()
            $("body").css("overflow", "hidden")

            $.get(`/api/v1/posts/${CARD_ID}`, function(postData){
                postData = decrypt(postData.r)
                console.log(postData);
                $("#popup-title").text(postData.title)
                $("#popup-company").text(postData.company)
                $("#popup-location").text(postData.location)
                $("#popup-platform").text(postData.platform)
                $("#popup-link").prop("href", postData.link)
                

                if(postData.overview !== "<p></p>"){
                    let paragraph = postData.overview.split("\n")
                    $("#popup-overview").html(paragraph.join("</br>"))
                }else if (postData.overview == "<p></p>"){
                    $("#popup-overview").text("Tidak ada overview ditampilkan ~")
                }

                if(postData.skills.length > 0){
                    $("#skills-need").removeClass("hidden")
                    $("#skills").html(``)
                    postData.skills.forEach(function(skill){
                        $("#skills").append(`<button class="text-sm self-start bg-main text-white px-2.5 py-1.5 rounded-md">${skill.skill}</button>`)
                    })
                }else{
                    $("#skills-need").addClass("hidden")
                    $("#skills").html(``)
                }
            })

        }).css("display", "flex")
    })
    $("#close-detail-job").click(function(){
        $("#popup-detail-job").slideToggle(function(){
            $("#popup-home").fadeOut()
            $("body").css("overflow", "auto")
        })
    })

    $("#button-filter").click(function(){
        $("#popup-home").fadeIn(function(){
            $("body").addClass('no-scroll');
            $("#popup-filter").slideToggle()
        }).css("display", "flex")
    })

    $(".close-x").click(function(){
        $(this).closest('.popup').slideToggle(function(){
            $(this).closest('#popup-home').fadeOut()
            $("body").css("overflow", "auto")
        })
        $("body").removeClass('no-scroll');
    })

    $.get("/api/v1/users/locations", function(locationData){
        locationData = decrypt(locationData.r)
        locationData.forEach(location => {
            $(".list-locations").append(`
                <li>
                    <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                        <p style="display:none">${location.id}</p>
                        <input id="checkbox-${location.id}" type="checkbox" value="${location.location.toLowerCase()}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="checkbox-${location.id}" class="w-full py-2 ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">${location.location}</label>
                    </div>
                </li>
            `)
        })

        $(".locations-input").on("input", function(){
            const INPUT = $(this).val().toLowerCase(); // Ambil nilai input dalam lowercase
            $(".list-locations").html(""); // Kosongkan daftar institusi

            const filteredLocations = locationData.filter(location => {
                return location.location.toLowerCase().includes(INPUT);
            });

            filteredLocations.forEach(location => {
                const isChecked = checkedStatusLocations[location.location.toLowerCase()] ? 'checked' : ''; // Cek apakah checkbox harus dicentang
                $(".list-locations").append(`
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                            <p style="display:none">${location.id}</p>
                            <input id="radio-${location.id}" ${isChecked} name="location" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="checkbox-${location.id}" class="w-full py-2 ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">${location.location}</label>
                        </div>
                    </li>
                `);
            });
        });
    
        $(".list-locations").on("change", "input[type=checkbox]", function(){
            const SKILL_ID = $(this).prev().text();
            const LABEL = $(this).next().text();
            checkedStatusLocations[LABEL.toLowerCase()] = $(this).prop("checked");
        })
    })
    
    $.get("/api/v1/users/skills", function(skillsData){
        skillsData = decrypt(skillsData.r)
        skillsData.forEach(skill => {
            $(".list-skills").append(`
                <li>
                    <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                        <p style="display:none">${skill.id}</p>
                        <input id="checkbox-${skill.id}" type="checkbox" value="${skill.skill}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="checkbox-${skill.id}" class="w-full py-2 ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">${skill.skill}</label>
                    </div>
                </li>
            `)
        })

        $(".skills-input").on("input", function(){
            const INPUT = $(this).val().toLowerCase(); // Ambil nilai input dalam lowercase
            $(".list-skills").html(""); // Kosongkan daftar institusi

            // Filter institusi berdasarkan nilai input
            const filteredSkills = skillsData.filter(skill => {
                return skill.skill.toLowerCase().includes(INPUT);
            });

            // Tampilkan hasil filter
            filteredSkills.forEach(skill => {
                const isChecked = checkedStatusSkills[skill.skill.toLowerCase()] ? 'checked' : ''; // Cek apakah checkbox harus dicentang
                $(".list-skills").append(`
                    <li>
                        <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                            <p style="display:none">${skill.id}</p>
                            <input id="checkbox-${skill.id}" type="checkbox" ${isChecked} value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="checkbox-${skill.id}" class="w-full py-2 ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">${skill.skill}</label>
                        </div>
                    </li>
                `);
            });
        });

        $(".list-skills").on("change", "input[type=checkbox]", function(){
            const SKILL_ID = $(this).prev().text();
            const LABEL = $(this).next().text();

            checkedStatusSkills[LABEL.toLowerCase()] = $(this).prop("checked");
            console.log(checkedStatusSkills);
            
        })
    })




    // Search Position and Company
    $("#form-search-job").submit(function(e){
        e.preventDefault()
        INPUT = $(this).find("#input-search").val()

        GetPosts(INPUT, LIMIT, PAGE)
    })

    // Filter By Locations
    $("#dropdown-location-dd-mobile").on("change", "input", function(){
        const THIS_VAL = $(this).val()
        PAGE = 1
        CountAllPlatform()
        if($(this).is(":checked")){
            LOCATIONS.push(THIS_VAL)
            GetPosts(INPUT, LIMIT, PAGE, TYPE, LOCATIONS, SKILLS)
        }else{
            LOCATIONS = removeFromArray(LOCATIONS, THIS_VAL)
            GetPosts(INPUT, LIMIT, PAGE, TYPE, LOCATIONS, SKILLS)
        }
    })

    $("#dropdown-skills-dd-mobile").on("change", "input", function(){
        const THIS_VAL = $(this).val()
        PAGE = 1
        CountAllPlatform()
        if($(this).is(":checked")){
            SKILLS.push(THIS_VAL)
            GetPosts(INPUT, LIMIT, PAGE, TYPE, LOCATIONS, SKILLS)
        }else{
            SKILLS = removeFromArray(SKILLS, THIS_VAL)
            GetPosts(INPUT, LIMIT, PAGE, TYPE, LOCATIONS, SKILLS)
        }
    })

    $("#dropdown-type-dd-mobile").on("change", "input", function(){
        const THIS_VAL = $(this).val()
        PAGE = 1
        CountAllPlatform()
        if($(this).is(":checked")){
            TYPE.push(THIS_VAL)
            GetPosts(INPUT, LIMIT, PAGE, TYPE, LOCATIONS, SKILLS)
        }else{
            TYPE = removeFromArray(SKILLS, THIS_VAL)
            GetPosts(INPUT, LIMIT, PAGE, TYPE, LOCATIONS, SKILLS)
        }
    })




    function removeFromArray(arr, valueToRemove) {
        return arr.filter(item => item !== valueToRemove);
    }

    function decrypt(data, keys='<%= process.env.AES_KEYS %>'){
        let bytes = CryptoJS.AES.decrypt(data, keys)
        return JSON.parse(bytes.toString(CryptoJS.enc.Utf8))
    }

    function GetPosts(keyword="", limit='999', page=1, type="", location="", skills=""){
        location = JSON.stringify(location)
        skills = JSON.stringify(skills)
        type = JSON.stringify(type)

        const url = `/api/v1/posts?search=${keyword}&limit=${limit}&page=${page}&locations=${location}&skills=${skills}&type=${type}`

        $.get(url, function(postsData){
            postsData = decrypt(postsData.r)
            if (postsData.datas.length !== 0){
                $("#cards").html("")
                postsData.datas.forEach(post => {
                    GetCard(post)
                });
                $("#cards").removeClass("hidden")
                $("#cards-notfound").addClass("hidden")
                $("#paginations").removeClass("hidden")
            }else{
                $("#paginations").addClass("hidden")
                $("#cards").addClass("hidden")
                $("#cards-notfound").removeClass("hidden")
            }
        })
    }

    

    function GetCard(post){
        $.ajax({
            url: '/api/v1/users/info',
            type: 'get',
            dataType: 'json',
            headers: {
                "Authorization": window.USER_TOKEN,
            },
            success: async function (userData) {
                const data = decrypt(userData.r);
                
                let platform = getPlatformImage(post)
                let SKILLS = post.skills.map(function(skill){
                    return `<button class="text-xs bg-main text-white px-2 py-1 rounded">${skill.skill.length >= 18 ? skill.skill.substring(0,18)+".." : skill.skill}</button>`
                })
                let ACTIVE_SKILL = SKILLS.slice(0,4)
                let REMAIN = SKILLS.slice(ACTIVE_SKILL.length)

                let userSkillIds = data.skills.map(skill => skill.id);
                let matchingSkills = post.skills.some(skill => userSkillIds.includes(skill.id));
                
                
                
                $("#cards").append(`
                    <div class="job-detail cursor-pointer hover:scale-[1.005] duration-100 shadow-md border border-main bg-white p-4 rounded-2xl flex flex-col justify-between">
                        <div class="">
                            <p class="id" style="display:none">${post.id}</p>
                            <p class="font-medium text-black mb-2">${post.title.length > 33 ? post.title.substring(0,33)+"..." : post.title}</p>
                            <div class="flex gap-2 flex-wrap">
                                ${ACTIVE_SKILL.join("")}
                                ${REMAIN.length != 0 ? `<button class="text-xs bg-main text-white px-2 py-1 rounded">+${REMAIN.length}</button>` : ""}
                            </div>
                            <p class="text-sm flex items-center gap-2 mt-4"><i class="uil uil-building"></i>${post.company.length > 38 ? post.company.substring(0,38) + ".." : post.company}</p>
                            <p class="text-sm flex items-center gap-2 mt-1"><i class="uil uil-location-point"></i> ${post.type} • ${post.location}</p>    
                        </div>

                        <div class="">
                            <hr class="my-2">
                            <div class="flex items-center justify-between gap-3 mt-4">
                                <span class="${matchingSkills ? '' : 'hidden'} text-white text-xs font-medium bg-orange-500 px-2 py-1">Kamu banget!</span>
                                <div class="flex items-center gap-2 ms-auto">
                                    <p class="text-sm flex items-center gap-2"><span class="text-[11px] font-medium">Muncul di</span></p>
                                    ${platform}
                                    <p class="text-sm flex items-center gap-2"><span class="text-[11px] font-medium">${timeAgo(post.post_date)}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                `)
                
            },
            error: function(xhr){
                let platform = getPlatformImage(post)
                let SKILLS = post.skills.map(function(skill){
                    return `<button class="text-xs bg-main text-white px-2 py-1 rounded">${skill.skill.length >= 18 ? skill.skill.substring(0,18)+".." : skill.skill}</button>`
                })
                let ACTIVE_SKILL = SKILLS.slice(0,4)
                let REMAIN = SKILLS.slice(ACTIVE_SKILL.length)
                $("#cards").append(`
                    <div class="job-detail cursor-pointer hover:scale-[1.005] duration-100 shadow-md border border-main bg-white p-4 rounded-2xl flex flex-col justify-between">
                        <div class="">
                            <p class="id" style="display:none">${post.id}</p>
                            <p class="font-medium text-black mb-2">${post.title.length > 33 ? post.title.substring(0,33)+"..." : post.title}</p>
                            <div class="flex gap-2 flex-wrap">
                                ${ACTIVE_SKILL.join("")}
                                ${REMAIN.length != 0 ? `<button class="text-xs bg-main text-white px-2 py-1 rounded">+${REMAIN.length}</button>` : ""}
                            </div>
                            <p class="text-sm flex items-center gap-2 mt-4"><i class="uil uil-building"></i>${post.company.length > 38 ? post.company.substring(0,38) + ".." : post.company}</p>
                            <p class="text-sm flex items-center gap-2 mt-1"><i class="uil uil-location-point"></i> ${post.type} • ${post.location}</p>    
                        </div>

                        <div class="">
                            <hr class="my-2">
                            <div class="flex items-center justify-between gap-3 mt-4">
                                <span class="hidden text-white text-xs font-medium bg-orange-500 px-2 py-1">Kamu banget!</span>
                                <div class="flex items-center gap-2 ms-auto">
                                    <p class="text-sm flex items-center gap-2"><span class="text-[11px] font-medium">Muncul di</span></p>
                                    ${platform}
                                    <p class="text-sm flex items-center gap-2"><span class="text-[11px] font-medium">${timeAgo(post.post_date)}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                `)
            }
        })
    }

    function getPlatformImage(post){
        switch (post.platform) {
            case 'Glints':
                return '<img class="w-5 h-5 rounded-lg" src="/img/Glints.png" alt="Glints">';
            case 'Linkedin':
                return '<img class="w-5 h-5 rounded-lg" src="/img/Linkedin.png" alt="LinkedIn">';
            case 'Kalibrr':
                return '<img class="w-5 h-5 rounded-lg" src="/img/Kalibrr.png" alt="Kalibrr">';
            case 'Jobstreet':
                return '<img class="w-5 h-5 rounded-lg" src="/img/Jobstreet.png" alt="JobStreet">';
            case 'Indeed':
                return '<img class="w-5 h-5 rounded-lg" src="/img/Indeed.png" alt="Indeed">';
            default:
                return '<img class="w-5 h-5 rounded-lg" src="/img/Default.png" alt="Default">';
        }
    }

    function CountAllPlatform(){
        $.get("/api/v1/posts/count-all", postsCount =>{
            $(".total-post").text(postsCount)

            let startLimit = ((PAGE -1) * LIMIT)+1
            let endLimit = PAGE * LIMIT < postsCount ? PAGE * LIMIT : postsCount

            $("#limit-start").text(startLimit)
            $("#limit-end").text(endLimit)
            if(PAGE == 1) {
                $("#pagination-back").prop("disabled", true)
            }else{
                $("#pagination-back").prop("disabled", false)
            }
            if(PAGE * LIMIT >= postsCount){
                $("#pagination-forward").prop("disabled", true)
            }else{
                $("#pagination-forward").prop("disabled", false)
            }
        })
    }

    function timeAgo(dateString) {
        const date = new Date(dateString);
        const now = new Date();
        
        // Menghilangkan perbedaan waktu agar hanya tanggal yang dibandingkan
        date.setHours(0, 0, 0, 0);
        now.setHours(0, 0, 0, 0);

        const diffInMilliseconds = now - date;
        const diffInDays = Math.floor(diffInMilliseconds / (1000 * 60 * 60 * 24));

        if (diffInDays < 7) {
            return `minggu ini`;
        } else if (diffInDays < 14) {
            return `minggu lalu`;
        } else {
            return `beberapa minggu lalu`;
        } 
    }
</script>