<%- include('./layouts/header'); -%>
<%- include('./layouts/navbar-all'); -%>

<main class="noise">
    <div class="min-h-screen w-[1100px] mx-auto py-10 pb-20">

        <!-- HERO -->
        <div class="my-6 grid grid-cols-6 items-center">
            <div class="col-span-4">
                <p class="text-thrid text-[55px] font-bold">Cari <span class="text-main">Internship</span>mu</p>
                <p class="font-medium text-second/80 text-lg">dari semua penjuru platform</p>
                <div class="flex items-center gap-4 mt-6 py-2 rounded-lg w-max">
                    <a href="https://glints.com/id/en"><img src="/img/Glints.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://id.indeed.com/"><img src="/img/Indeed.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://www.jobstreet.co.id/"><img src="/img/Jobstreet.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://www.kalibrr.com/home"><img src="/img/Kalibrr.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://www.linkedin.com/jobs/"><img src="/img/Linkedin.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <p class="text-sm font-medium self-end">,etc..</p>
                </div>
            </div>

            <div class="col-span-2 mt-8 gap-4">
                <div class="bg-white/80 w-max ms-auto px-6 py-6 text-thrid border-2 shadow-md rounded-2xl font-medium">
                    <p class="flex items-center gap-3"><i class="uil uil-postcard text-2xl"></i><span class="total-post text-2xl font-semibold">0</span>pekerjaan ditemukan</p>
                </div>
            </div>
        </div>


        <!-- SEARCH BAR -->
        <div id="search-bar" class="mt-12">
            <form class="flex items-center gap-4">   
                <div class="w-[35%] relative">
                    <input type="search" formControlName="search" readonly id="input-search" value="you have to login to use search feature" class="block w-full p-4 ps-6 font-medium text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-main focus:border-main" placeholder="Search title, company, location..." required />
                    <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-main hover:bg-main/90 focus:outline-none focus:ring-main font-medium rounded-full text-sm px-4 py-2"><i class="uil uil-search"></i></button>
                </div>
                <button class="text-2xl bg-white rounded-xl w-12 h-12 border-gray-300 border text-thrid"><i class="uil uil-sliders-v"></i></button>
                <div class=" flex gap-2 ms-6">
                    <div class="flex flex-col">
                        <select name="" id="" class="text-sm font-medium rounded-full border-2 py-3 border-gray-300 focus:ring-main focus:border-main">
                            <option value="9" selected>Limit</option>
                            <option value="12">12 Post per Page</option>
                            <option value="15">15 Post per Page</option>
                            <option value="999">Show All Post</option>
                        </select>
                    </div>
                    <div class="flex flex-col">
                        <select name="" id="" class="text-sm font-medium rounded-full border-2 py-3 border-gray-300 focus:ring-main focus:border-main">
                            <option value="" selected>All Platform</option>
                            <option value="Jobstreet">Jobstreet</option>
                            <option value="Glints">Glints</option>
                            <option value="Indeed">Indeed</option>
                            <option value="Kalibrr">Kalibrr</option>
                            <option value="Linkedin">Linkedin</option>
                            <option value="Lainnya">Lainnya</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>

        <!-- Kalau post lebih dari 0, AKA ada post di list -->
        <div id="cards" class="grid grid-cols-3 mt-8 gap-4">
            <!-- CARD HERE -->
        </div>

        <!-- Kalau post length == 0 -->
        <div id="cards-notfound" class="hidden mt-8 h-[60vh] flex items-center justify-center flex-col">
            <img src="/img/magnify.png" width="8%" alt="">
            <p class="font-medium text-xl text-center mt-8">post tidak ditemukan</p>
        </div>

        <!-- PAGINATION -->
        <div id="paginations" class="flex flex-col items-center mt-12">
            <span class="text-sm text-gray-700 dark:text-gray-400">
                Showing <span id="limit-start" class="font-semibold text-gray-900 dark:text-white">0</span> to <span id="limit-end" class="font-semibold text-gray-900 dark:text-white">9</span> of <span class="total-post font-semibold text-gray-900 dark:text-white"></span> Entries
            </span>
            <div class="inline-flex mt-2 xs:mt-0 gap-4">
                <button id="pagination-back" class="disabled:bg-main/60 flex items-center justify-center px-6 py-1.5 text-base font-medium text-white bg-main rounded-lg hover:bg-main/90">
                    <i class="uil uil-angle-left text-xl"></i>
                </button>
                <button id="pagination-forward" class="disabled:bg-main/60 flex items-center justify-center px-6 py-1.5 text-base font-medium text-white bg-main border-gray-700 rounded-lg hover:bg-main/90">
                    <i class="uil uil-angle-right text-xl"></i>
                </button>
            </div>
        </div>

    </div>
</main>

<div class="hidden fixed top-0 bottom-0 right-0 left-0 bg-black/50 flex items-center justify-center z-30" id="popup-home">
    <div id="popup-detail-job" class="hidden w-1/2 bg-background noise rounded-3xl overflow-hidden">
        <div class="h-[500px] overflow-y-scroll divide-y divide-gray-300 px-8 py-14 relative">
            <div class="text-center pb-8">
                <p class="text-2xl font-bold text-main">Backend Developer</p>
                <div class="flex gap-2 mt-4 flex-wrap justify-center">
                    <button class="text-xs bg-main text-white px-2 py-1 rounded-lg">NodeJS</button>
                    <button class="text-xs bg-main text-white px-2 py-1 rounded-lg">MYSQL</button>
                    <button class="text-xs bg-main text-white px-2 py-1 rounded-lg">2 Years Experience</button>
                    <button class="text-xs bg-main text-white px-2 py-1 rounded-lg">Team Work</button>
                </div>
                <div class="grid-cols-3 grid gap-2 text-sm text-black/60 mt-8 divide-x">
                    <p class="flex flex-col"><i class="text-xl font-bold text-black/80 uil uil-bag"></i> Found In Jobstreet</p>
                    <p class="flex flex-col"><i class="text-xl font-bold text-black/80 uil uil-building"></i> PT Enviromate Technology International</p>
                    <p class="flex flex-col"><i class="text-xl font-bold text-black/80 uil uil-map-marker-alt"></i> Surabaya</p>
                </div>
                <div class="mt-6 flex gap-4 justify-center">
                    <a href="#" class="px-8 py-2 self-start rounded-lg text-sm font-medium bg-main text-white shadow-md hover:scale-[1.01]"><i class="uil uil-external-link-alt"></i> More Detail</a>
                    <div class="text-right">
                        <button disabled class="disabled:opacity-70 px-8 py-2 rounded-lg text-sm font-medium bg-main text-white shadow-md hover:scale-[1.01]"><i class="uil uil-bookmark"></i> Bookmark</button>
                        <p class="text-xs text-black/60 mt-1">*login needed</p>
                    </div>
                </div>
            </div>
            <div class="">
                <p class="text-black/70 font-bold mt-4 text-xl">Overview</p>
                <p id="job-overview" class="mt-4">Selama lebih dari setengah abad, kami telah mengolah bahan-bahan dari sumber alam menjadi produk-produk berkualitas pilihan konsumen. Berawal dari produk minuman kesehatan dgn ramuan alamiah yg diolah secara tradisional, produk-produk kami berkembang semakin modern, canggih, praktis, & efisien sesuai dgn tuntutan zaman. Warisan nenek moyang kita, yg telah terbukti khasiatnya sejak dahulu, terus dikembangkan secara berkesinambungan tanpa meninggalkan rahasia keasliannya.<br>Melalui riset dan inovasi, kami selalu menghadirkan Unique Winning Products untuk memenangkan persaingan & menciptakan produk-produk bermerek pilihan utama konsumen dgn investasi merek yg terus menerus dilakukan. Sebut saja merek-merek TANGO, FORMULA, TEH GELAS, FULLO, OOPS, VITACHARM, KIRANTI, & lain-lain yg sudah tidak asing lagi. Mulai dari pasta gigi & sikat gigi hingga makanan & minuman kesehatan, beragam produk kami telah menjadi bagian dari kehidupan masyarakat Indonesia. Bahkan, banyak produk kami yg sudah dapat dinikmati oleh konsumen di berbagai negara.</p>
            </div>

            <button id="close-detail-job" class="absolute top-[1rem] right-[2rem] text-2xl"><i class="uil uil-multiply"></i></button>
        </div>
    </div>
</div>

<%- include('./layouts/footer'); -%>

<script>
    let urlParams = new URLSearchParams(new URL(window.location.href).search);
    let pageParam = urlParams.get('page');
    let PAGE = pageParam ? parseInt(pageParam, 10) : 1;
    let LIMIT = 9

    CountAllPlatform()
    GetPosts("", "", LIMIT, PAGE)

    $("#pagination-back").click(function(){ 
        PAGE -= 1
        GetPosts("", "", LIMIT, PAGE)
        document.getElementById("search-bar").scrollIntoView();
        CountAllPlatform()
    })
    $("#pagination-forward").click(function(){ 
        PAGE += 1
        GetPosts("", "", LIMIT, PAGE)
        document.getElementById("search-bar").scrollIntoView();
        CountAllPlatform()
    })
    $("#cards").on("click", ".job-detail", function(){
        $("#popup-home").fadeIn(function(){
            $("#popup-detail-job").slideToggle()
            $("body").css("overflow", "hidden")
        }).css("display", "flex")
    })
    $("#close-detail-job").click(function(){
        $("#popup-detail-job").slideToggle(function(){
            $("#popup-home").fadeOut()
            $("body").css("overflow", "auto")
        })
    })








    function decrypt(data, keys='<%= process.env.AES_KEYS %>'){
        let bytes = CryptoJS.AES.decrypt(data, keys)
        return JSON.parse(bytes.toString(CryptoJS.enc.Utf8))
    }

    function GetPosts(keyword="", platform="", limit='999', page=1){
        const url = `/api/v1/posts?search=${keyword}&platform=${platform}&limit=${limit}&page=${page}`
        $.get(url, function(postsData){
            postsData = decrypt(postsData.r)

            if (postsData.datas.length !== 0){
                $("#cards").html("")
                postsData.datas.forEach(post => {
                    GetCard(post)
                });
                $("#paginations").removeClass("hidden")
            }else{
                $("#paginations").addClass("hidden")
                $("#cards").addClass("hidden")
                $("#cards-notfound").removeClass("hidden")
            }
        })
    }

    function GetCard(post){
        $("#cards").append(`
            <div class="job-detail cursor-pointer hover:scale-[1.005] duration-100 shadow-md border border-main bg-white p-4 rounded-2xl self-start">
                <p class="font-bold text-black">${post.title.length > 33 ? post.title.substring(0,33)+"..." : post.title}</p>
                <p class="text-sm text-black">PT UOB</p>
                <p class="text-xs px-2 bg-main w-max mt-2 rounded-sm mb-4 text-background">INTERNSHIP</p>
                <hr class="my-2">
                <p class="text-sm flex items-center gap-2"><i class="uil uil-building"></i> <span class="font-medium">${post.tags.length > 20 ? post.tags.substring(0,20)+"..." : post.tags}</span> • <span>${post.location.length > 18 ? post.location.substring(0,18)+"..." : post.location}</span></p>
                <p class="text-sm flex items-center gap-2"><i class="uil uil-bag"></i>in ${post.platform}</p>
                <p class="text-sm flex items-center gap-2 mt-2"><i class="uil uil-upload"></i><span class="text-xs font-medium">${timeAgo(post.post_date)}</span></p>
            </div>
        `)
    }

    function CountAllPlatform(){
        $.get("/api/v1/posts/count-all", postsCount =>{
            $(".total-post").text(postsCount)

            let startLimit = ((PAGE -1) * LIMIT)+1
            let endLimit = PAGE * LIMIT < postsCount ? PAGE * LIMIT : postsCount

            $("#limit-start").text(startLimit)
            $("#limit-end").text(endLimit)
            if(PAGE == 1) $("#pagination-back").prop("disabled", true)
            if(PAGE * LIMIT > postsCount) $("#pagination-forward").prop("disabled", true)
        })
    }

    function timeAgo(dateString) {
        const date = new Date(dateString);
        const now = new Date();
        
        // Menghilangkan perbedaan waktu agar hanya tanggal yang dibandingkan
        date.setHours(0, 0, 0, 0);
        now.setHours(0, 0, 0, 0);

        const diffInMilliseconds = now - date;
        const diffInDays = Math.floor(diffInMilliseconds / (1000 * 60 * 60 * 24));

        if (diffInDays < 7) {
            return `Postingan minggu ini`;
        } else if (diffInDays < 14) {
            return `Postingan minggu lalu`;
        } else {
            return `Postingan beberapa minggu lalu`;
        } 
    }
</script>