<%- include('./layouts/header'); -%>
<%- include('./layouts/navbar-all'); -%>

<main class="noise">
    <div class="min-h-screen w-full grid grid-cols-10">

        <!-- SIDEBAR -->
        <div class="col-span-2 border-r-2 h-screen pb-28 overflow-y-scroll">
            <form id="form-market-filter" class="flex flex-col items-center gap-4 divide-y divide-gray-300 py-6 px-4">
                <div class="flex justify-between w-full">
                    <p class="ps-4 text-sm text-black/70 font-medium">FILTER</p>
                    <button class="text-sm text-main/70 font-medium">CLEAR</button>
                </div> 
                <div class="pt-4 w-full flex flex-col gap-4 w-full">
                    <!-- <label for="" class="">SEARCH</label> -->
                    <p class="ps-4 text-sm font-medium">BY BASIC INFORMATION ---</p>
                    <input type="search" formControlName="search" id="input-search" value="" class="block w-full px-4 py-3 rounded-full font-medium text-sm text-gray-900 border border-gray-300 bg-gray-50 focus:ring-main focus:border-main" placeholder="Search candidate name, and position" required />
                    <select name="" id="" class="px-4 w-full text-sm font-medium rounded-full border-2 py-3 border-gray-300 focus:ring-main focus:border-main">
                        <option value="9" selected>Domicile</option>
                        <option value="12">12 Post per Page</option>
                        <option value="15">15 Post per Page</option>
                        <option value="999">Show All Post</option>
                    </select>
                </div>
                <div class="pt-4 flex flex-col gap-4 w-full">
                    <p class="ps-4 text-sm font-medium">BY EXPERIENCES ---</p>
                    <select name="" id="" class="px-4 w-full text-sm font-medium rounded-full border-2 py-3 border-gray-300 focus:ring-main focus:border-main">
                        <option value="9" selected>YoE</option>
                        <option value="12">12 Post per Page</option>
                        <option value="15">15 Post per Page</option>
                        <option value="999">Show All Post</option>
                    </select>
                    <select name="" id="" class="px-4 w-full text-sm font-medium rounded-full border-2 py-3 border-gray-300 focus:ring-main focus:border-main">
                        <option value="" selected>Departement</option>
                        <option value="Jobstreet">Jobstreet</option>
                        <option value="Glints">Glints</option>
                        <option value="Indeed">Indeed</option>
                        <option value="Kalibrr">Kalibrr</option>
                        <option value="Linkedin">Linkedin</option>
                        <option value="Lainnya">Lainnya</option>
                    </select>
                </div>
                <div class="pt-4 flex flex-col gap-4 w-full">
                    <p class="ps-4 text-sm font-medium">BY EDUCATIONS ---</p>
                    <select name="" id="" class="px-4 w-full text-sm font-medium rounded-full border-2 py-3 border-gray-300 focus:ring-main focus:border-main">
                        <option value="" selected>University</option>
                        <option value="Jobstreet">Jobstreet</option>
                        <option value="Glints">Glints</option>
                        <option value="Indeed">Indeed</option>
                        <option value="Kalibrr">Kalibrr</option>
                        <option value="Linkedin">Linkedin</option>
                        <option value="Lainnya">Lainnya</option>
                    </select>
                    <select name="" id="" class="px-4 w-full text-sm font-medium rounded-full border-2 py-3 border-gray-300 focus:ring-main focus:border-main">
                        <option value="" selected>Education Type</option>
                        <option value="Jobstreet">Jobstreet</option>
                        <option value="Glints">Glints</option>
                        <option value="Indeed">Indeed</option>
                        <option value="Kalibrr">Kalibrr</option>
                        <option value="Linkedin">Linkedin</option>
                        <option value="Lainnya">Lainnya</option>
                    </select>
                </div>
            </form>
        </div>

        <!-- CARDS -->
        <div class="col-span-8 divide-y">
            <p class="px-14 py-3.5 text-2xl font-medium text-main">Talent</p>
            <div id="cards" class="grid grid-cols-2 gap-4 p-6 px-14">
                <!-- CARD -->
            </div>
        </div>
    </div>
</main>

<!-- POPUP USER -->
<div id="popup" class="hidden fixed top-0 bottom-0 right-0 left-0 bg-black/60 z-30 flex items-center justify-center">
    <div id="popup-user" class="hidden w-1/2 bg-background noise rounded-2xl relative overflow-hidden w-full">
        <div class="h-[90vh] overflow-y-scroll w-full px-12 py-8">
            <div class="text-center flex flex-col items-center justify-center">
                <div class="w-[90px] h-[90px] min-w-[90px] min-h-[90px] rounded-full overflow-hidden mx-auto lg:mx-0">
                    <img id="basic-profile-pic" src="/img/no-profile.jpg" alt="profile-picture" class="w-full h-full object-cover">
                </div>
                <p class="text-2xl font-bold text-main">Assami Muzaki</p>
                <p class="font-medium text-black/60 text-sm">Founder of Internshits</p>
            </div>
    
            <hr class="my-4">
    
            <div class="flex items-center gap-6 text-thrid/80 text-xl justify-center">
                <a id="link-twitter" href="" target="_blank" class=""><i class="uil uil-twitter"></i></a>
                <a id="link-instagram" href="" target="_blank" class=""><i class="uil uil-instagram-alt"></i></a>
                <a id="link-linkedin" href="" target="_blank" class=""><i class="uil uil-linkedin"></i></a>
                <a id="link-behance" href="" target="_blank" class=""><i class="uil uil-behance"></i></a>
                <a id="link-github" href="" target="_blank" class=""><i class="uil uil-github"></i></a>
                <a id="link-youtube" href="" target="_blank" class=""><i class="uil uil-youtube"></i></a>
            </div>
    
            <hr class="my-4">
    
            <div class="py-6 flex flex-col gap-4">
                <div class="grid grid-cols-2">
                    <div class="">
                        <p class="text-xs text-black/60 font-medium">LOCATION</p>
                        <p class="font-bold text-sm mt-2 text-black/70">Jakarta Utara</p>
                    </div>
                    <div class="">
                        <p class="text-xs text-black/60 font-medium">PHONE NUMBER</p>
                        <p class="font-bold text-sm mt-2 text-black/70">-</p>
                    </div>
                </div>
                <div class="grid grid-cols-2 mt-4">
                    <div class="">
                        <p class="text-xs text-black/60 font-medium">SALARY RANGE</p>
                        <p class="font-bold text-sm mt-2 text-black/70">7.5mio - 10mio</p>
                    </div>
                    <div class="">
                        <p class="text-xs text-black/60 font-medium">YOE (month)</p>
                        <p class="font-bold text-sm mt-2 text-black/70">2.5 years</p>
                    </div>
                </div>
            </div>
    
            <hr class="my-4">
    
            <div class="flex flex-col gap-2">
                <button class="text-sm text-white font-medium bg-main mx-auto w-full py-2 rounded-lg">View More Detail</button>
                <button class="close-x text-sm text-main font-medium mx-auto w-full py-2 rounded-lg">Close</button>
            </div>
        </div>
    </div>
</div>


<%- include('./layouts/footer'); -%>

<script>
    function handleCredentialResponse(response) {
        $.ajax({
            url: '/api/v1/users/auth/google',
            method: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({ token: response.credential }),
            success: function(data) {
                window.location.href = "/profile/me"
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }
    
    window.onload = function () {
        google.accounts.id.initialize({
            client_id: "698401836212-gi5ntasmqfae7hiu2q0qu8i2h2gco82h.apps.googleusercontent.com",
            callback: handleCredentialResponse
        });
        google.accounts.id.renderButton(
            document.getElementById("button-google"),
            { theme: "outline", size: "large" }  // customization attributes
        );
        google.accounts.id.prompt(); // also display the One Tap dialog
    }
</script>

<script>
    $("#cards").on("click", ".card-user", function(){
        $("#popup").fadeIn(function(){
            $("#popup-user").slideToggle()
        }).css("display", "flex")
    })

    $(".close-x").click(function(){
        $("#popup-user").slideToggle(function(){
            $("#popup").fadeOut()
        })
    })

    $.get("/api/v1/users/active", function(usersData){
        usersData = decrypt(usersData.r)
        usersData.forEach(user => {
            $("#cards").append(`
                <div class="card-user flex self-start gap-5 rounded-2xl border border-main p-5 bg-white shadow-md hover:scale-[1.005] duration-100 cursor-pointer">
                    <div class="w-[70px] h-[70px] min-w-[70px] min-h-[70px] rounded-full overflow-hidden mx-auto lg:mx-0">
                        <img id="basic-profile-pic" src="/img/no-profile.jpg" alt="profile-picture" class="w-full h-full object-cover">
                    </div>
                    <div class="w-full">
                        <div class="mb-2 text-center lg:text-left">
                            <p id="basic-fullname" class="font-bold text-xl text-main">${user.firstname} ${user.lastname}</p>
                            <p id="basic-current-position" class="text-sm text-thrid/60 font-medium">Founder of Internshits</p>
                        </div>
                        <hr>
                        <div class="pt-2">
                            <p class="text-sm flex items-center text-black/80"><i class="uil uil-bag"></i><span class="font-medium ms-2 me-1">2.5</span>Years of Experience</p>
                            <p class="text-sm flex items-center"><i class="uil uil-building"></i><span class="ms-2">Bachelor Degree Computer Science Science Science</span></p>
                            <div class="flex gap-2 mt-3 flex-wrap">
                                <button class="text-xs bg-main text-white px-2 py-1 rounded-lg">Backend Developer</button>
                                <button class="text-xs bg-main text-white px-2 py-1 rounded-lg">NodeJS</button>
                                <button class="text-xs bg-main text-white px-2 py-1 rounded-lg">+3</button>
                            </div>
                        </div>
                    </div>
                </div>
            `)
        });
    })


    const decrypt = (data, keys='<%= process.env.AES_KEYS %>') => {
        let bytes = CryptoJS.AES.decrypt(data, keys)
        return JSON.parse(bytes.toString(CryptoJS.enc.Utf8))
    }
</script>