<%- include('./layouts/header'); -%>
<%- include('./layouts/navbar-all'); -%>

<main class="noise">
    <div class="w-full grid lg:grid-cols-10">

        <!-- SIDEBAR -->
        <div class="lg:col-span-2 border-r-2 pb-28 lg:overflow-y-scroll lg:h-screen hidden lg:block">
            <form id="form-market-filter" class="flex flex-col items-center gap-4 divide-y divide-gray-300 py-6 px-4">
                <div class="w-full flex flex-col gap-4 w-full">
                    <div class="pb-4 flex justify-between w-full">
                        <p class="ps-4 text-sm text-black/70 font-medium">FILTER</p>
                        <button class="text-sm text-main/70 font-medium">CLEAR</button>
                    </div> 
                    <!-- <label for="" class="">SEARCH</label> -->
                    <p class="ps-4 text-sm font-medium">BY INFORMASI BASIC ---</p>
                    <input type="search" id="input-search" value="" class="block w-full px-4 py-3 rounded-lg font-medium text-sm text-gray-900 border border-gray-300 bg-white focus:ring-main focus:border-main" placeholder="Cari nama atau posisi" />

                    <!-- LOCATIONS -->
                    <div class="flex flex-col">
                        <button type="button" id="dropdown-location" data-dropdown-toggle="dropdown-location-dd" data-dropdown-placement="right" class="bg-white border border-gray-300 focus:ring-1 focus:outline-none focus:ring-main font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">Filter Lokasi <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdown-location-dd" class="border z-10 hidden bg-white rounded-lg shadow w-1/4 dark:bg-gray-700">
                            <div class="p-3">
                                <label for="input-group-search" class="sr-only">Search</label>
                                <div class="relative">
                                    <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                        </svg>
                                    </div>
                                    <input type="text" id="input-group-search" class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cari institusi">
                                </div>
                            </div>
                            <ul class="list-locations h-28 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-location">
                                <!-- HERE -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pt-4 flex flex-col gap-4 w-full">
                    <p class="ps-4 text-sm font-medium">BY PENGALAMAN ---</p>
                    <select name="" id="" class="px-4 w-full text-sm font-medium rounded-lg border py-3 border-gray-300 focus:ring-main focus:border-main">
                        <option value="" selected>Jumlah Pengalaman</option>
                        <option value="0">Tidak ada pengalaman</option>
                        <option value="12">Dibawah 12 bulan</option>
                        <option value="60">Dibawah 60 bulan/5 tahun</option>
                        <option value="999">Diatas 5 tahun</option>
                    </select>
                </div>
                <div class="pt-4 flex flex-col gap-4 w-full">
                    <p class="ps-4 text-sm font-medium">BY PENDIDIKAN ---</p>
                    <div class="flex flex-col">
                        <button type="button" id="dropdown-institution" data-dropdown-toggle="dropdown-institution-dd" data-dropdown-placement="right" class="bg-white border border-gray-300 focus:ring-1 focus:outline-none focus:ring-main font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">Filter Institusi <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdown-institution-dd" class="border z-10 hidden bg-white rounded-lg shadow w-1/4 dark:bg-gray-700">
                            <div class="p-3">
                                <label for="input-group-search" class="sr-only">Search</label>
                                <div class="relative">
                                    <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                        </svg>
                                    </div>
                                    <input type="text" id="input-group-search" class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cari institusi">
                                </div>
                            </div>
                            <ul class="list-institutions h-28 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-location">
                                <!-- HERE -->
                            </ul>
                        </div>
                    </div>
                    <select name="edu_type" id="" class="px-4 w-full text-sm font-medium rounded-lg border py-3 border-gray-300 focus:ring-main focus:border-main">
                        <option value="" selected>Tingkat Pendidikan</option>
                        <option value="Pacasarjana (S2)">Pacasarjana (S2)</option>
                        <option value="Sarjana (S1)">Sarjana (S1)</option>
                        <option value="Sekolah Menengah Atas">Sekolah Menengah Atas</option>
                        <option value="Sekolah Menengah Pertama">Sekolah Menengah Pertama</option>
                        <option value="Sekolah Dasar">Sekolah Dasar</option>
                        <option value="Bootcamp">Bootcamp</option>
                    </select>
                </div>
            </form>
        </div>

        <!-- CARDS -->
        <div class="lg:col-span-8 px-[5%] lg:px-10 pb-40 overflow-y-scroll h-screen">
            <div id="on-login" class="hidden">
                <div class="py-4">
                    <p class="text-2xl font-medium text-main"><i class="uil uil-card-atm"></i> Kartu Kamu</p>
                </div>
                <hr class="border-gray-300 pt-4 pb-4">
                <!-- CARD -->
                <div class="grid lg:grid-cols-2 gap-6">

                    <div id="my-profile">
                        <!-- HERE -->
                    </div>
                    
                    <div id="how-to" class="">
                        <p class="text-2xl text-black/70 font-medium">Bagaimana agar kartu aktif ?</p>
                        <div class="ms-2 mt-3 text-black/60">
                            <p>• Lengkapi informasi basicmu</p>
                            <p>• Tambahkan keahlian & pendidikan yang telah kamu lalui</p>
                            <p>• Tambahkan Curriculum Vitae (CV) </p>
                            <p>• Aktifkan visibilitas talent hunt di profil</p>
                        </div>
                        <a href="/profile/me" class="block w-max mt-4 rounded-lg px-6 py-2 text-white font-medium text-sm bg-main">Ayo coba aktifkan</a>
                    </div>
                </div>
            </div>
            <div id="off-login" class="hidden my-4">
                <p class="text-black/60">Pamerkan betapa kerennya dirimu, untuk membuat <b>orang lain</b> & <b>recruiter</b> tertarik terhadap profilemu</p>
                <button id="button-create-card" class="text-white font-medium text-sm bg-main rounded-lg mt-4 px-6 py-2">Buat kartu kamu sendiri !</button>
            </div>

            
            <div class="flex justify-between items-center py-4 mt-10 lg:mt-0">
                <p class="text-2xl font-medium text-main"><i class="uil uil-user-md"></i> Menampilkan <span id="total-active-user">0</span> Talent</p>
                <button id="button-filter" class="lg:hidden shadow-md w-10 rounded-full h-10 bg-main text-white font-medium"><i class="uil uil-sliders-v"></i></button>
            </div>
            <hr class="border-gray-300">
            <!-- <p class="text-2xl font-medium">Showing 40 Talent</p> -->
            <div id="cards" class="grid lg:grid-cols-3 gap-4 mt-8">
                <!-- CARD -->
            </div>
        </div>
    </div>
</main>

<!-- POPUP USER -->
<div id="popup" class="hidden fixed top-0 bottom-0 right-0 left-0 bg-black/60 z-30 flex items-end lg:items-center justify-center">
    <div id="popup-user" class="hidden popup w-full lg:w-1/3 bg-background noise rounded-2xl relative overflow-hidden">
        <div class="h-[90vh] overflow-y-scroll w-full px-[5%] lg:px-12 py-8">
            <div class="text-center flex flex-col items-center justify-center">
                <div class="w-[90px] h-[90px] min-w-[90px] min-h-[90px] rounded-full overflow-hidden mx-auto lg:mx-0">
                    <img id="popup-profile-pic" src="/img/no-profile.jpg" alt="profile-picture" class="w-full h-full object-cover">
                </div>
                <p id="popup-username" class="text-2xl font-bold text-main">Assami Muzaki</p>
                <p id="popup-headline" class="font-medium text-black/60 text-sm">Founder of Internshits</p>
            </div>
    
            <hr class="my-4">
    
            <div id="popup-socials" class="flex items-center gap-6 text-thrid/80 text-xl justify-center">
                <a id="link-twitter" href="" target="_blank" class="hidden link-social"><i class="uil uil-twitter"></i></a>
                <a id="link-instagram" href="" target="_blank" class="hidden link-social"><i class="uil uil-instagram-alt"></i></a>
                <a id="link-linkedin" href="" target="_blank" class="hidden link-social"><i class="uil uil-linkedin"></i></a>
                <a id="link-behance" href="" target="_blank" class="hidden link-social"><i class="uil uil-behance"></i></a>
                <a id="link-github" href="" target="_blank" class="hidden link-social"><i class="uil uil-github"></i></a>
                <a id="link-youtube" href="" target="_blank" class="hidden link-social"><i class="uil uil-youtube"></i></a>
            </div>
    
            <hr class="my-4">
            
            <p id="popup-summary" class="text-black/80 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime repudiandae inventore dolores dolorum earum aliquid tempora sequi esse, omnis rem nam delectus reprehenderit itaque distinctio architecto deserunt harum illo ullam.</p>
            
            <hr class="my-4">

            <div class="py-6 flex flex-col gap-4">
                <div class="grid grid-cols-2 text-center">
                    <div class="">
                        <p class="text-xs text-black/60 font-medium">LOCATION</p>
                        <p id="popup-domicile" class="font-bold text-sm mt-2 text-black/70"></p>
                    </div>
                    <div class="">
                        <p class="text-xs text-black/60 font-medium">PHONE NUMBER</p>
                        <p id="popup-mobile" class="font-bold text-sm mt-2 text-black/70"></p>
                    </div>
                </div>
                <div class="grid grid-cols-2 mt-4 text-center">
                    <div class="">
                        <p class="text-xs text-black/60 font-medium">SALARY RANGE</p>
                        <p id="popup-salary" class="font-bold text-sm mt-2 text-black/70"></p>
                    </div>
                    <div class="">
                        <p class="text-xs text-black/60 font-medium">YOE (month)</p>
                        <p id="popup-yoe" class="font-bold text-sm mt-2 text-black/70"></p>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <p class="text-xs text-black/60 font-medium">PREFRENSI PEKERJAAN</p>
                    <p id="popup-work-pref" class="font-bold text-sm mt-2 text-black/70">Work From Office</p>
                </div>
            </div>
    
            <hr class="my-4">
    
            <div class="flex flex-col gap-2">
                <a id="popup-view" target="_blank" class="text-sm text-white font-medium bg-main mx-auto w-full py-2.5 rounded-lg flex justify-center gap-2"><i class="uil uil-external-link-alt"></i> View More Detail</a>
                <button class="close-x text-sm text-main font-medium mx-auto w-full py-2 rounded-lg">Tutup</button>
            </div>
        </div>
    </div>

    <div id="popup-filter" class="hidden popup w-full rounded-t-2xl bg-background overflow-hidden">
        <div class="h-[88vh] p-5 overflow-y-scroll">
            <button type="button" class="lg:hidden my-4 mb-6 flex items-center gap-2 close-x text-main font-medium text-base">
                <i class="uil uil-arrow-left"></i> Kembali ke Talent Hunt
            </button>
    
            <div class="flex justify-between">
                <p class="text-main font-bold text-2xl mt-4">Filter Talent</p>
                <button class="text-sm text-main/70 font-medium">CLEAR</button>
            </div>
    
            <form id="form-market-filter" class="flex flex-col items-center gap-4 divide-y divide-gray-300 py-6">
                <div class="w-full flex flex-col gap-4 w-full">
                    <!-- <label for="" class="">SEARCH</label> -->
                    <p class="ps-4 text-sm font-medium">BY INFORMASI BASIC ---</p>
                    <input type="search" id="input-search" value="" class="block w-full px-4 py-3 rounded-lg font-medium text-sm text-gray-900 border border-gray-300 bg-white focus:ring-main focus:border-main" placeholder="Cari nama atau posisi" />
    
                    <!-- LOCATIONS -->
                    <div class="flex flex-col">
                        <button type="button" id="dropdown-location-mobile" data-dropdown-toggle="dropdown-location-dd-mobile" data-dropdown-placement="bottom" class="justify-between bg-white border border-gray-300 focus:ring-1 focus:outline-none focus:ring-main font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">Filter Lokasi <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdown-location-dd-mobile" class="w-[88%] border z-10 hidden bg-white rounded-lg shadow w-1/4 dark:bg-gray-700">
                            <div class="p-3">
                                <label for="input-group-search" class="sr-only">Search</label>
                                <div class="relative">
                                    <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                        </svg>
                                    </div>
                                    <input type="text" id="input-group-search" class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cari lokasi">
                                </div>
                            </div>
                            <ul class="list-locations h-28 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-location-mobile">
                                <!-- HERE -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pt-4 flex flex-col gap-4 w-full">
                    <p class="ps-4 text-sm font-medium">BY PENGALAMAN ---</p>
                    <select name="" id="" class="px-4 w-full text-sm font-medium rounded-lg border py-3 border-gray-300 focus:ring-main focus:border-main">
                        <option value="" selected>Jumlah Pengalaman</option>
                        <option value="0">Tidak ada pengalaman</option>
                        <option value="12">Dibawah 12 bulan</option>
                        <option value="60">Dibawah 60 bulan/5 tahun</option>
                        <option value="999">Diatas 5 tahun</option>
                    </select>
                </div>
                <div class="pt-4 flex flex-col gap-4 w-full">
                    <p class="ps-4 text-sm font-medium">BY PENDIDIKAN ---</p>
                    <div class="flex flex-col">
                        <button type="button" id="dropdown-institution-mobile" data-dropdown-toggle="dropdown-institution-dd-mobile" data-dropdown-placement="bottom" class="justify-between bg-white border border-gray-300 focus:ring-1 focus:outline-none focus:ring-main font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">Filter Institusi <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdown-institution-dd-mobile" class="w-[88%] border z-10 hidden bg-white rounded-lg shadow w-1/4 dark:bg-gray-700">
                            <div class="p-3">
                                <label for="input-group-search" class="sr-only">Search</label>
                                <div class="relative">
                                    <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                        </svg>
                                    </div>
                                    <input type="text" id="input-group-search" class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cari institusi">
                                </div>
                            </div>
                            <ul class="list-institutions h-28 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-institution-mobile">
                                <!-- HERE -->
                            </ul>
                        </div>
                    </div>
                    <select name="edu_type" id="" class="px-4 w-full text-sm font-medium rounded-lg border py-3 border-gray-300 focus:ring-main focus:border-main">
                        <option value="" selected>Tingkat Pendidikan</option>
                        <option value="Pacasarjana (S2)">Pacasarjana (S2)</option>
                        <option value="Sarjana (S1)">Sarjana (S1)</option>
                        <option value="Sekolah Menengah Atas">Sekolah Menengah Atas</option>
                        <option value="Sekolah Menengah Pertama">Sekolah Menengah Pertama</option>
                        <option value="Sekolah Dasar">Sekolah Dasar</option>
                        <option value="Bootcamp">Bootcamp</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('./layouts/footer'); -%>

<script>

    $("body").addClass("overflow-hidden")
    document.title = `Talent Hunting di Internshits!`            

    let LOCATIONS = []
    let INSTITUTION = []
    let EDU_TYPE = []

    let QUERY = {
        keyword: ""
    }

    getActiveUserCard(QUERY)

    $("#form-market-filter").submit(function(e){
        e.preventDefault()
        QUERY.keyword = $("#input-search").val()
        getActiveUserCard(QUERY)
    })












    

    // Get All Locations Registered
    $.get("/api/v1/users/info/domicile", function(locationData){
        locationData = decrypt(locationData.r)
        const allLocation = Array.from(new Set(locationData.map(location => {
            return location.domicile
        })))
        allLocation.forEach(location => {
            $(".list-locations").append(`
                <li>
                    <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                        <input id="checkbox-${location}" type="checkbox" value="${location.toLowerCase()}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="checkbox-${location}" class="w-full py-2 ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">${location}</label>
                    </div>
                </li>
            `)
        })
    })

    $("#dropdown-location-dd, #dropdown-location-dd-mobile").on("change", "input", function(){
        const THIS_VAL = $(this).val()
        if($(this).is(":checked")){
            LOCATIONS.push(THIS_VAL)
        }else{
            LOCATIONS = removeFromArray(LOCATIONS, THIS_VAL)
        }
    })


    $.get("/api/v1/users/info/educations", function(educationsData){
        educationsData = decrypt(educationsData.r)
        const allEducations = Array.from(new Set(educationsData.map(education => {
            return education.edu_institution
        })))
        
        allEducations.forEach(education => {
            $(".list-institutions").append(`
                <li>
                    <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                        <input id="checkbox-${education}" type="checkbox" value="${education.toLowerCase()}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="checkbox-${education}" class="w-full py-2 ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">${education}</label>
                    </div>
                </li>
            `)
        })
    })

    $("#dropdown-institution-dd, #dropdown-institution-dd-mobile").on("change", "input", function(){
        const THIS_VAL = $(this).val()
        if($(this).is(":checked")){
            INSTITUTION.push(THIS_VAL)
        }else{
            INSTITUTION = removeFromArray(INSTITUTION, THIS_VAL)
        }
    })





    // If User Login
    $.ajax({
        url: "/api/v1/users/verify-token",
        type: "GET",
        headers: {
            "Authorization": window.USER_TOKEN,
        },
        success: (isVerified) => {
            if(isVerified){
                $("#on-login").removeClass("hidden")
                $("#off-login").addClass("hidden")
                $("#how-to").addClass("hidden")
            }else{
                $("#on-login").addClass("hidden")
                $("#off-login").removeClass("hidden")
            }

            $.ajax({
                url: '/api/v1/users/info',
                type: 'get',
                dataType: 'json',
                headers: {
                    "Authorization": window.USER_TOKEN,
                },
                success: async function (userData) {
                    userData = decrypt(userData.r)
                    let SKILLS = userData.skills.map(function(skill){
                        return `<button class="text-xs bg-main text-white px-2 py-1 rounded-lg">${skill.skill.length >= 14 ? skill.skill.substring(0,14)+".." : skill.skill}</button>`
                    })
                    let ACTIVE_SKILL = SKILLS.slice(0,3)
                    let REMAIN = SKILLS.slice(ACTIVE_SKILL.length)

                    let isActive = userData.active_search == false ? `<p class="bg-red-500/90 text-xs px-4 text-white py-0.5">INACTIVE</p>` : `<p class="bg-green-500/90 text-xs px-4 text-white py-0.5">ACTIVE</p>`

                    $("#my-profile").append(`
                        <div class="card-user flex flex-col lg:flex-row self-start gap-5 rounded-2xl border border-main p-5 bg-white shadow-md hover:scale-[1.005] duration-100 cursor-pointer">
                            <div class="w-[70px] h-[70px] min-w-[70px] min-h-[70px] rounded-full overflow-hidden mx-auto lg:mx-0">
                                <img id="basic-profile-pic" src="${userData.profile_picture}" onerror="src='/img/no-profile.jpg'" alt="profile-picture" class="w-full h-full object-cover">
                            </div>
                            <div class="w-full">
                                <div class="flex items-center lg:items-start flex-col-reverse lg:flex-row justify-between">
                                    <div class="mb-2 text-center lg:text-left">
                                        <p class="id" style="display:none">${userData.id}</p>
                                        <p id="basic-fullname" class="font-bold text-xl text-main">${userData.firstname} ${userData.lastname} ${userData.sex == 'Male' ? `<i class="uil uil-mars text-blue-500"></i>` : userData.sex == "Female" ? `<i class="uil uil-venus text-pink-500"></i>` : ""}</p>
                                        <p id="basic-current-position" class="text-sm text-thrid/60 font-medium">${userData.headline}</p>
                                    </div>
                                    ${isActive}
                                </div>
                                <hr>
                                <div class="pt-2">
                                    <p class="text-sm flex items-center text-black/80"><i class="uil uil-award-alt"></i><span class="font-medium ms-2 me-1">${userData.YoE}</span>Bulan Pengalaman</p>
                                    <p class="text-sm flex items-center text-black/80"><i class="uil uil-bag me-2"></i>${userData.experiences.length > 0 ? userData.experiences[0].exp_position + " di " + userData.experiences[0].exp_orgname : "no experiences"}</p>
                                    <p class="text-sm flex items-center"><i class="uil uil-building"></i><span class="ms-2">${userData.educations.length > 0 ? userData.educations[0].edu_type + " - " + userData.educations[0].edu_program : "No Education Added"}</span></p>
                                    <div class="flex gap-2 mt-3 flex-wrap">
                                        ${ACTIVE_SKILL.join("")}
                                        ${REMAIN.length != 0 ? `<button class="text-xs bg-main text-white px-2 py-1 rounded-lg">+${REMAIN.length}</button>` : ""}
                                    </div>
                                </div>
                            </div>
                        </div>
                    `)
            
                },
                error: function(xhr){
                    // window.location.href = "/"
                }
            });

        },
        error: function (request, status, error) {
            $("#nav-profile").addClass("hidden")
            $("#button-login").removeClass("hidden")
            return request
        },
    })


    // Go Login page
    $("#button-create-card").click(function(){
        $("#popup-layer-navbar").fadeIn(function(){
            $("#popup-login").slideToggle()
            $("body").css("overflow", "hidden")
        }).css("display", "flex")
    })

    $("#button-filter").click(function(){
        $("#popup").fadeIn(function(){
            $("#popup-filter").slideToggle()
            $("body").addClass('no-scroll');
        }).css("display", "flex")
    })

    // Card click for detail
    $("#cards").on("click", ".card-user", function(){
        $("#popup").fadeIn(function(){
            $("body").addClass('no-scroll');
            $("#popup-user").slideToggle()
        }).css("display", "flex")

        const ID = $(this).find(".id").text()
        $.get(`/api/v1/users/${ID}`, function(userData){
            let SHOW_PHONE

            userData = decrypt(userData.r)

            let paragraph = userData.summary.split("\n").join("</br>")

            // CHACK CONFIGURATION
            if(userData.config){
                if(userData.config.show_phone == true){
                    $("#popup-mobile").text(userData.mobile ? userData.mobile : "-")
                }else{
                    $("#popup-mobile").text("Tersembunyi")
                }
            }

            $("#popup-headline").text(userData.headline)
            $("#popup-summary").html(paragraph.length < 250 ? paragraph : paragraph.substring(0,250)+"..")
            $("#popup-username").text(`${userData.firstname} ${userData.lastname}`)
            $("#popup-domicile").text(userData.domicile ? userData.domicile : "-")
            $("#popup-view").prop("href", `/profile/${userData.id}`)
            $("#popup-profile-pic").prop("src", userData.profile_picture)
            $("#popup-yoe").text(`${userData.YoE} bulan`)
            $("#popup-salary").text(userData.salary=="0" ? "Negotiable" : userData.salary)

            if(userData.socials){
                if(userData.socials.twitter){
                    $("#link-twitter").removeClass("hidden").prop("href",userData.socials.twitter)
                }
                if(userData.socials.instagram){
                    $("#link-instagram").removeClass("hidden").prop("href",userData.socials.instagram)
                }
                if(userData.socials.linkedin){
                    $("#link-linkedin").removeClass("hidden").prop("href",userData.socials.linkedin)
                }
                if(userData.socials.behance){
                    $("#link-behance").removeClass("hidden").prop("href",userData.socials.behance)
                }
                if(userData.socials.github){
                    $("#link-github").removeClass("hidden").prop("href",userData.socials.github)
                }
                if(userData.socials.youtube){
                    $("#link-youtube").removeClass("hidden").prop("href",userData.socials.youtube)
                }
            }else{
                $("#popup-socials").html("-")
            }
        })
    })

    $(".close-x").click(function(){
        $(this).closest('.popup').slideToggle(function(){
            $(this).closest('#popup').fadeOut()
        })
        $("body").removeClass('no-scroll');
    })

    
    const decrypt = (data, keys='<%= process.env.AES_KEYS %>') => {
        let bytes = CryptoJS.AES.decrypt(data, keys)
        return JSON.parse(bytes.toString(CryptoJS.enc.Utf8))
    }



    function getActiveUserCard(QUERY){
        $.get(`/api/v1/users/active?keyword=${QUERY.keyword}&domicile=${QUERY.domicile}&YoE=${QUERY.YoE}&departement=${QUERY.departement}&university=${QUERY.university}&edu_type=${QUERY.edu_type}`, function(usersData){
            usersData = decrypt(usersData.r)

            $("#total-active-user").text(usersData.length)

            $("#cards").html("")
            usersData.forEach(user => {
                let SHOW_BIRTHDAY
                let SHOW_PHONE
                let SKILLS = user.skills.map(function(skill){
                    return `<button class="text-xs bg-main text-white px-2 py-1 rounded-lg">${skill.skill.length >= 14 ? skill.skill.substring(0,14)+".." : skill.skill}</button>`
                })

                let ACTIVE_SKILL = SKILLS.slice(0,2)
                let REMAIN = SKILLS.slice(ACTIVE_SKILL.length)
                $("#cards").append(`
                    <div class="card-user flex flex-col lg:flex-row self-start gap-5 rounded-2xl border border-main p-5 bg-white shadow-md hover:scale-[1.005] duration-100 cursor-pointer">
                        <div class="w-full">
                            <div class="flex items-center gap-2 pb-2.5">
                                <div class="w-[70px] h-[70px] min-w-[70px] min-h-[70px] rounded-full overflow-hidden mx-auto lg:mx-0">
                                    <img id="basic-profile-pic" src="${user.profile_picture}" onerror="src='/img/no-profile.jpg'" alt="profile-picture" class="w-full h-full object-cover">
                                </div>
                                <div class="mb-2">
                                    <p class="id" style="display:none">${user.id}</p>
                                    <p id="basic-fullname" class="font-bold text-xl text-main">${user.firstname} ${user.lastname} ${user.sex == 'Male' ? `<i class="uil uil-mars text-blue-500"></i>` : user.sex == "Female" ? `<i class="uil uil-venus text-pink-500"></i>` : ""}</p>
                                    <p id="basic-current-position" class="text-sm text-thrid/60 font-medium">${user.headline}</p>
                                    <div class="flex gap-2 mt-3 flex-wrap">
                                        ${ACTIVE_SKILL.join("")}
                                        ${REMAIN.length != 0 ? `<button class="text-xs bg-main text-white px-2 py-1 rounded-lg">+${REMAIN.length}</button>` : ""}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="pt-2">
                                <p class="text-sm flex items-center text-black/80"><i class="uil uil-award-alt"></i><span class="font-medium ms-2 me-1">${user.YoE}</span>Bulan Pengalaman</p>
                                <p class="text-sm flex items-center text-black/80"><i class="uil uil-bag me-2"></i>${user.experiences.length > 0 ? user.experiences[0].exp_position + " di " + user.experiences[0].exp_orgname : "no experiences"}</p>
                                <p class="text-sm flex items-center"><i class="uil uil-building"></i><span class="ms-2">${user.educations.length > 0 ? user.educations[0].edu_type + " - " + user.educations[0].edu_program : "No Education Added"}</span></p>
                            </div>
                        </div>
                    </div>
                `)
            });
        })
    }

    function removeFromArray(arr, valueToRemove) {
        return arr.filter(item => item !== valueToRemove);
    }

    function filterDataById(dataArray, excludeId) {
        console.log(dataArray);
        return dataArray.filter(item => item.id !== excludeId);
    }
</script>