<%- include('./layouts/header'); -%>
<%- include('./layouts/navbar-all'); -%>

<main class="noise">
    <div class="w-full grid lg:grid-cols-10">

        <!-- SIDEBAR -->
        <div class="lg:col-span-2 border-r-2 pb-28 lg:overflow-y-scroll lg:h-screen hidden lg:block">
            <form id="form-market-filter" class="flex flex-col items-center gap-4 divide-y divide-gray-300 py-6 px-4">
                <div class="w-full flex flex-col gap-4 w-full">
                    <div class="pb-4 flex justify-between w-full">
                        <p class="ps-4 text-sm text-black/70 font-medium">FILTER</p>
                        <button id="clear-filter" class="text-sm text-main/70 font-medium">CLEAR</button>
                    </div> 
                    <!-- <label for="" class="">SEARCH</label> -->
                    <p class="ps-4 text-sm font-medium">BY INFORMASI BASIC ---</p>
                    <input type="search" value="" class="input-search block w-full px-4 py-3 rounded-lg font-medium text-sm text-gray-900 border border-gray-300 bg-white focus:ring-main focus:border-main" placeholder="Cari nama atau pekerjaan" />
                    <select class="select-gender px-4 w-full text-sm font-medium rounded-lg border py-3 border-gray-300 focus:ring-main focus:border-main">
                        <option value="" selected>Jenis Kelamin</option>
                        <option value="Male">Laki Laki</option>
                        <option value="Female">Perempuan</option>
                    </select>
                    <select class="select-work_pref px-4 w-full text-sm font-medium rounded-lg border py-3 border-gray-300 focus:ring-main focus:border-main">
                        <option value="" selected>Preferensi Pekerjaan</option>
                        <option value="WFO">Work From Office (WFO)</option>
                        <option value="WFH">Work From Home (WFH)</option>
                        <option value="WFA">Work From Anywhere (WFA)</option>
                    </select>
                </div>
                <div class="pt-4 flex flex-col gap-4 w-full">
                    <p class="ps-4 text-sm font-medium">BY PENDIDIKAN ---</p>
                    <input type="search" value="" class="input-pendidikan block w-full px-4 py-3 rounded-lg font-medium text-sm text-gray-900 border border-gray-300 bg-white focus:ring-main focus:border-main" placeholder="Cari jurusan / program" />
                    <div class="flex flex-col">
                        <button type="button" id="dropdown-institution" data-dropdown-toggle="dropdown-institution-dd" data-dropdown-placement="right" class="bg-white border border-gray-300 focus:ring-1 focus:outline-none focus:ring-main font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">Filter Institusi <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdown-institution-dd" class="border z-10 hidden bg-white rounded-lg shadow w-1/4 dark:bg-gray-700">
                            <div class="p-3">
                                <label for="input-group-search" class="sr-only">Search</label>
                                <div class="relative">
                                    <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                        </svg>
                                    </div>
                                    <input type="text" class="university-input block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cari institusi">
                                </div>
                            </div>
                            <ul class="list-institutions h-28 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-location">
                                <!-- HERE -->
                            </ul>
                        </div>
                    </div>
                    <select class="select-edu_type px-4 w-full text-sm font-medium rounded-lg border py-3 border-gray-300 focus:ring-main focus:border-main">
                        <option value="" selected>Tingkat Pendidikan</option>
                        <option value="Pacasarjana (S2)">Pacasarjana (S2)</option>
                        <option value="Sarjana (S1)">Sarjana (S1)</option>
                        <option value="Sekolah Menengah Atas">Sekolah Menengah Atas</option>
                        <option value="Sekolah Menengah Pertama">Sekolah Menengah Pertama</option>
                        <option value="Sekolah Dasar">Sekolah Dasar</option>
                        <option value="Bootcamp">Bootcamp</option>
                    </select>
                    <select class="select-gpa px-4 w-full text-sm font-medium rounded-lg border py-3 border-gray-300 focus:ring-main focus:border-main">
                        <option value="" selected>Nilai atau IPK</option>
                        <option value="3.50">> IPK 3.50</option>
                        <option value="3.00">> IPK 3.00</option>
                        <option value="2.00">> IPK 2.00</option>
                        <option value="90">> Raport 90</option>
                        <option value="80">> Raport 80</option>
                        <option value="70">> Raport 70</option>
                        <option value="60">> Raport 60</option>
                    </select>
                </div>
            </form>
        </div>

        <!-- CARDS -->
        <div class="lg:col-span-8 px-[5%] lg:px-10 pb-40 overflow-y-scroll h-screen">
            <!-- <div id="on-login" class="hidden">
                <div class="py-4">
                    <p class="text-2xl font-medium text-main"><i class="uil uil-card-atm"></i> Kartu Kamu</p>
                </div>
                <hr class="border-gray-300 pt-4 pb-4">
                CARD
                <div class="grid lg:grid-cols-2 gap-6">

                    <div id="my-profile">
                        HERE
                    </div>
                    
                    <div id="how-to" class="">
                        <p class="text-2xl text-black/70 font-medium">Bagaimana agar kartu aktif ?</p>
                        <div class="ms-2 mt-3 text-black/60">
                            <p>• Lengkapi informasi basicmu</p>
                            <p>• Tambahkan keahlian & pendidikan yang telah kamu lalui</p>
                            <p>• Tambahkan Curriculum Vitae (CV) </p>
                            <p>• Aktifkan visibilitas talent hunt di profil</p>
                        </div>
                        <a href="/profile/me" class="block w-max mt-4 rounded-lg px-6 py-2 text-white font-medium text-sm bg-main">Ayo coba aktifkan</a>
                    </div>
                </div>
            </div> -->
            <div id="off-login" class="hidden my-4">
                <p class="text-black/60">Pamerkan betapa kerennya dirimu, untuk membuat <b>orang lain</b> & <b>recruiter</b> tertarik terhadap profilemu</p>
                <button id="button-create-card" class="text-white font-medium text-sm bg-main rounded-lg mt-4 px-6 py-2">Buat kartu kamu sendiri !</button>
            </div>

            
            <div class="flex justify-between items-center py-4 mt-2 lg:mt-0">
                <p class="text-2xl font-medium text-main"><i class="uil uil-user-md"></i> Menampilkan <span id="total-active-user">0</span> Talent</p>
                <button id="button-filter" class="lg:hidden shadow-md w-10 rounded-full h-10 bg-main text-white font-medium"><i class="uil uil-sliders-v"></i></button>
            </div>
            <hr class="border-gray-300">
            <!-- <p class="text-2xl font-medium">Showing 40 Talent</p> -->
            <div id="cards" class="grid lg:grid-cols-3 gap-4 mt-8">
                <!-- CARD -->
            </div>
        </div>
    </div>
</main>

<!-- POPUP USER -->
<div id="popup" class="hidden fixed top-0 bottom-0 right-0 left-0 bg-black/60 z-30 flex items-end lg:items-center justify-center">
    <div id="popup-user" class="hidden popup w-full lg:w-1/2 bg-background noise rounded-2xl relative overflow-hidden">
        <div id="popup-user-s" class="h-[85vh] overflow-y-scroll w-full px-[5%] lg:px-12 py-8">

            <!-- BASIC INFO -->
            <div class="grid lg:grid-cols-2 justify-between">
                <div class="flex gap-4 items-center">
                    <div class="w-[90px] h-[90px] min-w-[90px] min-h-[90px] rounded-full overflow-hidden mx-auto lg:mx-0">
                        <img id="popup-profile-pic" src="/img/no-profile.jpg" alt="profile-picture" class="w-full h-full object-cover">
                    </div>
                    <div class="">
                        <p id="popup-username" class="text-2xl font-bold text-main"><i class="uil uil-mars text-blue-500"></i> Assami Muzaki</p>
                        <p id="popup-headline" class="font-medium text-black/60 text-sm">Founder of Internshits</p>
                        <div class="flex items-center gap-3 mt-2">
                            <a id="popup-email" target="_blank" href="" class="px-4 lg:px-2 py-1 bg-blue-500 text-xs block w-max text-white/90 rounded flex items-center gap-2"><i class="uil uil-envelope"></i> <span class="hidden lg:block">Hubungi Email</span></a>
                            <a id="popup-whatsapp" target="_blank" href="" class="px-4 lg:px-2 py-1 bg-blue-500 text-xs block w-max text-white/90 rounded flex items-center gap-2"><i class="uil uil-whatsapp"></i> <span class="hidden lg:block">Hubungi Whatsapp</span></a>
                        </div>
                    </div>
                </div>
                <div class="lg:justify-self-end mt-8 lg:mt-0 flex divide-x divide-gray-400 items-center justify-center">
                    <div class="text-center px-4">
                        <p id="popup-work-pref" class="font-semibold leading-tight text-lg text-black/80">WFO</p>
                        <small class="text-black/60">Preferensi Pekerjaan</small>
                    </div>
                    <div class="text-center px-4">
                        <p id="popup-domicile" class="font-semibold leading-tight text-lg text-black/80">Citayam</p>
                        <small class="text-black/60">Domisili</small>
                    </div>
                </div>
            </div>
    
            <hr class="my-4">
    
            <!-- SKILL USER -->
            <div id="popup-skills" class="flex items-center justify-center flex-wrap gap-3">
                <!-- HERE SKILL -->
            </div>
    
            <hr class="my-4">
            
            <!-- PROFILE SUMMARY -->
            <p id="popup-summary" class="text-black/80 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime repudiandae inventore dolores dolorum earum aliquid tempora sequi esse, omnis rem nam delectus reprehenderit itaque distinctio architecto deserunt harum illo ullam.</p>
            
            <hr class="my-4">

            <!-- EDUCATION USER -->
            <div class="flex flex-col gap-4">
                <p class="font-semibold text-xl text-main flex items-center gap-2"><i class="uil uil-university"></i>Pendidikan</p>
                <div id="popup-educations" class="flex flex-col gap-4">

                </div>
            </div>

            <hr class="my-4">

            <!-- EXPERIENCE USER -->
            <div class="flex flex-col gap-4">
                <p class="font-semibold text-xl text-main flex items-center gap-2"><i class="uil uil-bag-alt"></i>Pengalaman - (<span id="popup-yoe"></span>)</p>
                <div id="popup-experiences" class="flex flex-col gap-4">
                    <!-- HERE -->
                </div>
            </div>
    
            <hr class="my-4">

            <!-- SOCIAL MEDIA USER -->
            <div id="popup-socials" class="flex items-center gap-6 text-thrid/80 text-xl justify-center">
                <a id="link-twitter" href="" target="_blank" class="hidden link-social text-3xl"><i class="uil uil-twitter"></i></a>
                <a id="link-instagram" href="" target="_blank" class="hidden link-social text-3xl"><i class="uil uil-instagram-alt"></i></a>
                <a id="link-linkedin" href="" target="_blank" class="hidden link-social text-3xl"><i class="uil uil-linkedin"></i></a>
                <a id="link-behance" href="" target="_blank" class="hidden link-social text-3xl"><i class="uil uil-behance"></i></a>
                <a id="link-github" href="" target="_blank" class="hidden link-social text-3xl"><i class="uil uil-github"></i></a>
                <a id="link-youtube" href="" target="_blank" class="hidden link-social text-3xl"><i class="uil uil-youtube"></i></a>
            </div>
    
            <div class="flex flex-col gap-3 mt-8">
                <a href="" target="_blank" class="popup-resume text-white font-medium bg-main mx-auto w-full py-3 rounded-lg flex justify-center gap-2"><i class="uil uil-external-link-alt"></i> Lihat Curriculum Vitae (CV)</a>
                <a href="" target="_blank" class="popup-portfolio text-white font-medium bg-main mx-auto w-full py-3 rounded-lg flex justify-center gap-2"><i class="uil uil-external-link-alt"></i> Lihat Portfolio</a>
                <button class="close-x text-sm text-main font-medium mx-auto w-full py-3 rounded-lg">Tutup</button>
            </div>
        </div>
    </div>

    <div id="popup-filter" class="popup hidden w-full rounded-t-2xl bg-background h-[85vh] p-5 overflow-y-scroll pb-14">
        <button type="button" class="lg:hidden my-4 mb-6 flex items-center gap-2 close-x text-main font-medium text-base">
            <i class="uil uil-arrow-left"></i> Kembali ke Talent Hunt
        </button>
        <p class="text-main font-bold text-2xl mt-4">Filter Talent</p>

        <div class="flex flex-col gap-4 mt-6">
            <div class="flex flex-col gap-4">
                <p class="ps-4 text-sm font-medium">BY INFORMASI BASIC ---</p>
                <form id="form-market-filter-mobile">
                    <input type="search" value="" class="input-search block w-full px-4 py-3 rounded-lg font-medium text-sm text-gray-900 border border-gray-300 bg-white focus:ring-main focus:border-main" placeholder="Cari nama atau pekerjaan" />
                </form>
                <select class="select-gender px-4 w-full text-sm font-medium rounded-lg border py-3 border-gray-300 focus:ring-main focus:border-main">
                    <option value="" selected>Jenis Kelamin</option>
                    <option value="Male">Laki Laki</option>
                    <option value="Female">Perempuan</option>
                </select>
                <select class="select-work_pref px-4 w-full text-sm font-medium rounded-lg border py-3 border-gray-300 focus:ring-main focus:border-main">
                    <option value="" selected>Preferensi Pekerjaan</option>
                    <option value="WFO">Work From Office (WFO)</option>
                    <option value="WFH">Work From Home (WFH)</option>
                    <option value="WFA">Work From Anywhere (WFA)</option>
                </select>
            </div>

            <div class="flex flex-col gap-4">
                <p class="ps-4 text-sm font-medium">BY PENDIDIKAN ---</p>
                <input type="search" value="" class="input-search block w-full px-4 py-3 rounded-lg font-medium text-sm text-gray-900 border border-gray-300 bg-white focus:ring-main focus:border-main" placeholder="Cari nama atau pekerjaan" />
                <div class="flex flex-col">
                    <button type="button" id="dropdown-institution-mobile" data-dropdown-toggle="dropdown-institution-dd-mobile" data-dropdown-placement="bottom" class="bg-white border border-gray-300 focus:ring-1 focus:outline-none focus:ring-main font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">Filter Institusi <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdown-institution-dd-mobile" class="w-[90%] border z-10 hidden bg-white rounded-lg shadow w-1/4 dark:bg-gray-700">
                        <div class="p-3">
                            <label for="input-group-search" class="sr-only">Search</label>
                            <div class="relative">
                                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                    </svg>
                                </div>
                                <input type="text" class="university-input block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cari institusi">
                            </div>
                        </div>
                        <ul class="list-institutions h-28 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-institution-mobile">
                            <!-- HERE -->
                        </ul>
                    </div>
                </div>
                <select class="select-edu_type px-4 w-full text-sm font-medium rounded-lg border py-3 border-gray-300 focus:ring-main focus:border-main">
                    <option value="" selected>Tingkat Pendidikan</option>
                    <option value="Pacasarjana (S2)">Pacasarjana (S2)</option>
                    <option value="Sarjana (S1)">Sarjana (S1)</option>
                    <option value="Sekolah Menengah Atas">Sekolah Menengah Atas</option>
                    <option value="Sekolah Menengah Pertama">Sekolah Menengah Pertama</option>
                    <option value="Sekolah Dasar">Sekolah Dasar</option>
                    <option value="Bootcamp">Bootcamp</option>
                </select>
                <select class="select-gpa px-4 w-full text-sm font-medium rounded-lg border py-3 border-gray-300 focus:ring-main focus:border-main">
                    <option value="" selected>Nilai atau IPK</option>
                    <option value="3.50">> IPK 3.50</option>
                    <option value="3.00">> IPK 3.00</option>
                    <option value="2.00">> IPK 2.00</option>
                    <option value="90">> Raport 90</option>
                    <option value="80">> Raport 80</option>
                    <option value="70">> Raport 70</option>
                    <option value="60">> Raport 60</option>
                </select>
            </div>
        </div>

    </div>
</div>


<%- include('./layouts/footer'); -%>

<script>
    $("footer").addClass("hidden")
    $("body").addClass("overflow-hidden")
    document.title = `Talent Hunting di Internshits!`            

    let LOCATIONS = []
    let INSTITUTION = []
    let EDU_TYPE = []
    let allEducations
    let checkedStatus = {};

    let QUERY = {
        keyword: "",
        university: [],
        education: "",
        work_pref: "",
        gpa: "",
        gender: "",
    }






    // Init user data
    $.ajax({
        url: "/api/v1/users/verify-token",
        type: "GET",
        headers: {
            "Authorization": window.USER_TOKEN,
        },
        success: (isVerified) => {
            if(isVerified){
                $("#off-login").addClass("hidden")
                $.ajax({
                    url: '/api/v1/users/info',
                    type: 'get',
                    dataType: 'json',
                    headers: {
                        "Authorization": window.USER_TOKEN,
                    },
                    success: async function (userData) {
                        userData = decrypt(userData.r)
                        getActiveUserCard(QUERY, userData)
                    },
                    error: function(xhr){
                        getActiveUserCard(QUERY)
                    }
                });
            }else{
                $("#off-login").removeClass("hidden")
                getActiveUserCard(QUERY)
            }


        },
        error: function (request, status, error) {
            $("#nav-profile").addClass("hidden")
            $("#button-login").removeClass("hidden")
            return request
        },
    })








    $(".input-search, .input-pendidikan").on("input", function(){
        QUERY.keyword = $(this).val()
        console.log(QUERY.keyword);
        
        getActiveUserCard(QUERY)
    })

    $(".select-edu_type").change(function(){
        QUERY.education = $(this).val()
        getActiveUserCard(QUERY)
    })

    $(".select-work_pref").change(function(){
        QUERY.work_pref = $(this).val()
        getActiveUserCard(QUERY)
    })

    $(".select-gpa").change(function(){
        QUERY.gpa = $(this).val()
        getActiveUserCard(QUERY)
    })

    $(".select-gender").change(function(){
        QUERY.gender = $(this).val()
        getActiveUserCard(QUERY)
    })

    $("#clear-filter").click(function(){
        $("#form-market-filter")[0].reset();
        QUERY = {
            keyword: "",
            university: [],
            education: "",
            work_pref: "",
            gpa: "",
            gender: "",
        }
        getActiveUserCard(QUERY)
    })

    $("#button-create-card").click(function(){
        $("#popup-layer-navbar").fadeIn(function(){
            $("#popup-login").slideToggle()
            $("body").css("overflow", "hidden")
        }).css("display", "flex")
    })

    $("#button-filter").click(function(){
        $("#popup").fadeIn(function(){
            $("#popup-filter").slideToggle()
            $("body").addClass('no-scroll');
        }).css("display", "flex")
    })

    $(".close-x").click(function(){
        $(this).closest('.popup').slideToggle(function(){
            $(this).closest('#popup').fadeOut()
        })
        $("body").removeClass('no-scroll');
        document.getElementById("popup-user-s").scrollTo(0, 0);
    })




    // EDUCATION SIDEBAR HANDLER

    $.get("/api/v1/users/info/educations", function(educationsData){
        educationsData = decrypt(educationsData.r)
        allEducations = Array.from(new Set(educationsData.map(education => {
            return education.edu_institution
        })))
        
        allEducations.forEach(education => {
            $(".list-institutions").append(`
                <li>
                    <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                        <input id="checkbox-${education}" type="checkbox" value="${education.toLowerCase()}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="checkbox-${education}" class="w-full py-2 ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">${education}</label>
                    </div>
                </li>
            `)
        })
    })

    $("#dropdown-institution-dd, #dropdown-institution-dd-mobile").on("change", "input", function(){
        const THIS_VAL = $(this).val()
        if($(this).is(":checked")){
            INSTITUTION.push(THIS_VAL)
        }else{
            INSTITUTION = removeFromArray(INSTITUTION, THIS_VAL)
        }
        QUERY.university = INSTITUTION
        getActiveUserCard(QUERY)
    })

    $(".university-input").on("input", function(){
        const INPUT = $(this).val().toLowerCase(); // Ambil nilai input dalam lowercase
        $(".list-institutions").html(""); // Kosongkan daftar institusi

        // Filter institusi berdasarkan nilai input
        const filteredEducations = allEducations.filter(education => {
            return education.toLowerCase().includes(INPUT);
        });

        // Tampilkan hasil filter
        filteredEducations.forEach(education => {
            const isChecked = checkedStatus[education.toLowerCase()] ? 'checked' : ''; // Cek apakah checkbox harus dicentang
            $(".list-institutions").append(`
                <li>
                    <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                        <input id="checkbox-${education}" type="checkbox" value="${education.toLowerCase()}" ${isChecked} class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="checkbox-${education}" class="w-full py-2 ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">${education}</label>
                    </div>
                </li>
            `);
        });
    });

    $(".list-institutions").on("change", "input[type='checkbox']", function() {
        const institution = $(this).val(); // Ambil nilai institusi
        checkedStatus[institution] = $(this).prop("checked"); // Simpan status checkbox
    });

    $("#popup-educations, #popup-experiences").on("click", ".button-readmore", function(){
        const content = $(this).closest(".content")
        content.addClass("hidden")
        content.prev().removeClass("hidden")
    })



    // Card click for detail
    $("#cards").on("click", ".card-user", function(){
        $("#popup").fadeIn(function(){
            $("body").addClass('no-scroll');
            $("#popup-user").slideToggle()
        }).css("display", "flex")

        const ID = $(this).find(".id").text()
        $.ajax({
            url: `/api/v1/users/${ID}/views`,
            type: "PUT",
            async: false,
            cache: false,
            contentType: false,
            encrypt: "multipart/form-data",
            processData: false,
            headers: {
                "Authorization": window.USER_TOKEN,
            },
            success: (response) => {
                return
            },
            error: function (request, status, error) {
                return request
            },
        });

        $.get(`/api/v1/users/${ID}`, function(userData){
            document.getElementById("popup-user-s").scrollTo(0, 0);
            let SHOW_PHONE

            userData = decrypt(userData.r)

            let paragraph = userData.summary.split("\n").join("</br>")
            

            // CHACK CONFIGURATION
            if(userData.config){
                $("#popup-email").prop("href", `mailto:${userData.email}`)
                if(userData.config.show_phone == true){
                    $("#popup-whatsapp").removeClass("hidden")
                    $("#popup-whatsapp").prop("href", `https://wa.me/+62${userData.mobile}`)
                }else{
                    $("#popup-whatsapp").addClass("hidden")
                }
            }

            $("#popup-headline").text(userData.headline)
            $("#popup-summary").html(paragraph.length < 250 ? paragraph : paragraph.substring(0,250)+"..")
            $("#popup-username").text(`${userData.firstname} ${userData.lastname ? userData.lastname : ""}`)
            $("#popup-domicile").text(userData.domicile ? userData.domicile : "-")
            $("#popup-view").prop("href", `/profile/${userData.id}`)
            $("#popup-profile-pic").prop("src", userData.profile_picture)
            $("#popup-yoe").text(`${userData.YoE} bulan`)
            $("#popup-work-pref").text(userData.work_pref_status)
            $("#popup-educations").html("")
            $("#popup-experiences").html("")
            $("#popup-skills").html("")




            if(userData.skills.length > 0){
                userData.skills.forEach(function(skill){
                    $("#popup-skills").append(`<button class="text-sm bg-main text-white px-2.5 py-1.5 rounded-lg">${skill.skill}</button>`)
                })
            }

            if(userData.educations.length > 0){
                userData.educations.forEach(function(education){
                    let paragraph = education.edu_description.substring(0,200).split('\n')
                    $("#popup-educations").append(`
                        <div class="card-education bg-white p-5 py-4 rounded-lg border border-main">
                            <div class="relative flex gap-4">
                                <div class="w-full">
                                    <div class="head lg:flex justify-between">
                                        <div class="">
                                            <div class="flex items-center gap-2">
                                                <p class="text-white bg-main/60 py-[2px] px-2 inline cursor-default text-xs font-second font-medium">${education.edu_type.toUpperCase()}</p>
                                                <p class="text-white bg-white/30 py-[2px] px-2 inline cursor-default text-xs font-second font-medium">GPA ${education.edu_gpa}</p>
                                            </div>
                                            <p class="font-bold text-lg text-main">${education.edu_program}</p>
                                            <p class="font-semibold text-sm text-white-80 font-second">${education.edu_institution}</p>
                                            <p class="text-sm text-black/60 font-second">${education.edu_status} (${education.edu_location})</p>
                                        </div>
                                        <div class="text-left mt-1 lg:mt-0 lg:text-right flex gap-2 lg:block">
                                            <p class="font-second text-xs font-normal text-black/80">${formatDateMonth(education.edu_startdate)} - ${formatDateMonth(education.edu_enddate)}</p>
                                            <p class="text-xs font-semibold text-[#A5A5A5]">${calculateMonthDifference(education.edu_startdate, education.edu_enddate).toUpperCase()}</p>
                                        </div>
                                    </div>
                                    <p class="mt-3 hidden">${education.edu_description.replace(/\n/g, '<br/>')}</p>
                                    <p class="mt-3 content">${education.edu_description.length > 210 ? `${education.edu_description.replace(/\n/g, '<br/>').substring(0,210)}... <button class="button-readmore text-sm text-main">Read More</button>` : education.edu_description.replace(/\n/g, '<br/>')}</p>
                                </div>
                            </div>
                        </div>
                    `)
                })

            }
            
            if(userData.experiences.length > 0){
                userData.experiences.forEach((experienceData) => {
                    let paragraph = experienceData.exp_description.substring(0,200).split('\n')
                    $("#popup-experiences").append(`
                        <div class="card-experience bg-white p-5 py-4 rounded-lg border border-main">
                            <div class="relative flex gap-4">
                                <div class="w-full">
                                    <div class="head lg:flex justify-between">
                                        <div class="">
                                            <p class="text-white bg-main/60 py-[2px] px-2 inline cursor-default text-xs font-second font-medium">${experienceData.exp_type.toUpperCase()}</p>
                                            <p class="font-bold text-lg text-main mt-2 lg:mt-0">${experienceData.exp_position}</p>
                                            <p class="font-semibold text-sm text-black/80 font-second">${experienceData.exp_orgname}</p>
                                            <p class="text-sm text-black/60 font-second">${experienceData.exp_time} • ${experienceData.exp_status} (${experienceData.exp_location})</p>
                                        </div>
                                        <div class="text-left mt-1 lg:mt-0 lg:text-right flex gap-2 lg:block">
                                            <p class="font-second text-xs font-normal text-black/80">${formatDateMonth(experienceData.exp_startdate)} - ${experienceData.exp_enddate?formatDateMonth(experienceData.exp_enddate):"Now"}</p>
                                            <p class="text-xs font-semibold text-[#A5A5A5]">${calculateMonthDifference(experienceData.exp_startdate, experienceData.exp_enddate?experienceData.exp_enddate:getFormattedDate()).toUpperCase()}</p>
                                        </div>
                                    </div>
                                    <p class="mt-3 hidden">${experienceData.exp_description.replace(/\n/g, '<br/>')}</p>
                                    <p class="mt-3 content">${experienceData.exp_description.length > 210 ? `${experienceData.exp_description.replace(/\n/g, '<br/>').substring(0,210)}... <button class="button-readmore text-sm text-main">Read More</button>` : experienceData.exp_description.replace(/\n/g, '<br/>')}</p>
                                </div>
                            </div>
                        </div>
                    `)
                })
            }else{
                $("#popup-experiences").append(`<p class="text-black/80">pengalaman belum ditambahkan</p>`)
            }

            if(userData.attachments){
                if(!userData.attachments.atc_resume) $(".popup-resume").remove()
                if(!userData.attachments.atc_portfolio) $(".popup-portfolio").remove()
                $(".popup-resume").prop("href", userData.attachments.atc_resume)
                $(".popup-portfolio").prop("href", userData.attachments.atc_portfolio)
            }

            if(userData.socials){
                if(userData.socials.twitter){
                    $("#link-twitter").removeClass("hidden").prop("href",userData.socials.twitter)
                }
                if(userData.socials.instagram){
                    $("#link-instagram").removeClass("hidden").prop("href",userData.socials.instagram)
                }
                if(userData.socials.linkedin){
                    $("#link-linkedin").removeClass("hidden").prop("href",userData.socials.linkedin)
                }
                if(userData.socials.behance){
                    $("#link-behance").removeClass("hidden").prop("href",userData.socials.behance)
                }
                if(userData.socials.github){
                    $("#link-github").removeClass("hidden").prop("href",userData.socials.github)
                }
                if(userData.socials.youtube){
                    $("#link-youtube").removeClass("hidden").prop("href",userData.socials.youtube)
                }
            }else{
                $(".link-social").each(function(){
                    $(this).addClass("hidden")
                })
            }
        })
    })

    



    function getActiveUserCard(QUERY, userDataLogin=null){
        if(QUERY.university.length > 0){
            QUERY.university = JSON.stringify(QUERY.university) 
        }else{
            QUERY.university = ""
        }
        $.get(`/api/v1/users/active?keyword=${QUERY.keyword}&university=${QUERY.university}&edu_type=${QUERY.education}&work_pref=${QUERY.work_pref}&gpa=${QUERY.gpa}&gender=${QUERY.gender}`, function(usersData){
            usersData = decrypt(usersData.r)

            $("#total-active-user").text(usersData.length)
            $("#cards").html("")

            if(userDataLogin){
                let isActive = userDataLogin.active_search == false ? `<p class="rounded bg-red-500/90 text-xs px-4 text-white py-0.5 w-max">INACTIVE</p>` : `<p class="rounded bg-orange-500 text-xs px-4 text-white py-0.5 w-max">ACTIVE</p>`
                let SKILLS = userDataLogin.skills.map(function(skill){
                    return `<button class="text-xs bg-main text-white px-2 py-1 rounded">${skill.skill.length >= 14 ? skill.skill.substring(0,14)+".." : skill.skill}</button>`
                })

                let ACTIVE_SKILL = SKILLS.slice(0,5)
                let REMAIN = SKILLS.slice(ACTIVE_SKILL.length)
                $("#cards").append(`
                    <div class="card-user flex flex-col lg:flex-row gap-5 rounded-2xl border border-main p-5 bg-white shadow-md hover:scale-[1.005] duration-100 cursor-pointer">
                        <div class="w-full">
                            <div class="flex items-center gap-2 pb-2.5">
                                <div class="w-[70px] max-w-[70px] h-[70px] min-w-[70px] min-h-[70px] rounded-full overflow-hidden mx-auto lg:mx-0">
                                    <img id="basic-profile-pic" src="${userDataLogin.profile_picture}" onerror="src='/img/no-profile.jpg'" alt="profile-picture" class="w-full h-full object-cover">
                                </div>
                                <div class="mb-2 w-full">
                                    <p class="id" style="display:none">${userDataLogin.id}</p>
                                    <p id="basic-fullname" class="font-bold text-xl text-main">${userDataLogin.firstname} ${userDataLogin.lastname  ? userDataLogin.lastname : ""} ${userDataLogin.sex == 'Male' ? `<i class="uil uil-mars text-blue-500"></i>` : userDataLogin.sex == "Female" ? `<i class="uil uil-venus text-pink-500"></i>` : ""}</p>
                                    <p id="basic-current-position" class="text-sm text-thrid/60 font-medium mb-1">${userDataLogin.headline}</p>
                                    ${isActive}
                                    </div>
                                </div>
                            <hr>
                            <div class="flex gap-2 mt-3 flex-wrap">
                                ${ACTIVE_SKILL.join("")}
                                ${REMAIN.length != 0 ? `<button class="text-xs bg-main text-white px-2 py-1 rounded-lg">+${REMAIN.length}</button>` : ""}
                            </div>
                            <div class="pt-2">
                                <p class="text-sm flex items-center mt-2"><i class="uil uil-university"></i><span class="ms-2">${userDataLogin.educations.length > 0 ? userDataLogin.educations[0].edu_type + " • " + userDataLogin.educations[0].edu_program + " • " + userDataLogin.educations[0].edu_institution : "Pendidikan belum ditambahkan"}</span></p>
                                <p class="text-sm flex items-center mt-2"><i class="uil uil-bag-alt"></i><span class="ms-2">${userDataLogin.experiences.length > 0 ? userDataLogin.experiences[0].exp_position + " • " + userDataLogin.experiences[0].exp_orgname : "Pengalaman belum ditambahkan"}</span></p>
                            </div>
                        </div>
                    </div>
                `)   
            
                const filteredUserData = usersData.filter(activeUser => {
                    return activeUser.id != userDataLogin.id
                })

                filteredUserData.forEach(user => {
                    let SKILLS = user.skills.map(function(skill){
                        return `<button class="text-xs bg-main text-white px-2 py-1 rounded">${skill.skill.length >= 14 ? skill.skill.substring(0,14)+".." : skill.skill}</button>`
                    })

                    let ACTIVE_SKILL = SKILLS.slice(0,5)
                    let REMAIN = SKILLS.slice(ACTIVE_SKILL.length)
                    $("#cards").append(`
                        <div class="card-user flex flex-col lg:flex-row gap-5 rounded-2xl border border-main p-5 bg-white shadow-md hover:scale-[1.005] duration-100 cursor-pointer">
                            <div class="w-full">
                                <div class="grid grid-market items-center gap-2 pb-2.5">
                                    <div class="w-[70px] max-w-[70px] h-[70px] min-w-[70px] min-h-[70px] rounded-full overflow-hidden mx-auto lg:mx-0">
                                        <img id="basic-profile-pic" src="${user.profile_picture}" onerror="src='/img/no-profile.jpg'" alt="profile-picture" class="w-full h-full object-cover">
                                    </div>
                                    <div class="mb-2">
                                        <p class="id" style="display:none">${user.id}</p>
                                        <p id="basic-fullname" class="font-bold text-xl text-main">${user.firstname} ${user.lastname ? user.lastname : ""} ${user.sex == 'Male' ? `<i class="uil uil-mars text-blue-500"></i>` : user.sex == "Female" ? `<i class="uil uil-venus text-pink-500"></i>` : ""}</p>
                                        <p id="basic-current-position" class="text-sm text-thrid/60 font-medium">${user.headline}</p>
                                        </div>
                                    </div>
                                <hr>
                                <div class="flex gap-2 mt-3 flex-wrap">
                                    ${ACTIVE_SKILL.join("")}
                                    ${REMAIN.length != 0 ? `<button class="text-xs bg-main text-white px-2 py-1 rounded-lg">+${REMAIN.length}</button>` : ""}
                                </div>
                                <div class="pt-2">
                                    <p class="text-sm flex items-center mt-2"><i class="uil uil-university"></i><span class="ms-2">${user.educations.length > 0 ? user.educations[0].edu_type + " • " + user.educations[0].edu_program : "No Education Added"} • ${user.educations.length > 0 ? user.educations[0].edu_institution : "No Education Added"}</span></p>
                                    <p class="text-sm flex items-center mt-2"><i class="uil uil-bag-alt"></i><span class="ms-2">${user.experiences.length > 0 ? user.experiences[0].exp_position + " • " + user.experiences[0].exp_orgname : "Pengalaman belum ditambahkan"}</span></p>
                                </div>
                            </div>
                        </div>
                    `)
                });
            }else{
                usersData.forEach(user => {
                    let SKILLS = user.skills.map(function(skill){
                        return `<button class="text-xs bg-main text-white px-2 py-1 rounded">${skill.skill.length >= 14 ? skill.skill.substring(0,14)+".." : skill.skill}</button>`
                    })

                    let ACTIVE_SKILL = SKILLS.slice(0,5)
                    let REMAIN = SKILLS.slice(ACTIVE_SKILL.length)
                    $("#cards").append(`
                        <div class="card-user flex flex-col lg:flex-row gap-5 rounded-2xl border border-main p-5 bg-white shadow-md hover:scale-[1.005] duration-100 cursor-pointer">
                            <div class="w-full">
                                <div class="grid grid-market items-center gap-2 pb-2.5">
                                    <div class="w-[70px] max-w-[70px] h-[70px] min-w-[70px] min-h-[70px] rounded-full overflow-hidden mx-auto lg:mx-0">
                                        <img id="basic-profile-pic" src="${user.profile_picture}" onerror="src='/img/no-profile.jpg'" alt="profile-picture" class="w-full h-full object-cover">
                                    </div>
                                    <div class="mb-2">
                                        <p class="id" style="display:none">${user.id}</p>
                                        <p id="basic-fullname" class="font-bold text-xl text-main">${user.firstname} ${user.lastname ? user.lastname : ""} ${user.sex == 'Male' ? `<i class="uil uil-mars text-blue-500"></i>` : user.sex == "Female" ? `<i class="uil uil-venus text-pink-500"></i>` : ""}</p>
                                        <p id="basic-current-position" class="text-sm text-thrid/60 font-medium">${user.headline}</p>
                                        </div>
                                    </div>
                                <hr>
                                <div class="flex gap-2 mt-3 flex-wrap">
                                    ${ACTIVE_SKILL.join("")}
                                    ${REMAIN.length != 0 ? `<button class="text-xs bg-main text-white px-2 py-1 rounded-lg">+${REMAIN.length}</button>` : ""}
                                </div>
                                <div class="pt-2">
                                    <p class="text-sm flex items-center mt-2"><i class="uil uil-university"></i><span class="ms-2">${user.educations.length > 0 ? user.educations[0].edu_type + " • " + user.educations[0].edu_program : "No Education Added"} • ${user.educations.length > 0 ? user.educations[0].edu_institution : "No Education Added"}</span></p>
                                    <p class="text-sm flex items-center mt-2"><i class="uil uil-bag-alt"></i><span class="ms-2">${user.experiences.length > 0 ? user.experiences[0].exp_position + " • " + user.experiences[0].exp_orgname : "Pengalaman belum ditambahkan"}</span></p>
                                </div>
                            </div>
                        </div>
                    `)
                });
            }
        })
    }

    function removeFromArray(arr, valueToRemove) {
        return arr.filter(item => item !== valueToRemove);
    }

    function filterDataById(dataArray, excludeId) {
        console.log(dataArray);
        return dataArray.filter(item => item.id !== excludeId);
    }

    function calculateMonthDifference(startDate, endDate) {
        let start = new Date(startDate);
        let end = new Date(endDate);

        let yearDiff = end.getFullYear() - start.getFullYear();
        let monthDiff = end.getMonth() - start.getMonth();

        if (monthDiff < 0) {
            yearDiff -= 1;
            monthDiff += 12;
        }

        if (yearDiff === 0) {
            return `${monthDiff} Bulan`;
        } else if (yearDiff === 1) {
            return `1 Tahun ${monthDiff} Bulan`;
        } else {
            return `${yearDiff} Tahun ${monthDiff} Bulan`;
        }
    }

    function formatDateMonth(inputDate) {
        // Parse tanggal dalam format "YYYY-MM-DD"
        const dateParts = inputDate.split('-');
        const year = dateParts[0];
        const month = dateParts[1];
    
        // Daftar nama bulan
        const monthNames = [
            'Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun',
            'Jul', 'Agu', 'Sep', 'Okt', 'Nov', 'Des'
        ];
    
        // Konversi komponen bulan ke nama bulan
        const formattedMonth = monthNames[parseInt(month, 10) - 1];
    
        // Gabungkan komponen-komponen dalam format yang diinginkan
        const formattedDate = `${formattedMonth} ${year}`;
    
        return formattedDate;
    }

    const decrypt = (data, keys='<%= process.env.AES_KEYS %>') => {
        let bytes = CryptoJS.AES.decrypt(data, keys)
        return JSON.parse(bytes.toString(CryptoJS.enc.Utf8))
    }

    function getFormattedDate() {
        const today = new Date();
        const year = today.getFullYear();
        const month = String(today.getMonth() + 1).padStart(2, '0'); // Dapat ditambahkan 1 karena bulan dimulai dari 0.
        const day = String(today.getDate()).padStart(2, '0');
    
        const formattedDate = `${year}-${month}-${day}`;
        return formattedDate;
    }


</script>