@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

html {
  scroll-behavior: smooth;
}

.noise{
  background-image: url("/img/noise-dark.png");
}

html::-webkit-scrollbar, div::-webkit-scrollbar {
  width: 4px;
}

/* Track */
html::-webkit-scrollbar-track, div::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
html::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
  background: #47A992;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover, div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-scroll{
  overflow: hidden;
}